<div class="alert alert-primary">In cards with charts, We have used <strong>Angular Apex charts</strong>. Please read the official <a href="https://apexcharts.com/angular-chart-demos/"><strong><u>documentation</u></strong></a> for a full list of instructions and other options.</div>
<!-- Card Statistics with Chart -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Card Statistics with Chart</h5>
  </div>
  <div class="card-body">
    <p><strong>module.ts</strong></p>
    <markdown ngPreserveWhitespaces lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; NgApexchartsModule &#125; from 'ng-apexcharts';
      ...
      ...
      @NgModule(&#123;
        declarations: [
        ...
        ],
        imports: [
          ...
          NgApexchartsModule
        ],
        providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1"><strong>Interface :</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```typescript
      import &#123;
      ApexAxisChartSeries,
      ApexChart,
      ApexDataLabels,
      ApexTooltip,
      ApexStroke,
      ApexFill
      &#125; from 'ng-apexcharts';

      export interface ChartOptions &#123;
        series: ApexAxisChartSeries;
        chart: ApexChart;
        stroke: ApexStroke;
        tooltip: ApexTooltip;
        dataLabels: ApexDataLabels;
        fill: ApexFill;
        colors: string[];
      &#125;
      ```
    </markdown>
  </div>
</div>
<!--/ Card Statistics with Chart -->

<!-- Card Statistics with Chart Area Spline  -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title"> Card Statistics with Chart Area Spline </h5>
  </div>
  <div class="card-body">
    <p class="mt-1"><strong>component.html :</strong></p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;div class="card"&gt;
        &lt;div class="card-header d-flex flex-column align-items-start pb-0"&gt;
          &lt;div class="avatar bg-rgba-primary p-50 m-0"&gt;
            &lt;div class="avatar-content"&gt;
              &lt;i class="feather icon-users text-primary font-medium-5"&gt;&lt;/i&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;h2 class="text-bold-700 mt-1"&gt;92.6k&lt;/h2&gt;
          &lt;p class="mb-0"&gt;Subscribers Gained&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="card-content"&gt;
          &lt;!-- Apexchart component--&gt;
          &lt;div id="gainedChartoptions"&gt;
            &lt;apx-chart
              [series]="gainedChartoptions.series"
              [chart]="gainedChartoptions.chart"
              [stroke]="gainedChartoptions.stroke"
              [fill]="gainedChartoptions.fill"
              [tooltip]="gainedChartoptions.tooltip"
              [colors]="gainedChartoptions.colors"
              [dataLabels]="gainedChartoptions.dataLabels"
            &gt;&lt;/apx-chart&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      ```
    </markdown>
    <p class="mt-1"><strong>component.ts :</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```typescript
      public gainedChartoptions: Partial &lt;ChartOptions&gt;;
      //...
      private $primary = '#7367F0';

      constructor() &#123;

        this.gainedChartoptions = &#123;
          chart: &#123;
            height: 100,
            type: 'area',
            toolbar: v&#123;
              show: false
            &#125;,
            sparkline: v&#123;
              enabled: true
            &#125;
          &#125;,
          colors: [this.$primary],
          dataLabels: &#123;
            enabled: false
          &#125;,
          stroke: &#123;
            curve: 'smooth',
            width: 2.5
          &#125;,
          fill: &#123;
            type: 'gradient',
            gradient: &#123;
              shadeIntensity: 0.9,
              opacityFrom: 0.7,
              opacityTo: 0.5,
              stops: [0, 80, 100]
            &#125;
          &#125;,
          series: [
            &#123;
              name: 'Subscribers',
              data: [28, 40, 36, 52, 38, 60, 55]
            &#125;
          ],
          tooltip: v&#123;
            x: v&#123; show: false &#125;
            &#125;
        &#125;;
      &#125;
      ```
    </markdown>
    <img src="../../../assets/images/card-statistics/card-statistics-chart-spline.jpg" class="img-fluid mt-1" alt="card statistics">

  </div>
</div>
<!--/ Card Statistics with Chart Area Spline  -->

<!-- Card Statistics with Chart Line   -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Card Statistics with Chart Line</h5>
  </div>
  <div class="card-body">
    <p class="mt-1"><strong>component.html :</strong></p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;div class="card"&gt;
        &lt;div class="card-header d-flex align-items-start pb-0"&gt;
          &lt;div&gt;
            &lt;h2 class="text-bold-700"&gt;78.9 &lt;/h2&gt;
            &lt;p class="mb-0"&gt;Site Traffic &lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="avatar bg-rgba-primary p-50"&gt;
            &lt;div class="avatar-content"&gt;
              &lt;i class="feather icon-monitor text-primary font-medium-5" &lt;/i&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="card-content"&gt;
          &lt;!-- Apexchart component--&gt;
          &lt;div id="trafficChartoptions"&gt;
            &lt;apx-chart
              [series]="trafficChartoptions.series"
              [chart]="trafficChartoptions.chart"
              [stroke]="trafficChartoptions.stroke"
              [tooltip]="trafficChartoptions.tooltip"
              [colors]="trafficChartoptions.colors"
              [dataLabels]="trafficChartoptions.dataLabels"
            &gt;&lt;/apx-chart&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      ```
    </markdown>
    <p class="mt-1"><strong>component.ts :</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```typescript
      public trafficChartoptions: Partial &lt;ChartOptions&gt;;
      //...
      private $primary = '#7367F0';
      private $primary_light = '#A9A2F6';


      constructor() &#123;

        // Site Traffic Chart
        this.trafficChartoptions = &#123;
          chart: &#123;
            height: 100,
            type: 'line',
            dropShadow: &#123;
              enabled: true,
              top: 5,
              left: 0,
              blur: 4,
              opacity: 0.1
            &#125;,
            toolbar: &#123;
              show: false
            &#125;,
            sparkline: &#123;
              enabled: true
            &#125;
          &#125;,
          colors: [this.$primary],
          dataLabels: &#123;
            enabled: false
          &#125;,
          stroke: &#123;
            curve: 'smooth',
            width: 5
          &#125;,
          fill: &#123;
            type: 'gradient',
            gradient: &#123;
              shadeIntensity: 1,
              gradientToColors: [this.$primary_light],
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100, 100, 100]
            &#125;
          &#125;,
          series: [
            &#123;
              name: 'Traffic Rate',
              data: [150, 200, 125, 225, 200, 250]
            &#125;
          ],
          tooltip: &#123;
            x: &#123; show: false &#125;
          &#125;
        &#125;;
      &#125;
      ```
    </markdown>
    <img src="../../../assets/images/card-statistics/card-statistics-chart-line.jpg" class="img-fluid mt-1" alt="card statistics Chart Line">

  </div>
</div>
<!--/ Card Statistics with Chart Line -->

