<div class="row">
  <div class="col-12">
    <app-navbar></app-navbar>
  </div>
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10 p-50 border">
    <app-content></app-content>
  </div>
</div>
