- var dashLink = "../../../html/"+ useDirection +"/"+ useLayout +"/"+ "index.html"

nav.header-navbar.navbar.navbar-expand-lg.align-items-center(class=navbarPosition + ' '+ navbarColor, class=(navbarBorder == true ? 'navbar-border' : ''), class=(navbarShadow == true ? 'navbar-shadow' : ''), class=(navbarBrandCenter == true ? 'navbar-brand-center' : ''), class=(boxedLayout == true ? 'container boxed-layout' : ''), class=((isContainer === true && navbarPosition === 'floating-nav') ? 'container-xxl' : ''))
  .navbar-container.d-flex(class= (centerLayout == true ? 'container center-layout' : 'content'))
    .bookmark-wrapper.d-flex.align-items-center
      if (contentLayout != '1-column')
        ul.nav.navbar-nav.d-xl-none
          li.nav-item
            a.nav-link.menu-toggle(href='javascript:void(0);')
              i.ficon(data-feather="menu")
              //- i.ficon.feather.icon-menu
      ul.nav.navbar-nav.bookmark-icons
        li.nav-item.d-none.d-lg-block
          a.nav-link(href="app-email.html",data-toggle="tooltip",data-placement="top",title="Email")
            i.ficon(data-feather="mail")
        li.nav-item.d-none.d-lg-block
          a.nav-link(href="app-chat.html",data-toggle="tooltip",data-placement="top",title="Chat")
            i.ficon(data-feather="message-square")
        li.nav-item.d-none.d-lg-block
          a.nav-link(href="app-calendar.html",data-toggle="tooltip",data-placement="top",title="Calendar")
            i.ficon(data-feather="calendar")
        li.nav-item.d-none.d-lg-block
          a.nav-link(href="app-todo.html",data-toggle="tooltip",data-placement="top",title="Todo")
            i.ficon(data-feather="check-square")
      ul.nav.navbar-nav
        li.nav-item.d-none.d-lg-block
          a.nav-link.bookmark-star
            i.ficon.text-warning(data-feather="star")
          .bookmark-input.search-input
            .bookmark-input-icon
                i(data-feather="search")
            input.form-control.input(type='text', placeholder='Bookmark', tabindex='0', data-search="search")
            ul.search-list.search-list-bookmark

    ul.nav.navbar-nav.align-items-center.ml-auto
      li.nav-item.dropdown.dropdown-language
        a.nav-link.dropdown-toggle#dropdown-flag(href='javascript:void(0);', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.flag-icon.flag-icon-us
          span.selected-language English
        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown-flag')
          a.dropdown-item(href='javascript:void(0);', data-language="en")
            i.flag-icon.flag-icon-us
            |  English
          a.dropdown-item(href='javascript:void(0);', data-language="fr")
            i.flag-icon.flag-icon-fr
            |  French
          a.dropdown-item(href='javascript:void(0);', data-language="de")
            i.flag-icon.flag-icon-de
            |  German
          a.dropdown-item(href='javascript:void(0);', data-language="pt")
            i.flag-icon.flag-icon-pt
            |  Portuguese
      li.nav-item.d-none.d-lg-block
        a.nav-link.nav-link-style
          if(style == '-dark')
            i.ficon(data-feather="sun")
          else
            i.ficon(data-feather="moon")
      li.nav-item.nav-search
        a.nav-link.nav-link-search
          i.ficon(data-feather="search")
        .search-input
          .search-input-icon
              i(data-feather="search" class="")
          input.form-control.input(type='text', placeholder='Explore Vuexy...', tabindex='-1', data-search="search")
          .search-input-close
              i(data-feather="x")
          ul.search-list.search-list-main
      li.nav-item.dropdown.dropdown-cart.mr-25
        a.nav-link(href='javascript:void(0);', data-toggle='dropdown')
          i.ficon(data-feather="shopping-cart")
          span.badge.badge-pill.badge-primary.badge-up.cart-item-count 6
        ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
          li.dropdown-menu-header
            .dropdown-header.d-flex
                h4.notification-title.mb-0.mr-auto My Cart
                .badge.badge-pill.badge-light-primary 4 Items
          li.scrollable-container.media-list
            .media.align-items-center
              img.d-block.rounded.mr-1(src=app_assets_path+'/images/pages/eCommerce/1.png' alt='donuts' width='62')
              .media-body
                i.ficon.cart-item-remove(data-feather="x")
                .media-heading
                  h6.cart-item-title
                    a.text-body(href='app-ecommerce-details.html')  Apple watch 5
                  small.cart-item-by By Apple
                div.cart-item-qty
                  .input-group
                    input.touchspin-cart(type='number' value='1')
                h5.cart-item-price $374.90
            .media.align-items-center
              img.d-block.rounded.mr-1(src=app_assets_path+'/images/pages/eCommerce/7.png' alt='donuts' width='62')
              .media-body
                i.ficon.cart-item-remove(data-feather="x")
                .media-heading
                  h6.cart-item-title
                    a.text-body(href='app-ecommerce-details.html')  Google Home Mini
                  small.cart-item-by By Google
                div.cart-item-qty
                  .input-group
                    input.touchspin-cart(type='number' value='3')
                h5.cart-item-price $129.40
            .media.align-items-center
              img.d-block.rounded.mr-1(src=app_assets_path+'/images/pages/eCommerce/2.png' alt='donuts' width='62')
              .media-body
                i.ficon.cart-item-remove(data-feather="x")
                .media-heading
                  h6.cart-item-title
                    a.text-body(href='app-ecommerce-details.html')  iPhone 11 Pro
                  small.cart-item-by By Apple
                div.cart-item-qty
                  .input-group
                    input.touchspin-cart(type='number' value='2')
                h5.cart-item-price $699.00
            .media.align-items-center
              img.d-block.rounded.mr-1(src=app_assets_path+'/images/pages/eCommerce/3.png' alt='donuts' width='62')
              .media-body
                i.ficon.cart-item-remove(data-feather="x")
                .media-heading
                  h6.cart-item-title
                    a.text-body(href='app-ecommerce-details.html')  iMac Pro
                  small.cart-item-by By Apple
                div.cart-item-qty
                  .input-group
                    input.touchspin-cart(type='number' value='1')
                h5.cart-item-price $4,999.00
            .media.align-items-center
              img.d-block.rounded.mr-1(src=app_assets_path+'/images/pages/eCommerce/5.png' alt='donuts' width='62')
              .media-body
                i.ficon.cart-item-remove(data-feather="x")
                .media-heading
                  h6.cart-item-title
                    a.text-body(href='app-ecommerce-details.html')  MacBook Pro
                  small.cart-item-by By Apple
                div.cart-item-qty
                  .input-group
                    input.touchspin-cart(type='number' value='1')
                h5.cart-item-price $2,999.00
          li.dropdown-menu-footer
            .d-flex.justify-content-between.mb-1
              h6.font-weight-bolder.mb-0 Total:
              h6.text-primary.font-weight-bolder.mb-0 $10,999.00
            a.btn.btn-primary.btn-block(href='app-ecommerce-checkout.html') Checkout
      li.nav-item.dropdown.dropdown-notification.mr-25
        a.nav-link(href='javascript:void(0);', data-toggle='dropdown')
          i.ficon(data-feather="bell")
          span.badge.badge-pill.badge-danger.badge-up 5
        ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
          li.dropdown-menu-header
            .dropdown-header.d-flex
                h4.notification-title.mb-0.mr-auto Notifications
                .badge.badge-pill.badge-light-primary 6 New
          li.scrollable-container.media-list
            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar
                    img(src=app_assets_path+'/images/portrait/small/avatar-s-15.jpg' alt='avatar' width='32' height='32')
                .media-body
                  p.media-heading
                    span.font-weight-bolder Congratulation Sam 🎉
                    | winner!
                  small.notification-text  Won the monthly best seller badge.
            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar
                    img(src=app_assets_path+'/images/portrait/small/avatar-s-3.jpg' alt='avatar' width='32' height='32')
                .media-body
                  p.media-heading
                    span.font-weight-bolder New message
                    | &nbsp;received
                  small.notification-text  You have 10 unread messages
            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar.bg-light-danger
                    .avatar-content MD
                .media-body
                  p.media-heading
                    span.font-weight-bolder Revised Order 👋
                    | &nbsp;checkout
                  small.notification-text  MD Inc. order updated
            .media.d-flex.align-items-center
              h6.font-weight-bolder.mr-auto.mb-0 System Notifications
              .custom-control.custom-control-primary.custom-switch
                input#systemNotification.custom-control-input(type='checkbox' checked='')
                label.custom-control-label(for='systemNotification')

            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar.bg-light-danger
                    .avatar-content
                      i.avatar-icon(data-feather="x")
                .media-body
                  p.media-heading
                    span.font-weight-bolder Server down
                    | &nbsp;registered
                  small.notification-text  USA Server is down due to hight CPU usage
                //- small
                //-   time.media-meta(datetime='2015-06-11T18:29:20+08:00') 8 minutes
            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar.bg-light-success
                    .avatar-content
                      i.avatar-icon(data-feather="check")
                .media-body
                  p.media-heading
                    span.font-weight-bolder Sales report
                    | &nbsp;generated
                  small.notification-text  Last month sales report generated
                //- small
                //-   time.media-meta(datetime='2015-06-11T18:29:20+08:00') today
            a(href='javascript:void(0)').d-flex
              .media.d-flex.align-items-start
                .media-left
                  .avatar.bg-light-warning
                    .avatar-content
                      i.avatar-icon(data-feather="alert-triangle")
                .media-body
                  p.media-heading
                    span.font-weight-bolder High memory
                    | &nbsp;usage
                  small.notification-text  BLR Server using high memory
                //- small
                //-   time.media-meta(datetime='2015-06-11T18:29:20+08:00') yesterday
          li.dropdown-menu-footer
            a.btn.btn-primary.btn-block(href='javascript:void(0)') Read all notifications
      li.nav-item.dropdown.dropdown-user
        a.nav-link.dropdown-toggle.dropdown-user-link#dropdown-user(href='javascript:void(0);', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .user-nav.d-sm-flex.d-none
            span.user-name.font-weight-bolder John Doe
            span.user-status Admin
          span.avatar
            img.round(src=app_assets_path+'/images/portrait/small/avatar-s-11.jpg', alt='avatar', height = '40', width = '40' )
            span.avatar-status-online
        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown-user')
          a.dropdown-item(href='page-profile.html')
            i.mr-50(data-feather="user")
            |  Profile
          a.dropdown-item(href='app-email.html')
            i.mr-50(data-feather="mail")
            |  Inbox
          a.dropdown-item(href='app-todo.html')
            i.mr-50(data-feather="check-square")
            |  Task
          a.dropdown-item(href='app-chat.html')
            i.mr-50(data-feather="message-square")
            |  Chats
          .dropdown-divider
          a.dropdown-item(href='page-account-settings.html')
            i.mr-50(data-feather="settings")
            |  Settings
          a.dropdown-item(href='page-pricing.html')
            i.mr-50(data-feather="credit-card")
            |  Pricing
          a.dropdown-item(href='page-faq.html')
            i.mr-50(data-feather="help-circle")
            |  FAQ
          a.dropdown-item(href='page-auth-login-v2.html')
            i.mr-50(data-feather="power")
            |  Logout

//- main page search content
ul.main-search-list-defaultlist.d-none
  li.d-flex.align-items-center
    a(href='javascript:void(0);')
      h6.section-label.mt-75.mb-0 Files
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.w-100(href='app-file-manager.html')
      .d-flex
        .mr-75
          img(src=app_assets_path+'/images/icons/xls.png' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 Two new item submitted
          small.text-muted Marketing Manager
      small.search-data-size.mr-50.text-muted
        | &apos;17kb
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.w-100(href='app-file-manager.html')
      .d-flex
        .mr-75
          img(src=app_assets_path+'/images/icons/jpg.png' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 52 JPG file Generated
          small.text-muted FontEnd Developer
      small.search-data-size.mr-50.text-muted
        | &apos;11kb
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.w-100(href='app-file-manager.html')
      .d-flex
        .mr-75
          img(src=app_assets_path+'/images/icons/pdf.png' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 25 PDF File Uploaded
          small.text-muted Digital Marketing Manager
      small.search-data-size.mr-50.text-muted
        | &apos;150kb
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.w-100(href='app-file-manager.html')
      .d-flex
        .mr-75
          img(src=app_assets_path+'/images/icons/doc.png' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 Anna_Strong.doc
          small.text-muted Web Designer
      small.search-data-size.mr-50.text-muted
        | &apos;256kb
  li.d-flex.align-items-center
    a(href='javascript:void(0);')
      h6.section-label.mt-75.mb-0 Members
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='app-user-view.html')
      .d-flex.align-items-center
        .avatar.mr-75
          img(src=app_assets_path+'/images/portrait/small/avatar-s-8.jpg' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 John Doe
          small.text-muted UI designer
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='app-user-view.html')
      .d-flex.align-items-center
        .avatar.mr-75
          img(src=app_assets_path+'/images/portrait/small/avatar-s-1.jpg' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 Michal Clark
          small.text-muted FontEnd Developer
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='app-user-view.html')
      .d-flex.align-items-center
        .avatar.mr-75
          img(src=app_assets_path+'/images/portrait/small/avatar-s-14.jpg' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 Milena Gibson
          small.text-muted Digital Marketing Manager
  li.auto-suggestion
    a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='app-user-view.html')
      .d-flex.align-items-center
        .avatar.mr-75
          img(src=app_assets_path+'/images/portrait/small/avatar-s-6.jpg' alt='png' height='32')
        .search-data
          p.search-data-title.mb-0 Anna Strong
          small.text-muted Web Designer

//- main page search search not found
ul.main-search-list-defaultlist-other-list.d-none
  li.auto-suggestion.justify-content-between
    a.d-flex.align-items-center.justify-content-between.w-100.py-50
      .d-flex.justify-content-start
        span.mr-75(data-feather="alert-circle")
        span No results found.
