<div class="card">
  <div class="card-header">
    <h4 class="card-title">Breadcrumb</h4>
  </div>
  <div class="card-body">
    <p>Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.</p>
    <p>module.ts :</p>
    <markdown ngPreserveWhitespaces  lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; BreadcrumbModule &#125; from './src\app\layout\components\content-header\breadcrumb\breadcrumb.module.ts';
      ...
      ...
      @NgModule(&#123;
        declarations: [
        ...
        ],
        imports: [
          ...
          BreadcrumbModule
        ],
        providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;app-breadcrumb [breadcrumb]="breadcrumbVariable"&gt;&lt;/app-breadcrumb&gt;
      ```
    </markdown>
    <p class="mt-1">component.ts :</p>
  <markdown ngPreserveWhitespaces lineNumbers>
    ```typescript
    import &#123; Breadcrumb &#125; from 'app/layout/components/content-header/breadcrumb/breadcrumb.component';


    public breadcrumbVariable: Breadcrumb;

    this.breadcrumbVariable = &#123;
      type: 'slash', // slash, dots, dashes, pipes, chevron
      responsive: false,
      links: [
        &#123;
          name: 'Home',
          isLink: true,
          link: '#'
        &#125;,
        &#123;
          name: 'Library',
          isLink: true,
          link: ''
        &#125;,
        &#123;
          name: 'Data',
          isLink: false
        &#125;
      ]
    &#125;;
    ```
  </markdown>
  <p class="mt-1">Interface :</p>
  <markdown ngPreserveWhitespaces lineNumbers>
    ```typescript
    // Breadcrumb component interface
    export interface Breadcrumb &#123;
      type?: string;
      responsive?: boolean;
      alignment?: string;
      links?: Array<&#123;
        name: string;
        isLink: boolean;
        link?: string;
      &#125;>;
    &#125;
    ```
  </markdown>
  <h5 class="mt-1">Breadcrumb Default</h5>
  <img src="../../../assets/images/breadcrumbs/breadcrumb-default.jpg" class="img-fluid mt-1" alt="breadcrumbs">
  <h5 class="mt-1">Breadcrumb with Types</h5>
  <img src="../../../assets/images/breadcrumbs/breadcrumbs-types.jpg" class="img-fluid mt-1" alt="breadcrumbs types">

  </div>
</div>


<!-- API -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">API</h4>
    </div>
    <div class="card-body">
      <h4>Component</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Selector</th>
          <th>Input</th>
          <th width="50%">Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>BreadcrumbsComponent</strong></td>
            <td><code>app-breadcrumbs</code></td>
            <td>
              <code>breadcrumb</code>
              <p>
                Type: Breadcrumb
              </p>
            </td>
            <td>Create Breadcrumb component by passing variable of type <code>Breadcrumb</code> to input property of <code>app-breadcrumbs</code>.</td>
          </tr>
        </tbody>
      </table>
      <h4>Property</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>type</strong></td>
            <td><code>string</code></td>
            <td>Change the separator between breadcrumb item by changing type to <code>slash | dots | dashes | pipes | chevron</code >. <strong>Default</strong> type is <code>chevrons</code></td>
          </tr>
          <tr>
            <td><strong>responsive</strong></td>
            <td><code>boolean</code></td>
            <td>If <code>true</code> breadcrumb will be responsive ie. In small screen breadcrumb will be Hidden. <strong>Default</strong> responsive is <code>true</code></td>
          </tr>
          <tr>
            <td><strong>links</strong></td>
            <td><code>Array&lt;object&gt;</code></td>
            <td>
              <table>
                <thead>
                  <th>Property</th>
                  <th>Type</th>
                  <th>Description</th>
                </thead>
                <tbody>
                  <tr>
                    <td>name</td>
                    <td><code>String</code></td>
                    <td>Name of the breadcrumb.</td>
                  </tr>
                  <tr>
                    <td>isLink</td>
                    <td><code>boolean</code></td>
                    <td>If <code>true</code>, name will have an anchored link.</td>
                  </tr>
                  <tr>
                    <td>link</td>
                    <td><code>string</code></td>
                    <td>Link attached as anchor to the name.</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- API -->
