<div class="card">
  <div class="card-header">
    <h4 class="card-title">Content Header</h4>
  </div>
  <div class="card-body">
    <p>module.ts :</p>
    <markdown ngPreserveWhitespaces  lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; ContentHeaderModule &#125; from 'app/layout/components/content-header/content-header.module';
      ...
      ...
      @NgModule(&#123;
        declarations: [
        ...
        ],
        imports: [
          ...
          ContentHeaderModule
        ],
        providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;app-content-header [contentHeader]="contentHeaderVariable"&gt;&lt;/app-content-header&gt;
      ```
    </markdown>
    <p class="mt-1">component.ts :</p>
  <markdown ngPreserveWhitespaces lineNumbers>
    ```typescript
    import &#123; ContentHeader &#125; from './../../../layout/components/content-header/content-header.component';

    public contentHeaderVariable: ContentHeader;

    ngOnInit() &#123;
      this.contentHeaderVariable = &#123;
        headerTitle: 'Header Title',
        actionButton: true
      &#125;;
    &#125;
    ```
  </markdown>
  <p class="mt-1">Interface :</p>
  <markdown ngPreserveWhitespaces lineNumbers>
    ```typescript
    // ContentHeader component interface
    export interface ContentHeader &#123;
      headerTitle: string;
      actionButton: boolean;
      breadcrumb?: &#123;
        type?: string;
        links?: Array<
          &#123;
            name?: string;
            isLink?: boolean;
            link?: string;
          &#125;
        >;
      &#125;;
    &#125;
    ```
  </markdown>
  <h5 class="mt-1">Content Header</h5>
    <img src="../../../assets/images/content-header/content-header.jpg" class="img-fluid mt-1" alt="content-header">
    <h5 class="mt-1">Content Header with breadcrumb</h5>
    <img src="../../../assets/images/content-header/content-header-breadcrumb.jpg" class="img-fluid mt-1" alt="content-header with breadcrumb">

  </div>
</div>


<!-- API -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">API</h4>
    </div>
    <div class="card-body">
      <h4>Component</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Selector</th>
          <th>Input</th>
          <th width="50%">Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>ContentHeaderComponent</strong></td>
            <td><code>app-content-header</code></td>
            <td>
              <code>contentHeader</code>
              <p>
                Type: ContentHeader
              </p>
            </td>
            <td>Create content header component by passing variable of type <code>ContentHeader</code> to input property of <code>contentHeader</code>.</td>
          </tr>
        </tbody>
      </table>
      <h4>Property</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>headerTitle</strong></td>
            <td><code>string</code></td>
            <td>To add Header Title to the content-header component.</td>
          </tr>
          <tr>
            <td><strong>actionButton</strong></td>
            <td><code>boolean</code></td>
            <td>To get action button pass <code>true</code> as value to <code>actionButton</code> property of content-header component.</td>
          </tr>
          <tr>
            <td><strong>breadcrumb</strong></td>
            <td><code>object</code></td>
            <td>To get content-header with with breadcrumb.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- API -->
