<template>
  <div :class="{'activeSuggestion': activeSuggestion}" class="sidebar">
    <div class="c-sidebar">

    <slot name="top"/>

    <SearchBox v-if="$site.themeConfig.search !== false"/>

    <NavLinks/>
    <ul class="sidebar-links" v-if="items.length">
      <li v-for="(item, i) in items">
        <SidebarGroup v-if="item.type === 'group'"
          :item="item"
          :first="i === 0"
          :open="i === openGroupIndex"
          :collapsable="item.collapsable"
          @toggle="toggleGroup(i)"/>
        <SidebarLink v-else :item="item"/>
      </li>
    </ul>
    <slot name="bottom"/>
  </div>
  </div>
</template>

<script>
import SidebarGroup from './SidebarGroup.vue'
import SidebarLink, { groupHeaders } from './SidebarLink.vue'
import NavLinks from './NavLinks.vue'
import SearchBox from './SearchBox.vue'
import { isActive, resolveSidebarItems } from './util'

export default {
  components: { SidebarGroup, SidebarLink, NavLinks, SearchBox },
  props: ['items'],
  data () {
    return {
      openGroupIndex: 0,
      activeSuggestion: false
    }
  },
  created () {
    this.refreshIndex()
  },
  watch: {
    '$route' () {
      this.refreshIndex()
    }
  },
  methods: {
    refreshIndex () {
      const index = resolveOpenGroupIndex(
        this.$route,
        this.items
      )
      if (index > -1) {
        this.openGroupIndex = index
      }
    },
    toggleGroup (index) {
      this.openGroupIndex = index === this.openGroupIndex ? -1 : index
    },
    isActive (page) {
      return isActive(this.$route, page.path)
    }
  }
}

function resolveOpenGroupIndex (route, items) {
  for (let i = 0; i < items.length; i++) {
    const item = items[i]
    if (item.type === 'group' && item.children.some(c => isActive(route, c.path))) {
      return i
    }
  }
  return -1
}
</script>

<style lang="stylus">
@import './styles/config.styl'

.c-sidebar
  width: calc(100% - 5px)
  margin-right: 5px;
  overflow: auto;
  height: calc(100% - 10px);
  margin-top: 1rem;
  padding-right: 5px;
.sidebar
  &.activeSuggestion
    .sidebar-links
      filter: blur(3px);
  ul
    padding 0
    margin 0
    list-style-type none
  a
    display inline-block

  .nav-links
    display none
    border-bottom 1px solid $borderColor
    padding 0.5rem 0 0.75rem 0
    a
      font-weight 600
      opacity: 1 !important;
    .nav-item, .repo-link
      display block
      line-height 1.25rem
      font-size 1.1em
      padding 0.5rem 0 0.5rem 1.5rem
  .sidebar-links
    padding 1rem 0
@media (max-width: $MQMobile)
  .sidebar
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.040)
    .nav-links
      display block
    .sidebar-links
      padding 1rem 0 !important
</style>
