<div class="card">
  <div class="card-header">
    <h4 class="card-title">Core card Snippet</h4>
  </div>
  <div class="card-body">
      <p>To use <code>core-card-snippet</code> component, import <code>CardSnippetModule</code> to the respective <code>NgModule</code>. </p>
  <p>module.ts :</p>
  <markdown ngPreserveWhitespaces lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; CardSnippetModule &#125; from ''@core/components/card-snippet/card-snippet.module';
      ...
      ...
      @NgModule(&#123;
        declarations: [
        ...
        ],
        imports: [
          ...
          CardSnippetModule
        ],
        providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;core-card-snippet [snippetCode]="customVariable"&gt;
        &lt;span class="card-snippet-title"&gt;Title&lt;/span&gt;
        &lt;div class="card-snippet-body"&gt;
          Body
        &lt;/div&gt;
      &lt;/core-card-snippet&gt;
      ```
    </markdown>
    <p class="mt-1">component.ts :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```typescript
      import &#123; snippetCode &#125; from '@core/components/card-snippet/card-snippet.component';
      ...
      public customVariable: snippetCode = &#123;
        html: `
        &lt;p&gt; Your HTML code here...&lt;/p&gt;
        `,
        ts:`
        your typescript code here...
        `,
        scss:`
        your scss here...
        `,
        json:`
        Json code here...
        `
      &#125;;
      ```
    </markdown>
<img src="../../../assets/images/core-card-snippet/core-card-snippet.gif" class="img-fluid" alt="core card snippet">
  </div>

</div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">API</h4>
    </div>
    <div class="card-body">
      <h4>Component</h4>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Selector</th>
          <th>Input</th>
          <th width="50%">Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>CoreCardSnippetComponent</strong></td>
            <td><code>core-card-snippet</code></td>
            <td>
              <code>snippetCode</code>
              <p>
                Type: snippetCode
              </p>
            </td>
            <td>Create <strong>HTML | TS | SCSS | JSON</strong> code snippets with tabs by passing <code>&#123; html | ts | scss | json &#125;</code> as key value pair to the <code>snippetCode</code> input Property.</td>
          </tr>
        </tbody>
      </table>
      <h4>Class</h4>
      <table class="table table-bordered">
        <thead>
          <th>Property</th>
          <th>Class</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td><code>.card-snippet-title</code></td>
            <td>To add Title to the core-card-snippet component.</td>
          </tr>
          <tr>
            <td><strong>Body</strong></td>
            <td><code>.card-snippet-body</code></td>
            <td>To add Body to the core-card-snippet component.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
