<div class="card">
  <div class="card-header">
    <h4 class="card-title">Core Touchspin</h4>
  </div>
  <div class="card-body">
    <p>module.ts :</p>
    <markdown ngPreserveWhitespaces lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; CoreTouchspinModule &#125; from '@core/components/core-touchspin/core-touchspin.module';
      ...
      ...
      @NgModule(&#123;
      declarations: [
      ...
      ],
      imports: [
      ...
      CoreTouchspinModule
      ],
      providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;core-touchspin&gt;&lt;/core-touchspin&gt;
      ```
    </markdown>

    <h5 class="mt-1">Core Touchspin (Default) </h5>
    <img src="../../../assets/images/core-touchspin/core-touchspin.gif" class="img-fluid mt-1" alt="core-touchspin">


  </div>
</div>


<!-- API -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">API</h4>
  </div>
  <div class="card-body">
    <h4>Component</h4>
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Selector</th>
        <th width="50%">Description</th>
      </thead>
      <tbody>
        <tr>
          <td><strong>CoreTouchspinComponent</strong></td>
          <td><code>core-touchspin</code></td>
          <td>Create basic touchspin component by using <code>&lt;core-touchspin&gt;</code> selector element. Default is <code>0</code>.</td>
        </tr>
      </tbody>
    </table>
    <h4>Property</h4>
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td><strong>numberValue</strong></td>
          <td><code>number</code></td>
          <td>To show initial default value.</td>
        </tr>
        <tr>
          <td><strong>iconChevron</strong></td>
          <td><code>boolean</code></td>
          <td>To use chevron icons. Default icons are <code>+</code> & <code>-</code>.</td>
        </tr>
        <tr>
          <td><strong>disable</strong></td>
          <td><code>boolean</code></td>
          <td>To disable touchspin. Default is <code>false</code></td>
        </tr>
        <tr>
          <td><strong>size</strong></td>
          <td><code>string</code></td>
          <td>To make size small or lage use <code>'sm'</code> or <code>'lg'</code>. Default is medium.</td>
        </tr>
        <tr>
          <td><strong>color</strong></td>
          <td><code>string</code></td>
          <td>To change the background color of buttons. Use <code>[color]="'colorName'"</code></td>
        </tr>
        <tr>
          <td><strong>stepValue</strong></td>
          <td><code>number</code></td>
          <td>To set incremental & decremental steps. Eg. set <code>[stepValue]="5"</code> to increment or decrement by 5 step.</td>
        </tr>
        <tr>
          <td><strong>maxValue</strong></td>
          <td><code>number</code></td>
          <td>To set max value for touchspin input number.</td>
        </tr>
        <tr>
          <td><strong>minValue</strong></td>
          <td><code>number</code></td>
          <td>To set min value for touchspin input number.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- API -->
