<div class="pt-2 pr-2">
  <div class="sidebar-content component-sidebar p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Components</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link active" href="#alert">Alert</a></li>
            <li class="nav-item"><a class="nav-link" href="#avatar">Avatar</a></li>
            <li class="nav-item"><a class="nav-link" href="#badges">Badges</a></li>
            <li class="nav-item"><a class="nav-link" href="#breadcrumbs">Breadcrumbs</a></li>
            <li class="nav-item"><a class="nav-link" href="#buttons">Buttons</a></li>
            <li class="nav-item"><a class="nav-link" href="#carousel">Carousel</a></li>
            <li class="nav-item"><a class="nav-link" href="#collapse">Collapse</a></li>
            <li class="nav-item"><a class="nav-link" href="#divider">Divider</a></li>
            <li class="nav-item"><a class="nav-link" href="#dropdown">Dropdown</a></li>
            <li class="nav-item"><a class="nav-link" href="#list-group">List Group</a></li>
            <li class="nav-item"><a class="nav-link" href="#media-object">Media Object</a></li>
            <li class="nav-item"><a class="nav-link" href="#modal">Modal</a></li>
            <li class="nav-item"><a class="nav-link" href="#navs-component">Navs Component</a></li>
            <li class="nav-item"><a class="nav-link" href="#pagination">Pagination</a></li>
            <li class="nav-item"><a class="nav-link" href="#pill-badges">Pill Badges</a></li>
            <li class="nav-item"><a class="nav-link" href="#pills-component">Pills Component</a></li>
            <li class="nav-item"><a class="nav-link" href="#popovers">Popovers</a></li>
            <li class="nav-item"><a class="nav-link" href="#progress">Progress</a></li>
            <li class="nav-item"><a class="nav-link" href="#spinners">Spinners</a></li>
            <li class="nav-item"><a class="nav-link" href="#tabs-component">Tabs Component</a></li>
            <li class="nav-item"><a class="nav-link" href="#timeline">Timeline</a></li>
            <li class="nav-item"><a class="nav-link" href="#toasts">Toasts</a></li>
            <li class="nav-item"><a class="nav-link" href="#tooltips">Tooltips</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
