<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Laravel Integration</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#configuration">Configuration</a></li>
            <li class="nav-item"><a class="nav-link" href="#custom-css">Custom Css</a></li>
            <li class="nav-item"><a class="nav-link" href="#create-new-page">Create New Page</a></li>
            <li class="nav-item"><a class="nav-link" href="#rtl">RTL</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
