<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Laravel Passport</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#intro">Introduction</a></li>
            <li class="nav-item"><a class="nav-link" href="#passport-sanctum">Passport Or Sanctum?</a></li>
            <li class="nav-item"><a class="nav-link" href="#started">Installation</a></li>
            <li class="nav-item"><a class="nav-link" href="#client-uuids">Client UUIDs</a></li>
            <li class="nav-item"><a class="nav-link" href="#deploy-password">Deploying Passport</a></li>
            <li class="nav-item"><a class="nav-link" href="#passport">Passport Authentication</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
