<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Form Layouts</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#vertical-form">Basic Forms</a></li>
            <li class="nav-item"><a class="nav-link" href="#horizontal-form">Horizontal Forms</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
