<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Laravel Sanctum</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#introduction">Introduction</a></li>
            <li class="nav-item"><a class="nav-link" href="#docker">What is the Docker?</a></li>
            <li class="nav-item"><a class="nav-link" href="#installation">Installation & Setup</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#existing-project">Installing Sail Into Existing Applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#alias">Configuring A Bash Alias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sail-execution">Starting & Stopping Sail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#vuexy-docker">How to run the Vuexy template with docker?</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
