<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Utilities</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#utility-text">Text</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a href="#text-font-size" class="nav-link">Font Size</a></li>
                <!-- <li class="nav-item"><a href="#text-svg-size" class="nav-link">SVG Size</a></li> -->
                <li class="nav-item"><a href="#text-line-height" class="nav-link">Line Height</a></li>
                <li class="nav-item"><a href="#text-transform" class="nav-link">Text Transform</a></li>
                <li class="nav-item"><a href="#text-heading-color" class="nav-link">Heading Text Color</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-border">Border</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a href="#border-width" class="nav-link">Border Width</a></li>
                <li class="nav-item"><a href="#border-radius" class="nav-link">Border Radius</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-sizing">Sizing</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a href="#sizing-height" class="nav-link">Height</a></li>
                <li class="nav-item"><a href="#sizing-width" class="nav-link">Width</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-position">Position</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-overflow">Overflow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-cursor">Cursor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-zindex">Z-index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-box-shadow">Box Shadow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-outline">Outline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-lists">List Styles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-table">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-bg-image">Background Image</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-icon">Icon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#utility-spinner">Spinner</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
