<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">HTML Structure</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#folder-structure">Folder Structure</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#html-structure">HTML Structure</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a class="nav-link" href="#basic-html">Basic HTML</a></li>
                <li class="nav-item"><a class="nav-link" href="#navbar">Navbar</a></li>
                <li class="nav-item"><a class="nav-link" href="#menu">Menu</a></li>
                <li class="nav-item"><a class="nav-link" href="#content">Content</a></li>
                <li class="nav-item"><a class="nav-link" href="#footer">Footer</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
