<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Form Elements Navigation</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link" href="#inputs">Input</a></li>
            <li class="nav-item"><a class="nav-link" href="#input-group">Input Group</a></li>
            <li class="nav-item"><a class="nav-link" href="#input-mask">Input Mask</a></li>
            <li class="nav-item"><a class="nav-link" href="#textarea">Textarea</a></li>
            <li class="nav-item"><a class="nav-link" href="#checkbox">Checkbox</a></li>
            <li class="nav-item"><a class="nav-link" href="#radio">Radio</a></li>
            <li class="nav-item"><a class="nav-link" href="#switch">Switch</a></li>
            <li class="nav-item"><a class="nav-link" href="#select">Select</a></li>
            <li class="nav-item"><a class="nav-link" href="#select2">Select2</a></li>
            <li class="nav-item"><a class="nav-link" href="#number-input">Number Input</a></li>
            <li class="nav-item"><a class="nav-link" href="#file-uploader">File Uploader</a></li>
            <li class="nav-item"><a class="nav-link" href="#quill-editor">Quill Editor</a></li>
            <li class="nav-item"><a class="nav-link" href="#date-time-picker">Date & Time Picker</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
