<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Extensions</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link active" href="#sweet-alerts">Sweet Alerts</a></li>
            <li class="nav-item"><a class="nav-link" href="#block-ui">Block UI</a></li>
            <li class="nav-item"><a class="nav-link" href="#toastr">Toastr</a></li>
            <li class="nav-item"><a class="nav-link" href="#noui-slider">NoUi Slider</a></li>
            <li class="nav-item"><a class="nav-link" href="#drag-and-drop">Drag And Drop</a></li>
            <li class="nav-item"><a class="nav-link" href="#tour">Tour</a></li>
            <li class="nav-item"><a class="nav-link" href="#clipboard">Clipboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#media-player">Media Player</a></li>
            <li class="nav-item"><a class="nav-link" href="#context-menu">Context Menu</a></li>
            <li class="nav-item"><a class="nav-link" href="#swiper">Swiper</a></li>
            <li class="nav-item"><a class="nav-link" href="#tree">Tree</a></li>
            <li class="nav-item"><a class="nav-link" href="#ratings">Ratings</a></li>
            <li class="nav-item"><a class="nav-link" href="#i18n">i18n</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
