<div class="pt-2 pr-2">
  <div class="sidebar-content p-1" data-spy="affix" data-offset-top="-77">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Apps</h6>
      </div>
      <div class="card-body">
        <nav id="sidebar-page-navigation">
          <ul id="page-navigation-list" class="nav">
            <li class="nav-item"><a class="nav-link active" href="#email">Email</a></li>
            <li class="nav-item"><a class="nav-link" href="#chat">Chat</a></li>
            <li class="nav-item"><a class="nav-link" href="#todo">ToDo</a></li>
            <li class="nav-item"><a class="nav-link" href="#calendar">Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="#kanban">Kanban</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#invoice">Invoice</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a class="nav-link" href="#invoice-list">List</a></li>
                <li class="nav-item"><a class="nav-link" href="#invoice-preview">Preview</a></li>
                <li class="nav-item"><a class="nav-link" href="#invoice-edit">Edit</a></li>
                <li class="nav-item"><a class="nav-link" href="#invoice-add">Add</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#file-manager">File Manager</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#ecommerce">E-commerce</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a class="nav-link" href="#ecommerce-shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="#ecommerce-details">Details</a></li>
                <li class="nav-item"><a class="nav-link" href="#ecommerce-wishlist">WishList</a></li>
                <li class="nav-item"><a class="nav-link" href="#ecommerce-checkout">Checkout</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#user">User</a>
              <ul class="nav pl-2">
                <li class="nav-item"><a class="nav-link" href="#user-list">List</a></li>
                <li class="nav-item"><a class="nav-link" href="#user-view">View</a></li>
                <li class="nav-item"><a class="nav-link" href="#user-edit">Edit</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
