<div class="p-2 border text-center vh-100">
  <div class="">Sidebar goes here...</div>
  <h5>Custom Pipes</h5>
  <a class="d-block" routerLink="custom-pipes/filter">filter</a>
  <a class="d-block" routerLink="custom-pipes/initials">initials</a>

  <h5>Custom Components</h5>
  <a class="d-block" routerLink="custom-components/core-touchspin">core-touchspin</a>
  <a class="d-block" routerLink="custom-components/card-snippet">card-snippet</a>
  <a class="d-block" routerLink="custom-components/core-card">core-card</a>
  <a class="d-block" routerLink="custom-components/content-header">content-header</a>
  <a class="d-block" routerLink="custom-components/breadcrumb">breadcrumb</a>
  <a class="d-block" routerLink="custom-components/card-statistics">card-statistics</a>
  <a class="d-block" routerLink="custom-components/custom-toasts">custom-toasts</a>
</div>
