---
title: 'Account Deactivated 😔'
preheader: 'Your account on PixInvent is deactivated.'
bodyClass: bg-secondary
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="text-2xl sm:leading-32 text-dark font-semibold m-0 mb-16">
                          Your account is deactivated! 😔
                        </p>

                        <p>Your account is deactivated due to one of the following reason:</p>

                        <ul class="mb-24">
                          <li>You have deactivated your account yourself.</li>
                          <li>PixInvent staff deactivated your account due to policy violation.</li>
                        </ul>

                        <p class="m-0">
                          If you did not intend to deactivate your account or need our help keeping the account, please
                          contact us at
                          <a href="mailto:support@example.com" class="text-primary no-underline hover:underline"
                            >support@example.com</a
                          >
                        </p>

                        <component src="src/components/inner-footer.html"></component>
                      </td>
                    </tr>

                    <component src="src/components/footer-without-unsubscribe.html"></component>
                  </table>
                </td>
              </tr>
            </raw>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
