---
title: 'Welcome to PixInvent 👋'
preheader: 'We are please to welcome you to PixInvent'
bodyClass: bg-secondary
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="text-2xl sm:leading-32 text-dark font-semibold m-0 mb-24">
                          🏆 Best selling #1 admin template ever!
                        </p>
                        <a href="https://1.envato.market/vuexy_admin">
                          <img src="images/item.jpg" width="500" alt="Vuexy Admin" />
                        </a>
                        <p class="m-0 mb-24 mt-24">
                          <span class="font-semibold">Vuexy</span>
                          is the most developer friendly & highly customisable VueJS + HTML Admin Dashboard Template
                          based on Vue CLI, Vuex & Vuexy component framework. 🤩
                        </p>
                        <p class="font-medium text-lg mb-0">How can you use Vuexy for your next project?</p>
                        <ul class="mb-24">
                          <li>
                            Vuexy Admin provides you getting start pages 🚀 with different layouts, use the layout as
                            per your custom requirements and just change the branding, menu & content.
                          </li>
                          <li>
                            Every components in Vuexy Admin are decoupled 🛠, it means use use only components you
                            actually need! Remove unnecessary and extra code easily just by excluding the path to
                            specific SCSS, JS file. 🤟🏻
                          </li>
                        </ul>

                        <table>
                          <tr>
                            <td class="bg-primary rounded font-sans" style="mso-padding-alt: 16px 24px">
                              <a
                                href="https://example.com"
                                class="block font-semibold text-white text-base leading-full py-16 px-24 no-underline"
                                >Browse PixInvent &rarr;</a
                              >
                            </td>
                          </tr>
                        </table>

                        <component src="src/components/inner-footer.html"></component>
                      </td>
                    </tr>

                    <component src="src/components/footer-without-unsubscribe.html"></component>
                  </table>
                </td>
              </tr>
            </raw>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
