---
title: 'Verify Email Address'
preheader: 'Please verify your email address'
bodyClass: bg-secondary
verification_url: http://google.com
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="text-2xl sm:leading-32 text-dark font-semibold m-0 mb-16">
                          Thanks for signing up! 👋
                        </p>

                        <p class="m-0 mb-24">
                          Please verify your email address by clicking the below button and join our creative community,
                          start exploring the resources or showcasing your work.
                        </p>
                        <p class="m-0 mb-24">
                          If you did not sign up to PixInvent, please ignore this email or contact us at
                          <a href="mailto:support@example.com" class="text-primary no-underline hover:underline"
                            >support@example.com</a
                          >
                        </p>

                        <a
                          href="https://pixinvent.com?verification_url"
                          class="block text-primary text-base leading-full mb-24 no-underline"
                          >https://pixinvent.com?verification_url</a
                        >

                        <table>
                          <tr>
                            <td class="bg-primary rounded font-sans" style="mso-padding-alt: 16px 24px">
                              <a
                                href="https://pixinvent.com?verification_url"
                                class="block font-semibold text-white text-base leading-full py-16 px-24 no-underline"
                                >Verify Email Now &rarr;</a
                              >
                            </td>
                          </tr>
                        </table>

                        <component src="src/components/inner-footer.html"></component>
                      </td>
                    </tr>

                    <component src="src/components/footer-without-unsubscribe.html"></component>
                  </table>
                </td>
              </tr>
            </raw>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
