---
title: 'Reset your Password'
preheader: 'A request to reset password was received from your PixInvent Account'
bodyClass: bg-secondary
verification_url: http://google.com
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="m-0 mb-24">
                          A request to reset password was received from your
                          <span class="font-semibold">PixInvent</span> Account -
                          <a href="mailto:john@example.com" class="text-primary no-underline hover:underline"
                            >john@example.com</a
                          >
                          (ID: 8632698) from the IP - <span class="font-semibold">49.34.185.199</span> .
                        </p>

                        <p class="m-0 mb-24">Use this link to reset your password and login.</p>

                        <a
                          href="https://pixinvent.com?reset_password_url"
                          class="block text-primary text-base leading-full mb-24 no-underline"
                          >https://pixinvent.com?reset_password_url</a
                        >

                        <table>
                          <tr>
                            <td class="bg-primary rounded font-sans" style="mso-padding-alt: 16px 24px">
                              <a
                                href="https://pixinvent.com?reset_password_url"
                                class="block font-semibold text-white text-base leading-full py-16 px-24 no-underline"
                                >Reset Password &rarr;</a
                              >
                            </td>
                          </tr>
                        </table>

                        <p class="m-0 mt-24 mb-24">
                          <span class="font-semibold">Note:</span> This link is valid for 1 hour from the time it was
                          sent to you and can be used to change your password only once.
                        </p>

                        <p class="m-0">
                          If you did not intend to deactivate your account or need our help keeping the account, please
                          contact us at
                          <a href="mailto:support@example.com" class="text-primary no-underline hover:underline"
                            >support@example.com</a
                          >
                        </p>

                        <component src="src/components/inner-footer.html"></component>
                      </td>
                    </tr>

                    <component src="src/components/footer-without-unsubscribe.html"></component>
                  </table>
                </td>
              </tr>
            </raw>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
