---
preheader: 'This is an invoice for your purchase on {{ purchase_date }}. Please submit payment by {{ due_date }}'
bodyClass: bg-gray-postmark-lighter
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="m-0 mb-24">
                          Thanks for using PixInvent. This is an invoice for your recent purchase.
                        </p>
                        <table class="w-full mb-21">
                          <tr>
                            <td class="attributes_content p-16 text-base bg-gray-postmark-lightest">
                              <table class="w-full">
                                <tr>
                                  <td class="text-base text-gray-postmark-dark"><strong>Amount Due:</strong> $56.00</td>
                                </tr>
                                <tr>
                                  <td class="text-base text-gray-postmark-dark">
                                    <strong>Due By:</strong> 18th June 2020
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <table class="purchase w-full py-35">
                          <tr>
                            <td>
                              <h3 class="mt-0 text-sm text-left text-gray-postmark-darker font-bold">#14502</h3>
                            </td>
                            <td>
                              <h3 class="mt-0 text-sm text-right text-gray-postmark-darker font-bold">
                                12th June 2020
                              </h3>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <table class="w-full pt-25">
                                <tr>
                                  <th align="left" class="purchase_heading pb-8">
                                    <p>Description</p>
                                  </th>
                                  <th align="right" class="purchase_heading pb-8">
                                    <p>Amount</p>
                                  </th>
                                </tr>

                                <tr>
                                  <td class="w-4/5 text-base leading-18 py-10 text-gray-postmark-dark">
                                    Vuexy - Vuejs, React, HTML & Laravel Admin Template
                                  </td>
                                  <td align="right" class="w-1/5 text-base text-right">$32.00</td>
                                </tr>
                                <tr>
                                  <td class="w-4/5 text-base leading-18 py-10 text-gray-postmark-dark">
                                    Frest – Admin Dashboard & UI Kit Sketch Template
                                  </td>
                                  <td align="right" class="w-1/5 text-base text-right">$24.00</td>
                                </tr>

                                <tr>
                                  <td class="purchase_footer w-4/5">
                                    <p
                                      align="right"
                                      class="m-0 pr-16 text-base leading-24 text-right font-bold text-gray-postmark-darker"
                                    >
                                      Total
                                    </p>
                                  </td>
                                  <td class="purchase_footer w-1/5">
                                    <p
                                      align="right"
                                      class="m-0 text-base leading-24 text-right font-bold text-gray-postmark-darker"
                                    >
                                      $56.00
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <table align="right" class="w-full text-center my-30 mx-auto">
                          <tr>
                            <td align="right">
                              <table class="my-24">
                                <tr>
                                  <td
                                    align="right"
                                    class="bg-primary rounded font-sans"
                                    style="mso-padding-alt: 16px 24px"
                                  >
                                    <a
                                      href="https://example.com"
                                      class="block font-semibold text-white text-base leading-full py-16 px-24 no-underline"
                                      >Pay Invoice &rarr;</a
                                    >
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                          If you have any questions about this invoice, simply reply to this email or reach out to our
                          <a href="{{support_url}}" class="text-blue-postmark">support team</a> for help.
                        </p>
                        <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                          Cheers,
                          <br />The PixInvent Team
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </raw>
            <component src="src/components/footer-without-unsubscribe.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
