---
title: 'Promotional Mail'
preheader: 'Weekly promotional mail'
bodyClass: bg-secondary
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-secondary font-sans">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td align="center" class="sm:px-24">
                  <table class="w-full">
                    <tr>
                      <td class="bg-white text-content text-base text-left p-48 sm:px-24 leading-24 rounded font-sans">
                        <p class="font-semibold text-xl mb-0">Hey</p>
                        <p class="font-bold text-2xl text-negative mt-0">John Doe!</p>
                        <p class="text-2xl sm:leading-32 text-dark font-semibold m-0 mb-24">
                          Popular resources of the week!
                        </p>

                        <p class="m-0 mb-24">
                          We're excited to bring you the latest
                          <span class="font-semibold">top performing</span> resources, trends, exposure opportunities
                          and more! We are hoping to see your name on this list next week.
                        </p>

                        <p class="text-2xl sm:leading-32 text-dark font-semibold m-0 mb-24">
                          Handpicked Freebies of the week!
                        </p>

                        <p class="m-0 mb-24">
                          We're excited to bring you handpicked <span class="font-semibold">quality freebies</span> to
                          consider for your next project!
                        </p>

                        <table>
                          <tr>
                            <td class="w-full sm:px-0 text-left">
                              <table class="w-full">
                                <tr>
                                  <td class="w-1/2 pr-12 sm:px-0 sm:pb-32 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/vuexy_admin"
                                      ><img src="images/item.jpg" alt="Vuexy" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Vuexy - Vuejs, React, HTML & Laravel Admin Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                  <td class="w-1/2 pl-12 sm:px-0 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/frest_admin"
                                      ><img src="images/item-2.jpg" alt="Frest" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Frest – Admin Dashboard & UI Kit Sketch Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td class="py-16"></td>
                          </tr>

                          <tr>
                            <td class="w-full sm:px-0 text-left">
                              <table class="w-full">
                                <tr>
                                  <td class="w-1/2 pr-12 sm:px-0 sm:pb-32 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/frest_admin"
                                      ><img src="images/item-2.jpg" alt="Frest" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Frest – Admin Dashboard & UI Kit Sketch Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                  <td class="w-1/2 pl-12 sm:px-0 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/vuexy_admin"
                                      ><img src="images/item.jpg" alt="Vuexy" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Vuexy - Vuejs, React, HTML & Laravel Admin Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td class="py-16"></td>
                          </tr>

                          <tr>
                            <td class="w-full sm:px-0 text-left">
                              <table class="w-full">
                                <tr>
                                  <td class="w-1/2 pr-12 sm:px-0 sm:pb-32 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/vuexy_admin"
                                      ><img src="images/item.jpg" alt="Vuexy" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Vuexy - Vuejs, React, HTML & Laravel Admin Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                  <td class="w-1/2 pl-12 sm:px-0 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/frest_admin"
                                      ><img src="images/item-2.jpg" alt="Frest" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Frest – Admin Dashboard & UI Kit Sketch Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td class="py-16"></td>
                          </tr>

                          <tr>
                            <td class="w-full sm:px-0 text-left">
                              <table class="w-full">
                                <tr>
                                  <td class="w-1/2 pr-12 sm:px-0 sm:pb-32 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/frest_admin"
                                      ><img src="images/item-2.jpg" alt="Frest" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Frest – Admin Dashboard & UI Kit Sketch Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                  <td class="w-1/2 pl-12 sm:px-0 sm:w-full sm:inline-block align-top">
                                    <a href="https://1.envato.market/vuexy_admin"
                                      ><img src="images/item.jpg" alt="Vuexy" class="mb-12 rounded"
                                    /></a>
                                    <h2 class="m-0 mb-6 text-base text-dark leading-snug">
                                      Vuexy - Vuejs, React, HTML & Laravel Admin Template
                                    </h2>
                                    <p class="m-0 text-sm">
                                      By <span class="font-medium">PIXINVENT</span> in
                                      <span class="font-medium">Admin Templates</span>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>

                        <component src="src/components/inner-footer.html"></component>
                      </td>
                    </tr>

                    <component src="src/components/footer-with-unsubscribe.html"></component>
                  </table>
                </td>
              </tr>
            </raw>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
