<tr>
  <td class="h-20"></td>
</tr>
<tr>
  <td class="text-secondary text-sm px-48 font-sans">
    <p align="center" class="cursor-default mb-16">
      <a href="https://www.facebook.com/pixinvents" class="text-dark no-underline"
        ><img src="images/facebook.png" width="17" class="mr-12" alt="Facebook"
      /></a>
      &bull;
      <a href="https://twitter.com/pixinvents" class="text-dark no-underline"
        ><img src="images/twitter.png" width="17" class="mr-12" alt="Twitter"
      /></a>
      &bull;
      <a href="https://www.instagram.com/pixinvents" class="text-dark no-underline"
        ><img src="images/instagram.png" width="17" class="mr-12" alt="Instagram"
      /></a>
    </p>

    <p class="text-dark">
      Use of our service and website is subject to our
      <a href="https://pixinvent.com/" class="text-primary no-underline hover:underline">Terms of Use</a> and
      <a href="https://pixinvent.com/" class="text-primary no-underline hover:underline">Privacy Policy</a>.
    </p>

    <p class="text-dark">
      Don't want to receive emails from us?
      <a
        href="https://pixinvent.com?action=unsubscribe&to=user-settings&setting_type=email"
        class="text-primary no-underline hover:underline"
        >Unsubscribe</a
      >
    </p>
  </td>
</tr>
<tr>
  <td class="h-16"></td>
</tr>
