<tr>
  <td class="p-48 sm:py-32 sm:px-24 text-center font-sans">
    <a href="https://1.envato.market/vuexy_admin">
      <img src="images/logo.png" width="155" alt="Vuexy Admin" />
    </a>
  </td>
</tr>
