<table class="w-full">
  <tr>
    <td class="py-32">
      <div class="bg-secondary h-px leading-px">&zwnj;</div>
    </td>
  </tr>
</table>
<p class="m-0 mb-16">
  Not sure why you received this email? Please
  <a href="mailto:support@example.com" class="text-primary no-underline hover:underline">let us know</a>.
</p>
<p class="m-0 mb-16">Thanks, <br />The PixInvent Team</p>
