<!-- Copy to clipboard -->
<section id="copy-to-clipboard">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Clipboard</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-6 col-12 pr-sm-0">
              <div class="form-group">
                <input type="text" class="form-control" id="copy-to-clipboard-input" value="Copy Me!" />
              </div>
            </div>
            <div class="col-sm-2 col-12">
              <button class="btn btn-outline-primary" id="btn-copy">Copy!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Copy to clipboard -->
