<div class="card">
  <div class="card-header">
    <h4 class="card-title">Initials Pipe</h4>
  </div>
  <div class="card-body">
    <p>initials.pipe.ts</p>
    <markdown ngPreserveWhitespaces>
      ```typescript
      import &#123; Pipe, PipeTransform &#125; from '@angular/core';

      @Pipe(&#123;
        name: 'initials'
      &#125;)
      export class InitialsPipe implements PipeTransform &#123;
        transform(fullName: string): any &#123;
          return fullName
            .split(' ')
            .map((n) => n[0])
            .join('');
        &#125;
      &#125;

      ```
    </markdown>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Usage</h4>
  </div>
  <div class="card-body">
    <p>Initials are the capital letters which begin each word of a name. For example, if your full name is Michael Dennis, your initials will be M S. </p>
<code> &#123; &#123; fullName | initials &#125; &#125;</code>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Example</h4>
  </div>
  <div class="card-body">
    <p>initials-example.component.html</p>

    <markdown ngPreserveWhitespaces>
      ```html
      &lt;div class="avatar"&gt;
        &lt;div class="avatar-content"&gt;&#123; &#123;  name | initials &#125; &#125; &lt;/div&gt;
      &lt;/div&gt;
      ```
    </markdown>
    <p class="mt-2">initials-example.component.ts</p>
    <markdown ngPreserveWhitespaces>
      ```typescript
      name = "Harmonia Nisius";
      ```
    </markdown>

    <p class="mt-2">Output:</p>
    <img src="../../../assets/images/initials-pipe/initials-pipe.png" alt="initials-pipe-demo">
  </div>
</div>
