<div class="alert alert-primary">
  In custom toasts, We have used <strong>ng-bootstrap's toasts</strong>. Please read the
  official
  <a
    target="_blank"
    href="https://ng-bootstrap.github.io/#/components/toast/overview"
    ><strong><u>documentation</u></strong></a
  >
  for a full list of instructions and other options.
</div>
<!-- Custom Toasts  -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Custom Toasts</h5>
  </div>
  <div class="card-body">
    <p><strong>toast-container.component.html</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```html
      &lt;ngb-toast *ngFor=&#34;let toast of toastService.toasts&#34; &#91;class&#93;=&#34;toast.classname&#34; &#91;autohide&#93;=&#34;toast.autohide&#34;
        &#91;delay&#93;=&#34;toast.delay || 5000&#34; &#40;hide&#41;=&#34;toastService.remove&#40;toast&#41;&#34;&gt;
        &lt;!-- toast header --&gt;
        &lt;ng-template ngbToastHeader&gt;
          &lt;img src=&#34;../../../assets/images/logo/logo.png&#34; class=&#34;rounded mr-2&#34; alt=&#34;Toast image&#34; /&gt;
          &lt;strong class=&#34;toast-title&#34;&gt; Vuexy Admin&lt;/strong&gt;
          &lt;small class=&#34;position-absolute toast-time&#34;&gt; 11 mins ago&lt;/small&gt;

        &lt;/ng-template&gt;
        &lt;!--/ toast header --&gt;

        &lt;!-- toast body --&gt;
        &lt;ng-template &#91;ngIf&#93;=&#34;isTemplate&#40;toast&#41;&#34; &#91;ngIfElse&#93;=&#34;text&#34;&gt;
          &lt;ng-template &#91;ngTemplateOutlet&#93;=&#34;toast.textOrTpl&#34;&gt; &lt;/ng-template&gt;
        &lt;/ng-template&gt;
        &lt;ng-template #text&gt; &#123; toast.textOrTpl &#125;&#125;&lt;/ng-template&gt;
        &lt;!--/ toast body --&gt;
      &lt;/ngb-toast&gt;
      ```
    </markdown>
    <p class="mt-1"><strong>toast-container.component.ts</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```typescript
      import &#123; Component, TemplateRef &#125; from '@angular/core';
      import &#123; ToastService &#125; from './../toasts.service';
      @Component(&#123;
        selector: 'app-toast-container',
        templateUrl: './toast-container.component.html',
        host: &#123; '[class.ngb-toasts]': 'true' &#125;
      &#125;)
      export class ToastContainerComponent &#123;

        constructor(public toastService: ToastService) &#123;&#125;

        isTemplate(toast) &#123;
          return toast.textOrTpl instanceof TemplateRef;
        &#125;

      &#125;
      ```
    </markdown>
    <p class="mt-1"><strong>service.ts</strong></p>
    <markdown ngPreserveWhitespaces lineNumbers>
      ```typescript
      import &#123; Injectable, TemplateRef &#125; from '@angular/core';

      @Injectable(&#123; providedIn: 'root' &#125;)
      export class ToastService &#123;
        toasts: any[] = [];

        show(textOrTpl: string | TemplateRef &lt;any&gt;, options: any = &#123;&#125;) &#123;
          this.toasts.push(&#123; textOrTpl, ...options &#125;);
        &#125;

        remove(toast) &#123;
          this.toasts = this.toasts.filter(t => t !== toast);
        &#125;
      &#125;
      ```
    </markdown>
  </div>
</div>
<!--/ Custom Toasts  -->

<!-- custom toasts API -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">API</h4>
  </div>
  <div class="card-body">
    <h4>Component</h4>
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Selector</th>
        <th>Input</th>
        <th width="50%">Description</th>
      </thead>
      <tbody>
        <tr>
          <td><strong>ToastContainerComponent</strong></td>
          <td><code>app-toast-container</code></td>
          <td>
            <code>toastService</code>
            <p>
              Type: <code>ToastService</code>
            </p>
          </td>
          <td>Create <strong>Custom Toast</strong> by passing <code>data</code> & <code>options</code> as arguments to <code>show()</code> method of <code>ToastService</code>.</td>
        </tr>
      </tbody>
    </table>
    <h4>Methods</h4>
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>argument</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td><strong>show()</strong></td>
          <td><code>textOrTpl: string | TemplateRef&lt;any&gt;, options: any = &#123;&#125;</code></td>
          <td>To initialize toast use <code>show()</code> method.</td>
        </tr>
        <tr>
          <td><strong>remove()</strong></td>
          <td><code>toast : any</code></td>
          <td>To remove toast use <code>remove()</code> method.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--/ custom toasts API -->
