<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/01-exceptional-value-v4.png"
    alt="Vuexy Admin Template"
/></a>
<table>
  <tr>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.1-vue-laravel-v2.png"
          alt="Vuexy VueJS Admin Template"
      /></a>
    </td>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/landing/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.2-html-laravel-v2.png"
          alt="Vuexy HTML Admin Template"
      /></a>
    </td>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/landing/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.3-reactjs-v2.png"
          alt="Vuexy React Admin Template"
      /></a>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/documentation/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/3.1-vue-documentation.png"
          alt="Vuexy VueJS Admin Template Documentation"
      /></a>
    </td>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/3.2-Html-documentation.png"
          alt="Vuexy HTML Admin Template"
      /></a>
    </td>
    <td>
      <a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/documentation/" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/3.3-react-documentation.png"
          alt="Vuexy HTML Admin Template"
      /></a>
    </td>
  </tr>
</table>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/04-vuexy-admin.png"
    alt="Vuexy Admin Template"
/></a>
<a href="https://pixinvent.com/gitlab-access-provider-for-envato/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/05-gitlab-access.png"
    alt="Vuexy Admin Template"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/06-vue-frameworks-and-librarie-v2.png"
    alt="06-vue-frameworks-and-libraries"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/07-react-frameworks-and-libraries-v2.png"
    alt="07-react-frameworks-and-libraries.png"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/08-html-useful-framework-and-Libs.png"
    alt="08-html-useful-framework-and-libs"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/09-laravel-useful-framework-and-libs.png"
    alt="09-laravel-useful-framework-and-libs-v1"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/10-ultra-responsive.png"
    alt="10-ultra-responsive"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/11-design-files.png"
    alt="11-design-files"
/></a>
<table>
  <tr>
    <td>
      <a href="https://www.sketch.com/s/00f2c843-c361-43d0-afaf-e2b05173535a" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/sketch-demo.png"
          alt="sketch-demo"
      /></a>
    </td>
    <td>
      <a href="https://www.figma.com/file/HogvQjAQJqjdCe9AZg1ciA/vuexy-figma-light?node-id=0%3A1" rel="nofollow"
        ><img
          src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/figma-demo.png"
          alt="figma-demo"
      /></a>
    </td>
  </tr>
</table>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/12-reviews-v1.png"
    alt="12-review"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/14-vuexy-layout-options.png"
    alt="14-vuexy-layout-options"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/13-build-the-perfect-app-v1.png"
    alt="13-build-the-perfect-app"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/15-build-the-perfect-app-v1.png"
    alt="15-workable-applications"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/16-advance-card.png"
    alt="16-advance-card"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/17-email-templates-v2.png"
    alt="17-email-templates-v2.png"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/18-tools.png" alt="18-tools"
/></a>
<a href="https://pixinvent.ticksy.com/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/19-best-support.png"
    alt="19-best-support"
/></a>
<a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"
  ><img
    src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/20-give-Rating.png"
    alt="20-give-Rating"
/></a>

<h2>
  <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/vuexy-changelog.html">Open Changelog</a>
</h2>

<h2>A powerful admin dashboard template built especially for developers</h2>
<p>
  <strong>Vuexy - Vuejs, React, HTML & Laravel Admin Dashboard Template</strong> - is the most developer friendly &
  highly customisable Admin Dashboard Template based on Bootstrap 4, Bootstrap Vue & Reactstrap.
</p>
<p>
  If you’re a developer looking for an admin dashboard that is developer-friendly, rich with features, and highly
  customizable look no further than Vuexy. We’ve followed the highest industry standards to bring you the very best
  admin template that is not only fast and easy to use but highly scalable. Offering ultimate convenience and
  flexibility, you’ll be able to build whatever application you want with very little hassle.
</p>

<h2>Build premium quality applications with ease</h2>
<p>
  Use our innovative admin template to create eye-catching, high quality, and high performing single-page applications.
  Your apps will be completely responsive, ensuring they’ll look stunning and function flawlessly on desktops, tablets,
  and mobile devices.
</p>
<p>
  Incredibly versatile, the Vuexy admin dashboard allows you to build any type of web application. For instance, you can
  create:
</p>

<ul>
  <li>SaaS platforms</li>
  <li>Project management apps</li>
  <li>Ecommerce backends</li>
  <li>CRM systems</li>
  <li>Analytics apps</li>
  <li>Banking apps</li>
  <li>Education apps</li>
  <li>Fitness apps</li>
  <li>& many more....</li>
</ul>
<h2>Get started quickly</h2>
<p>
  Vuexy is user-friendly and straightforward, making it fast and simple to get started. It also comes equipped with
  ready-to-go templates including two niche dashboards and carefully crafted 9 Applications :
</p>

<ul>
  <li>Email</li>
  <li>Chat</li>
  <li>To-do list</li>
  <li>Kanban (HTMl & Laravel Only for Now)</li>
  <li>File Manager (HTMl & Laravel Only for Now)</li>
  <li>Calendar</li>
  <li>eCommerce</li>
  <li>Invoice</li>
  <li>User</li>
</ul>
<p>Plus, it’s well documented, making it even simpler for you to get started and continue using starter-kit.</p>

<h2>Make it your own</h2>
<p>Vuexy offers easy and endless customization – including unlimited color options.</p>

<h2>Make the most of our innovative features</h2>
<p>
  Vuexy is equipped with invaluable features designed to help you create premium quality apps exactly as you imagine
  them. We’ve loaded the Vuexy admin template with unique and useful tools such as fuzzy search, bookmarks, floating nav
  bar, dark and semi-dark layout options, advance cards and charts. Find more useful features :
</p>
<ul>
  <li>Laravel Starter Kit</li>
  <li>Pure Vue js, No Jquery Dependency</li>
  <li>Created with Vue CLI</li>
  <li>Utilizes Vuex, Vue Router, Webpack</li>
  <li>Code Splitting, Lazy loading</li>
  <li>E-Commerce App with shop, wishlist, checkout pages</li>
  <li>Drag &amp; Drop Bookmarks to re-arrange</li>
  <li>Carousel (Image Slider)</li>
  <li>Clipboard (Copy to clipboard)</li>
  <li>Context Menu</li>
  <li>Scroll to top</li>
  <li>Not authorised Page</li>
  <li>Access Control (ACL)</li>
  <li>Pricing</li>
  <li>Blog</li>
  <li>i18n Page</li>
  <li>Multi-lingual Support</li>
  <li>2 chart libraries</li>
  <li>2 Dashboard</li>
  <li>SASS Powered</li>
  <li>Feather Icons</li>
  <li>Unlimited Color Options</li>
  <li>Leaflet Map</li>
  <li>Video Player</li>
  <li>Drag &amp; Drop</li>
  <li>Fully Responsive Layout</li>
  <li>Organized Folder Structure</li>
  <li>Clean &amp; Commented Code</li>
  <li>Well Documented</li>
  <li>FREE Lifetime Updates</li>
  <li>6 months of free support included</li>
</ul>

<h2>Enjoy hassle-free support</h2>
<p>We offer six months of free support to every customer. We also offer multilingual support.</p>

<h2>Get free lifetime updates</h2>
<p>
  Every purchase of the Vuexy admin template is entitled to free updates – for life. This means you’ll benefit from
  every enhancement, improvement, and newly added feature indefinitely.
</p>

<h4>Note</h4>

<ul>
  <li>
    <strong>HTML, HTML + Laravel</strong> version use <strong>Bootstrap 4</strong>, <strong>Laravel 8</strong> framework
    and support <strong>Microsoft Edge, Chrome, Firefox, Safari & Opera</strong> browsers.
  </li>
  <li>
    <strong>VueJS</strong> version use <strong>Bootstrap Vue</strong> framework and support
    <strong>Microsoft Edge, Chrome, Firefox, Safari & Opera</strong> browsers.
  </li>
  <li>
    <strong>React</strong> version use <strong>reactstrap</strong> framework and support
    <strong>Microsoft Edge, Chrome, Firefox, Safari & Opera</strong> browsers.
  </li>
  <li>
    To run HTML Version of the template, It is recommended to use any local server (i.e XAMPP, WAMP or Node, etc...)
    with a protocol "http://" to run this template as it uses AJAX technology as a part of its functionality. It may
    break some functionality if you opened directly from your HDD in a browser with a protocol “file:///...” (like
    “file:///C:/path/to/some_page.html”).
  </li>
  <li>
    There are differences in between versions due to different frameworks and components availability. Please check
    respective demos of particular version you are planning to buy. Consider asking a question in the live chat or via
    comments if you have any questions before buying the template.
  </li>
</ul>

<h2>
  <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/vuexy-changelog.html">Open Changelog</a>
</h2>
