<template lang="html">
  <div class="centerx examplex">
    <vx-tooltip text="Tooltip default delay">
      <vs-button type="gradient">Default Color</vs-button>
    </vx-tooltip>
    <vx-tooltip color="primary" text="Tooltip default delay">
      <vs-button type="border">Color primary</vs-button>
    </vx-tooltip>
    <vx-tooltip color="success" text="Tooltip default delay">
      <vs-button color="success" type="border">Color success</vs-button>
    </vx-tooltip>
    <vx-tooltip color="danger" text="Tooltip default delay">
      <vs-button color="danger" type="border">Color danger</vs-button>
    </vx-tooltip>
    <vx-tooltip color="warning" text="Tooltip default delay">
      <vs-button color="warning" type="border">Color warning</vs-button>
    </vx-tooltip>
    <vx-tooltip color="dark" text="Tooltip default delay">
      <vs-button color="dark" type="border">Color dark</vs-button>
    </vx-tooltip>
    <vx-tooltip color="rgb(42, 207, 133)" text="Tooltip default delay">
      <vs-button color="rgb(42, 207, 133)" type="border">Color RGB</vs-button>
    </vx-tooltip>
    <vx-tooltip color="#4a0d6b" text="Tooltip default delay">
      <vs-button color="#4a0d6b" type="border">Color HEX</vs-button>
    </vx-tooltip>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
