<template lang="html">
  <div class="centerx examplex">
    <vx-tooltip text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed velit a ipsum dictum hendrerit in id urna. Aliquam erat volutpat. Nam eleifend id ex at viverra" position="left" >
      <vs-button type="gradient">Left</vs-button>
    </vx-tooltip>
    <vx-tooltip text="Tooltip position Top" position="top" >
      <vs-button type="gradient">Top</vs-button>
    </vx-tooltip>
    <vx-tooltip text="Tooltip position Bottom" position="bottom" >
      <vs-button type="gradient">Bottom</vs-button>
    </vx-tooltip>
    <vx-tooltip text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed velit a ipsum dictum hendrerit in id urna. Aliquam erat volutpat. Nam eleifend id ex at viverra" position="right" >
      <vs-button type="gradient">Right</vs-button>
    </vx-tooltip>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
