<template lang="html">
  <div class="centerx examplex">
    <vx-tooltip
      title="Are you sure?"
      color="warning"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque non neque sed aliquet.">
       <vs-button color="warning" type="flat">Title Tooltip</vs-button>
    </vx-tooltip>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css">
</style>
