<!-- Form Repeater -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Form Repeater</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      It creates an interface to add and remove a repeatable group of input elements.<br />Read the official
      <a href="https://github.com/DubFriend/jquery.repeater" target="_blank">jQuery Repeater Documentation</a> for a
      full list of instructions and other options.
    </p>
    <h6>1. Initialize the plugin by referencing the necessary files:</h6>
    <pre class="language-markup my-1">
<code class="language-markup">
&lt;script src="jquery.repeater.min.js"&gt;&lt;/script&gt;
</code>
    </pre>
    <h6>2. Binding to existing DOM element.</h6>
    <pre class="language-markup my-1">
<code class="language-markup">
&lt;form action="#" class="invoice-repeater"&gt;
  &lt;div data-repeater-list="invoice"&gt;
    &lt;div data-repeater-item&gt;
      &lt;div class="form-group"&gt;
        &lt;label for="name"&gt;Name&lt;/label&gt;
        &lt;input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="name"
          placeholder="Luke Baker"
        /&gt;
      &lt;/div&gt;
      &lt;button type="button" class="btn btn-outline-danger" data-repeater-delete&gt;
        &lt;i data-feather="x" class="mr-25"&gt;&lt;/i&gt;
        &lt;span&gt;Delete&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;button type="button" class="btn btn-icon btn-primary" data-repeater-create&gt;
    &lt;i data-feather="plus" class="mr-25"&gt;&lt;/i&gt;
    &lt;span&gt;Add New&lt;/span&gt;
  &lt;/button&gt;
&lt;/form&gt;
</code>
    </pre>
    <h6>3. Basic usage looks something like this:</h6>
    <pre class="language-javascript my-1">
<code class="language-javascript">
$('.invoice-repeater, .repeater-default').repeater({
  show: function () {
    $(this).slideDown();
    // Feather Icons
    if (feather) {
      feather.replace({ width: 14, height: 14 });
    }
  },
  hide: function (deleteElement) {
    if (confirm('Are you sure you want to delete this element?')) {
      $(this).slideUp(deleteElement);
    }
  }
});
</code>
    </pre>
    <p class="mt-2">
      <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Gitlab Link</strong></td>
            <td>
              <a href="https://github.com/DubFriend/jquery.repeater" target="_blank"
                >https://github.com/DubFriend/jquery.repeater</a
              >
            </td>
          </tr>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-repeater.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-repeater.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Form Repeater -->
