<!-- Email -->
<div class="card">
  <div class="card-header">
    <h4 id="email" class="card-title">Email Application</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <div class="card-text">
        <p class="text-justify">
          Email is a very popular way of communicating with others over the Internet. An application that allows users
          to send, receive, and read email is called an email client.
        </p>
      </div>
      <h6>1. You need to add these pages to make this app work.</h6>
      <pre class="language-markup">
<code class="language-markup">
  &lt;!-- Vendor files --&gt;
  &lt;script src="editors/quill/katex.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/highlight.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/quill.min.js"&gt;&lt;/script&gt;
  &lt;script src="extensions/toastr.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/select/select2.full.min.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/katex.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/monokai-sublime.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/quill.snow.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/toastr.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/select/select2.min.css"&gt;

  &lt;!-- Template files --&gt;
  &lt;script src="app-email.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-quill-editor.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-toastr.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="app-email.css"&gt;
  </code></pre>
      <div class="alert alert-warning mt-1" role="alert">
        <div class="alert-body">
          <strong>Note!</strong> Template files are developed by PIXINVENT. This is not a vendor js and css.
        </div>
      </div>
      <h6>2. Features you can perform in email application.</h6>
      <div class="card-text">
        <ul>
          <li>Compose Mail</li>
          <li>Search mail</li>
          <li>Delete mail</li>
          <li>Mark mail as unread</li>
          <li>Select All mails and Delete all</li>
          <li>On click of mail list, mail detail will slide in</li>
          <li>Notification on delete</li>
          <li>Notification on favorite</li>
        </ul>
      </div>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-email.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-email.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Email -->

<!-- Chat -->
<div class="card">
  <div class="card-header">
    <h4 id="chat" class="card-title">Chat Application</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <div class="card-text">
        <p class="text-justify">
          Messaging or the use of chat apps are surging in popularity these days as people prefer chat-based apps over
          text messages as it provides real-time interactions and gives them a personal touch experience.
        </p>
      </div>
      <h6>1. You need to add these file to make this page work.</h6>
      <pre class="language-markup">
  <code class="language-markup">
    &lt;!-- Template files --&gt;
    &lt;script src="app-chat.js"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" type="text/css" href="app-chat.css"&gt;
    &lt;link rel="stylesheet" type="text/css" href="app-chat-list.css"&gt;
  </code>
</pre>
      <div class="alert alert-warning mt-1" role="alert">
        <div class="alert-body">
          <strong>Note!</strong> Template files are developed by PIXINVENT. This is not a vendor js and css.
        </div>
      </div>
      <h6>2. Features you can perform in chat application.</h6>
      <div class="card-text">
        <ul>
          <li>Notification badge of new messages</li>
          <li>Start conversation to chat</li>
          <li>Search User</li>
          <li>Send message</li>
          <li>Check personal profile</li>
          <li>Check user's profile</li>
          <li>Set status(Online, Offline, etc..) & other settings</li>
          <li>Speech to text on click of mic icon</li>
        </ul>
      </div>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-chat.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-chat.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Chat -->

<!-- ToDo -->
<div class="card">
  <div class="card-header">
    <h4 id="todo" class="card-title">ToDo</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <div class="card-text">
        <p class="text-justify">
          ToDo is maintained by developers, editors, writers, reviewers or readers like you as a way to focus your
          collaborative efforts. As such, they represent a tentative consensus that helps improve the efficiency of the
          editing process.
        </p>
      </div>
      <h6>1. You need to add these files to make it work.</h6>
      <pre class="language-markup">
<code class="language-markup">
  &lt;!-- Vendor files --&gt;
  &lt;script src="editors/quill/katex.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/highlight.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/quill.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/select/select2.full.min.js"&gt;&lt;/script&gt;
  &lt;script src="pickers/flatpickr/flatpickr.min.js"&gt;&lt;/script&gt;
  &lt;script src="extensions/dragula.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/validation/jquery.validate.min.js"&gt;&lt;/script&gt;
  &lt;script src="extensions/toastr.min.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="vendors.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/katex.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/monokai-sublime.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/quill.snow.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/select/select2.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="pickers/flatpickr/flatpickr.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/dragula.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/toastr.min.css"&gt;

  &lt;!-- Template files --&gt;
  &lt;script src="app-todo.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-quill-editor.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-toastr.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-validation.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="app-todo.css"&gt;
</code>
</pre>
      <div class="alert alert-warning mt-1" role="alert">
        <div class="alert-body">
          <strong>Note!</strong> Template files are developed by PIXINVENT. This is not a vendor js and css.
        </div>
      </div>

      <h6>2. Features you can perform in toDO List.</h6>
      <div class="card-text">
        <ul>
          <li>Add new todo task</li>
          <li>Complete task</li>
          <li>Notification when Complete task</li>
          <li>Edit task</li>
          <li>Sort task Asc & Desc</li>
          <li>Search any task</li>
          <li>Set favorite task</li>
        </ul>
      </div>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-todo.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-todo.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ ToDo -->

<!-- Calendar -->
<div class="card">
  <div class="card-header">
    <h4 id="calendar" class="card-title">Calendar</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Calendar is made from Full Calendar Plugin which the most popular full-sized JavaScript Calendar. you'll have
        use below mentioned structure for add event modal to use add event functionality.
      </p>
      <h6>1. You need these files for application to work</h6>
      <pre class="language-markup my-1">
<code class="language-markup">
  &lt;!-- Vendor Files --&gt;
  &lt;script src="calendar/fullcalendar.min.js"&gt;&lt;/script&gt;
  &lt;script src="extensions/moment.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/select/select2.full.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/validation/jquery.validate.min.js"&gt;&lt;/script&gt;
  &lt;script src="pickers/flatpickr/flatpickr.min.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="calendars/fullcalendar.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/select/select2.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="pickers/flatpickr/flatpickr.min.css"&gt;

  &lt;!-- Template Files --&gt;
  &lt;script src="app-calendar-events.js"&gt;&lt;/script&gt;
  &lt;script src="app-calendar.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="app-calendar.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-validation.css"&gt;
</code>
</pre>
      <h6>2. Actions you can perform with Calendar</h6>
      <ul class="my-1">
        <li>Add new events.</li>
        <li>Edit current events.</li>
        <li>Remove existing Events.</li>
        <li>Calendar Views : Month, Week, Day, List</li>
        <li>Add category/label to your event.</li>
        <li>Get info of event on click.</li>
        <li>Event filters</li>
        <li>Show/Hide Event Category wise</li>
      </ul>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped my-1">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Plugin Link</strong></td>
            <td><a href="https://fullcalendar.io/" target="_blank">https://fullcalendar.io/</a></td>
          </tr>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-calendar.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-calendar.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Calendar -->

<!-- Kanban -->
<div class="card">
  <div class="card-header">
    <h4 id="kanban" class="card-title">Kanban</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Kanban board is one of the tools that can be used to manage work at a personal or organizational level. Kanban
        boards visually depict work at various stages of a process using cards to represent work items and columns to
        represent each stage of the process. Here, we are using jkanban library to create this application.
      </p>
      <h6>1. You need these files for application to work</h6>
      <pre class="language-markup my-1">
<code class="language-markup">
  &lt;!-- Vendor Files --&gt;
  &lt;script src="jkanban/jkanban.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/select/select2.full.min.js"&gt;&lt;/script&gt;
  &lt;script src="pickers/flatpickr/flatpickr.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/katex.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/highlight.min.js"&gt;&lt;/script&gt;
  &lt;script src="editors/quill/quill.min.js"&gt;&lt;/script&gt;
  &lt;script src="forms/validation/jquery.validate.min.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="jkanban/jkanban.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="pickers/flatpickr/flatpickr.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/select/select2.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/katex.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/monokai-sublime.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/quill.snow.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="editors/quill/quill.bubble.css"&gt;

  &lt;!-- Template Files --&gt;
  &lt;script src="app-kanban.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-quill-editor.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="forms/form-validation.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="app-kanban.css"&gt;
</code>
</pre>
      <h6>2. Actions you can perform with Kanban Application</h6>
      <ul class="my-1">
        <li>Add new board</li>
        <li>Add new board item</li>
        <li>Update current board Name</li>
        <li>Update current board Item</li>
        <li>Get info of event on click</li>
        <li>Copy task link</li>
        <li>Delete board</li>
        <li>Delete board item</li>
      </ul>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped my-1">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Plugin Link</strong></td>
            <td><a href="https://donorbox.org/jkanban" target="_blank">https://donorbox.org/jkanban</a></td>
          </tr>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-kanban.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-kanban.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Kanban -->

<!-- Invoice -->
<div id="invoice" class="row">
  <div class="col-12">
    <h2 class="mt-2 mb-1">Invoice Application</h2>
    <p>Invoice Application is a fast and easy way for sending invoices and estimates to your customers.</p>
  </div>
  <!-- Invoice List -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="invoice-list">Invoice List</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>
            Invoice List page will provide list of invoices with other invoice details of each invoice like invoice ID,
            client details, issue date, total amount, due/paid, etc..
          </p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="moment.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.buttons.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.bootstrap4.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.checkboxes.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/dataTables.responsive.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/responsive.bootstrap.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/datatables.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/extensions/dataTables.checkboxes.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/responsive.bootstrap.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-invoice-list.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-invoice-list.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with Invoice List Page</h6>
          <ul class="my-1">
            <li>List of invoices</li>
            <li>Filter by status</li>
            <li>Actions to send mail, edit, delete, download or preview</li>
            <li>Search invoice</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-list.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-list.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ Invoice List -->
  <!-- Invoice Preview -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="invoice-preview">Invoice Preview</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>To view invoice details with invoice id, date, address, products, etc..</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="forms/repeater/jquery.repeater.min.js"&gt;&lt;/script&gt;
      &lt;script src="pickers/flatpickr/flatpickr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="pickers/flatpickr/flatpickr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-invoice.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="pickers/form-flat-pickr.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-invoice.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with Invoice Preview Page</h6>
          <ul class="my-1">
            <li>Find Invoice details</li>
            <li>Download, send mail, edit invoice</li>
            <li>Add Invoice payment</li>
            <li>To print invoice</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-preview.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-preview.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ Invoice View -->
  <!-- Invoice Edit -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="invoice-edit">Invoice Edit</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>To edit/update invoice details like ID, date, etc..</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="repeater/jquery.repeater.min.js"&gt;&lt;/script&gt;
      &lt;script src="flatpickr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="flatpickr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-invoice.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-invoice.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with Invoice Edit Page</h6>
          <ul class="my-1">
            <li>Edit/update invoice</li>
            <li>Add invoice item</li>
            <li>Add payment</li>
            <li>Invoice payment options</li>
            <li>Add notes</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-edit.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-edit.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ Invoice Edit -->
  <!-- Invoice Add -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="invoice-add">Invoice Add</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>To add/create new invoice.</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="repeater/jquery.repeater.min.js"&gt;&lt;/script&gt;
      &lt;script src="select2.full.min.js"&gt;&lt;/script&gt;
      &lt;script src="flatpickr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="select2.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="flatpickr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-invoice.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-invoice.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with Invoice Add Page</h6>
          <ul class="my-1">
            <li>To add new invoice</li>
            <li>Add invoice item</li>
            <li>Add notes</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-add.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-invoice-add.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ Invoice Add -->
</div>
<!--/ Invoice -->

<!-- File Manager -->
<div class="card">
  <div class="card-header">
    <h4 id="file-manager" class="card-title">File Manager</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        A file manager or file browser is a computer program that provides a user interface to manage files and folders.
        Folders and files may be displayed in a hierarchical tree based on their directory structure.
      </p>
      <h6>1. You need these files for application to work</h6>
      <pre class="language-markup my-1">
<code class="language-markup">
  &lt;!-- Vendor Files --&gt;
  &lt;script src="extensions/jstree.min.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/jstree.min.css"&gt;

  &lt;!-- Template Files --&gt;
  &lt;script src="app-file-manager.js"&gt;&lt;/script&gt;
  &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-tree.css"&gt;
  &lt;link rel="stylesheet" type="text/css" href="app-file-manager.css"&gt;
</code>
</pre>
      <h6>2. Actions you can perform with File Manager Application</h6>
      <ul class="my-1">
        <li>Grid View & List View</li>
        <li>Select File & Folder</li>
        <li>View File & Folder info</li>
        <li>Search files and folder</li>
      </ul>
      <p class="mt-2">
        <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
      </p>
      <table class="table table-bordered table-striped my-1">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Plugin Link</strong></td>
            <td><a href="https://www.jstree.com/" target="_blank">https://www.jstree.com/</a></td>
          </tr>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-file-manager.html"
                target="_blank"
                >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-file-manager.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ File Manager -->

<!-- E-commerce -->
<div id="ecommerce" class="row">
  <div class="col-12">
    <h2 class="mt-2 mb-1">E-commerce Application</h2>
    <p>
      Electronic commerce is an emerging model of new selling and merchandising tools in which buyers are able to
      participate in all phases of a purchase decision, while stepping through those processes electronically rather
      than in a physical store or by phone (with a physical catalogue).
    </p>
  </div>
  <!-- E-commerce Shop -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="ecommerce-shop">E-commerce Shop</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>
            E-commerce Shop shows list of all the products to add to cart, to add in wishlist, to filter by category and
            more..
          </p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="wNumb.min.js"&gt;&lt;/script&gt;
      &lt;script src="nouislider.min.js"&gt;&lt;/script&gt;
      &lt;script src="toastr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="nouislider.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="toastr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-ecommerce.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="ext-component-sliders.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-ecommerce.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="ext-component-toastr.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with eCommerce Shop Page</h6>
          <ul class="my-1">
            <li>Add product to wishlist.</li>
            <li>Add product to cart.</li>
            <li>Change product view between list and grid view.</li>
            <li>Remove products from wishlist.</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-shop.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-shop.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ E-commerce Shop -->
  <!-- E-commerce Details -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="ecommerce-details">E-commerce Details</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>E-commerce details to view products details with more information about features, colors, price, etc..</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src=spinner/jquery.bootstrap-touchspin.js"&gt;&lt;/script&gt;
      &lt;script src=swiper.min.js"&gt;&lt;/script&gt;
      &lt;script src=toastr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href=spinner/jquery.bootstrap-touchspin.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href=swiper.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href=toastr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-ecommerce-details.js"&gt;&lt;/script&gt;
      &lt;script src="forms/form-number-input.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-ecommerce-details.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/form-number-input.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-toastr.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with eCommerce Details Page</h6>
          <ul class="my-1">
            <li>To view more features & information about product</li>
            <li>To view sellers policy or check more seller information</li>
            <li>To check more related products</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-details.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-details.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ E-commerce Details -->
  <!-- E-commerce Wishlist -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="ecommerce-wishlist">E-commerce Wishlist</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>E-commerce wishlist page used to view products added in wishlist.</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="toastr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="toastr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-ecommerce-wishlist.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-ecommerce.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-toastr.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with eCommerce Wishlist Page</h6>
          <ul class="my-1">
            <li>To view list of wishlist products</li>
            <li>To remove product from wishlist</li>
            <li>Move product to cart form wishlist</li>
            <li>Check details on click of product</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-wishlist.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-wishlist.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ E-commerce Wishlist -->
  <!-- E-commerce Checkout -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="ecommerce-checkout">E-commerce Checkout</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>
            E-commerce Checkout page will be used to check list of items user wants to buy. User can also manage address
            to deliver product. Checkout process ends with payment process.
          </p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="wizard/bs-stepper.min.js"&gt;&lt;/script&gt;
      &lt;script src="spinner/jquery.bootstrap-touchspin.js"&gt;&lt;/script&gt;
      &lt;script src="toastr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="wizard/bs-stepper.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="spinner/jquery.bootstrap-touchspin.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="toastr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-ecommerce-checkout.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-ecommerce.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-pickadate.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/form-wizard.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="extensions/ext-component-toastr.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/form-number-input.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with eCommerce Checkout Page</h6>
          <ul class="my-1">
            <li>To view list of products you added in cart</li>
            <li>Move product to wishlist</li>
            <li>To remove product from cart</li>
            <li>Check details on click of product</li>
            <li>Add new address / continue with added address</li>
            <li>Payment of total amount</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-checkout.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-ecommerce-checkout.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ E-commerce Checkout -->
</div>
<!--/ E-commerce -->

<!-- User -->
<div id="user" class="row">
  <div class="col-12">
    <h2 class="mt-2 mb-1">User Application</h2>
    <p>
      User management application used to check List of users, To check more details of each user & edit the details.
    </p>
  </div>
  <!-- User List -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="user-list">User List</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>
            User List page will provide list of users with other details of each users like email,role, user's plan,
            status, etc..
          </p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="datatable/jquery.dataTables.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.bootstrap4.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/dataTables.responsive.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/responsive.bootstrap4.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.buttons.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/buttons.bootstrap4.min.js"&gt;&lt;/script&gt;
      &lt;script src="validation/jquery.validate.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/dataTables.bootstrap4.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/responsive.bootstrap4.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/buttons.bootstrap4.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-user-list.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/form-validation.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-user.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with User List Page</h6>
          <ul class="my-1">
            <li>List of users</li>
            <li>Filter by role, plan, status</li>
            <li>Actions to edit,delete or view user details</li>
            <li>Add New User</li>
            <li>Search user</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-list.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-list.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ User List -->
  <!-- User View -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="user-view">User View</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>
            To check more details about user, you need user view page. Find more information about current plans,
            permission about user.
          </p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="extensions/moment.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/jquery.dataTables.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.bootstrap4.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/dataTables.responsive.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/responsive.bootstrap4.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/datatables.buttons.min.js"&gt;&lt;/script&gt;
      &lt;script src="datatable/buttons.bootstrap4.min.js"&gt;&lt;/script&gt;
      &lt;script src="validation/jquery.validate.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/dataTables.bootstrap4.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/responsive.bootstrap4.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="datatable/buttons.bootstrap4.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-user-view.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-invoice-list.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-user.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with User View Page</h6>
          <ul class="my-1">
            <li>Find personal information about user</li>
            <li>Find current activated plan of user with more information</li>
            <li>User's timeline to show activities</li>
            <li>User's permission</li>
            <li>User's invoices list</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-view.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-view.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ User View -->
  <!-- User Edit -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="user-edit">User Edit</h4>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="collapse"><i data-feather="chevron-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <p>To edit/update user's Account Information, Personal Information like address and social information.</p>
          <h6>1. You need these files for application to work</h6>
          <pre class="language-markup my-1">
    <code class="language-markup">
      &lt;!-- Vendor Files --&gt;
      &lt;script src="select2.full.min.js"&gt;&lt;/script&gt;
      &lt;script src="jquery.validate.min.js"&gt;&lt;/script&gt;
      &lt;script src="flatpickr.min.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="select2.min.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="flatpickr.min.css"&gt;

      &lt;!-- Template Files --&gt;
      &lt;script src="app-user-edit.js"&gt;&lt;/script&gt;
      &lt;script src="components/components-navs.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/pickers/form-flat-pickr.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="forms/form-validation.css"&gt;
      &lt;link rel="stylesheet" type="text/css" href="app-user.css"&gt;
    </code>
    </pre>
          <h6>2. Actions you can perform with User Edit Page</h6>
          <ul class="my-1">
            <li>Edit/update user account information</li>
            <li>Edit/update permission</li>
            <li>Edit/update user's personal information & address</li>
            <li>Edit/update user's social medias</li>
          </ul>
          <table class="table table-bordered table-striped my-1">
            <thead>
              <tr>
                <th>Type</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Template Page</strong></td>
                <td>
                  <a
                    href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-edit.html"
                    target="_blank"
                    >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-user-edit.html</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/ User Edit -->
</div>
<!--/ User -->
