<!-- Alert -->
<div class="card">
  <div class="card-header">
    <h4 id="alert" class="card-title">Alert</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Provide contextual feedback messages for typical user actions with the handful of available and flexible alert
        messages.<br />
        Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/alerts/" target="_blank">Bootstrap Documentation</a> for a
        full list of instructions and other options.
      </p>
      <h6>Start using alerts with no worries!</h6>
      <p>Check below table to use alerts with different types and designs.</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Alert Type</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Default alert</strong></td>
              <td><code>.alert.alert-{color}</code></td>
              <td>
                <p class="mb-0">Use these classes to make alert.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alert Title</strong></td>
              <td><code>.alert-heading</code></td>
              <td>Use this class inside <code>.alert</code> to create alert with title.</td>
            </tr>
            <tr>
              <td><strong>Dismissible Alerts</strong></td>
              <td><code>.alert-dismissible</code></td>
              <td>
                Use this class along with <code>.alert</code> and also add <code>.close</code> button inside
                <code>.alert</code> to make dismissible alert. It adds extra padding to the right of the alert and
                positions the <code>.close</code> button.
              </td>
            </tr>
            <tr>
              <td><strong>Alerts with icons</strong></td>
              <td>N/A</td>
              <td>Just add icon before your alert text to create a alert with icon.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Link</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/alerts/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/alerts/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-alerts.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-alerts.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Alert -->

<!-- Avatar -->
<div class="card">
  <div class="card-header">
    <h4 id="avatar" class="card-title">Avatar</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Often you need to add an user's avatar to your app. In order to make this we have the component.<br />
        <strong>Note:</strong> You have to use inline attributes for avatar image size.
      </p>
      <div class="alert alert-primary" role="alert">
        <div class="alert-body">This is Vuexy template's custom component.</div>
      </div>
      <p>Use below mentioned code to create an avatar.</p>
      <pre class="language-markup">
<code class="language-markup">
&lt;!-- Avatar with Image --&gt;
&lt;div class=&quot;avatar&quot;&gt;
    &lt;img src="..." alt="..." width="32" height="32" /&gt;
&lt;/div&gt;

&lt;!-- Avatar with Content --&gt;
&lt;div class=&quot;avatar&quot;&gt;
    &lt;span class=&quot;avatar-content&quot;&gt;
        &lt;!-- You can add Initial letters instead of icon --&gt;
        &lt;i data-feather=&quot;github&quot; class=&quot;avatar-icon&quot;&gt;&lt;/i&gt;
    &lt;/span&gt;
&lt;/div&gt;
</code>
      </pre>
      <div class="table-responsive mt-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Avatar Type</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Background Color</td>
              <td><code>.avatar.bg-{color}</code></td>
              <td>
                <p class="mb-0">Use these classes to make an avatar with background color.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info}</p>
              </td>
            </tr>
            <tr>
              <td>Light Background Color</td>
              <td><code>.bg-light-{color}</code></td>
              <td>
                <p class="mb-0">Use these classes to make an avatar with light background color.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info}</p>
              </td>
            </tr>
            <tr>
              <td>Avatar with Icon</td>
              <td><code>.avatar-icon</code></td>
              <td>
                Use this class along with the icon element which is inside <code>.avatar-content</code> inside
                <code>.avatar</code>
              </td>
            </tr>
            <tr>
              <td>Avatar Sizes</td>
              <td><code>.avatar-{size}</code></td>
              <td>
                <p class="mb-0">Use this class for different avatar sizes.</p>
                <p class="mb-0">size: {sm | lg | xl}</p>
              </td>
            </tr>
            <tr>
              <td>Avatar Status</td>
              <td><code>.avatar-status-{value}</code></td>
              <td>
                <p class="mb-0">
                  Adds little element to avatar which represents user's status. Use this class as a sibling to
                  <code>&lt;img&gt;</code> tag or <code>.avatar-content</code> class.
                </p>
                <p class="mb-0">value: {online | offline | away | busy}</p>
              </td>
            </tr>
            <tr>
              <td>Avatar Group</td>
              <td><code>.avatar-group</code></td>
              <td>
                Use this class to wrap all the avatars so that all avatars overlap on previous avatars. You may use
                <code>.pull-up</code> class to have some effect on hover.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-avatar.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-avatar.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Avatar -->

<!-- Badges -->
<div class="card">
  <div class="card-header">
    <h4 id="badges" class="card-title">Badges</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Small and adaptive badge for adding context to just about any content.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/badge/" target="_blank">Bootstrap Documentation</a> for a
        full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Badges options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic Badges</strong></td>
              <td><code>.badge-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.badge</code> class for different background colored badges.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Badges with Light Background Color</strong></td>
              <td><code>.badge-light-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.badge</code> class for badges with light background colors.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Glow Badges</strong></td>
              <td><code>.badge-glow</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.badge-{color}</code> to add glow effect to contextual badge.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Badges with Icon</strong></td>
              <td>N/A</td>
              <td>Just add icon inside any badge.</td>
            </tr>
            <tr>
              <td><strong>Block Badges</strong></td>
              <td><code>.d-block</code></td>
              <td>Use this class for block badges.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/badge" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/badge</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-badges.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-badges.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Badges -->

<!-- Breadcrumbs -->
<div class="card">
  <div class="card-header">
    <h4 id="breadcrumbs" class="card-title">Breadcrumbs</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS
        through <code>::before</code> and <code>content</code>. They can be changed by changing
        <code>$breadcrumb-divider</code>.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/breadcrumb/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <pre class="language-html">
        <code class="language-html">
&lt;nav aria-label=&quot;breadcrumb&quot;&gt;
  &lt;ol class=&quot;breadcrumb&quot;&gt;
    &lt;li class=&quot;breadcrumb-item active&quot; aria-current=&quot;page&quot;&gt;Home&lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;

&lt;nav aria-label=&quot;breadcrumb&quot;&gt;
  &lt;ol class=&quot;breadcrumb&quot;&gt;
    &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;breadcrumb-item active&quot; aria-current=&quot;page&quot;&gt;Library&lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;

&lt;nav aria-label=&quot;breadcrumb&quot;&gt;
  &lt;ol class=&quot;breadcrumb&quot;&gt;
    &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Library&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;breadcrumb-item active&quot; aria-current=&quot;page&quot;&gt;Data&lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;
        </code>
      </pre>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/breadcrumb/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/breadcrumb/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-breadcrumbs.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-breadcrumbs.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Breadcrumbs -->

<!-- Buttons -->
<div class="card">
  <div class="card-header">
    <h4 id="buttons" class="card-title">Buttons</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Buttons include support for a handful of contextual variations, sizes, states, and more. Group a series of
        buttons together on a single line with the button group.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/buttons/" target="_blank"
          >Bootstrap Buttons Documentation</a
        >
        and
        <a href="https://getbootstrap.com/docs/4.6/components/button-group/" target="_blank"
          >Bootstrap Button Group Documentation</a
        >
        for a full list of instructions and other options.
      </p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Buttons options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic button</strong></td>
              <td><code>.btn-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.btn</code> class for contextual classes.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Outline button</strong></td>
              <td><code>.btn-outline-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.btn</code> class for outline or bordered buttons.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Flat button</strong></td>
              <td><code>.btn-flat-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.btn</code> class for flat buttons.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Gradient button</strong></td>
              <td><code>.btn-gradient-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.btn</code> class for gradient background colors for buttons.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Relief button</strong></td>
              <td><code>.btn-relief-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.btn</code> class for relief buttons.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Round button</strong></td>
              <td><code>.round</code></td>
              <td>Use this class for round button.</td>
            </tr>
            <tr>
              <td><strong>Square button</strong></td>
              <td><code>.square</code></td>
              <td>Use this class for square button.</td>
            </tr>
            <tr>
              <td><strong>Button with icon</strong></td>
              <td>N/A</td>
              <td>Just add icon before your button text for button with icons.</td>
            </tr>
            <tr>
              <td><strong>Button with icon only</strong></td>
              <td><code>.btn-icon</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.btn</code> class if you want only icon inside a button.
                </p>
                <p class="mb-0">
                  <strong
                    >Note: You can use <code>.btn-icon</code> only when you want icon without text in your
                    button.</strong
                  >
                </p>
                <p class="mb-0">You can also use <code>.rounded-circle</code> class for round button with icon only.</p>
              </td>
            </tr>
            <tr>
              <td><strong>Button Size</strong></td>
              <td><code>.btn-{size}</code></td>
              <td>
                <p class="mb-0">Use this class for different button sizes.</p>
                <p class="mb-0">size: {sm | lg}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Button group</strong></td>
              <td><code>.btn-group</code></td>
              <td>Group a series of buttons together on a single line with the the help of this class.</td>
            </tr>
            <tr>
              <td><strong>Button block</strong></td>
              <td><code>.btn-block</code></td>
              <td>Create block level buttons - those that span the full width of a parent.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Buttons</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/buttons/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/buttons/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Button Groups</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/button-group/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/button-group/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-buttons.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-buttons.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Buttons -->

<!-- Carousel -->
<div class="card">
  <div class="card-header">
    <h4 id="carousel" class="card-title">Carousel</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        A slideshow component for cycling through elements—images or slides of text—like a carousel. In browsers where
        the Page Visibility API is supported, the carousel will avoid sliding when the webpage is not visible to the
        user (such as when the browser tab is inactive, the browser window is minimized, etc.).<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/carousel/" target="_blank">Bootstrap Documentation</a> for
        a full list of instructions and other options.
      </p>
      <p><strong>Nested carousels are not supported.</strong></p>
      <p>Below are the options that you can use :</p>
      <ul type="i">
        <li>Carousel with caption</li>
        <li>Interval Options</li>
        <li>Disable on hover Pause</li>
        <li>Crossfade effect, etc.</li>
      </ul>
      <p><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/carousel/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/carousel/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-carousel.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-carousel.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel -->

<!-- Collapse -->
<div class="card">
  <div class="card-header">
    <h4 id="collapse" class="card-title">Collapse</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        The Bootstrap collapse plugin allows you to toggle content on your pages with a few classes thanks to some
        helpful JavaScript.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/collapse/" target="_blank">Bootstrap Documentation</a> for
        a full list of instructions and other options.
      </p>
      <p>
        You can use a link with the <code>href</code> attribute, a button and any other element with the
        <code>data-target</code> attribute.
      </p>
      <p>
        <strong>In all cases, the <code>data-toggle="collapse"</code> is required.</strong>
      </p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Collapse Options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Collapse Icon</td>
              <td><code>.collapse-icon</code></td>
              <td>Use this class to add icon at the right side of collapse.</td>
            </tr>
            <tr>
              <td>Collapse Shadow</td>
              <td><code>.collapse-shadow</code></td>
              <td>Use this class to add shadow to your collapse/accordion.</td>
            </tr>
            <tr>
              <td>Collapse Border</td>
              <td><code>.collapse-border</code></td>
              <td>Use this class to add border around collapse/accordion.</td>
            </tr>
            <tr>
              <td>Collapse Margin</td>
              <td><code>.collapse-margin</code></td>
              <td>Use this class to add margin to collapse/accordion.</td>
            </tr>
            <tr>
              <td>Collapse Hover</td>
              <td><code>data-open-hover="true"</code></td>
              <td>
                <p class="mb-0">Makes your collapse open on hover.</p>
                <p class="mb-0">
                  <strong>Note: </strong><code>data-open-hover="true"</code> is not a class it's an attribute.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/collapse/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/collapse/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-collapse.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-collapse.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Collapse -->

<!-- Divider -->
<div class="card">
  <div class="card-header">
    <h4 id="divider" class="card-title">Divider</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>Divide text or section components with some great features which are easy to implement.</p>
      <div class="alert alert-primary" role="alert">
        <div class="alert-body">This is Vuexy template's custom component.</div>
      </div>
      <p>Use below mentioned code to create a divider.</p>
      <pre class="language-markup">
    <code class="language-markup">
    &lt;div class=&quot;divider&quot;&gt;
    &lt;div class=&quot;divider-text&quot;&gt;My Text&lt;/div&gt;
&lt;/div&gt;
    </code>
          </pre>
      <div class="table-responsive my-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Divider Type</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic Divider</td>
              <td><code>&lt;hr&gt;</code></td>
              <td>Use this tag to create a divider.</td>
            </tr>
            <tr>
              <td>Divider with Text</td>
              <td><code>.divider-text</code></td>
              <td>Use this class inside <code>.divider</code> class to write some text between the divider.</td>
            </tr>
            <tr>
              <td>Position</td>
              <td><code>.divider-{position}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.divider</code> to position your text within the divider.
                </p>
                <p class="mb-0">position: {left | left-center | right | right-center}</p>
              </td>
            </tr>
            <tr>
              <td>Colors</td>
              <td><code>.divider-{color}</code></td>
              <td>
                <p class="mb-0">Use this class for colored divider.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td>Style</td>
              <td><code>.divider-{style}</code></td>
              <td>
                <p class="mb-0">Use this class to give style to your divider.</p>
                <p class="mb-0">style: {dotted | dashed}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-divider.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-divider.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Divider -->

<!-- Dropdown -->
<div class="card">
  <div class="card-header">
    <h4 id="dropdown" class="card-title">Dropdown</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Dropdowns are toggleable, contextual overlays for displaying lists of links and more. They’re made interactive
        with the included Bootstrap dropdown JavaScript plugin.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/dropdowns/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <h6>Example Code:</h6>
      <pre class="language-HTML">
<code class="language-HTML">
&lt;div class="dropdown"&gt;
    &lt;button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
        Dropdown button
    &lt;/button&gt;

    &lt;div class="dropdown-menu" aria-labelledby="dropdownMenuButton"&gt;
        &lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;
        &lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;
        &lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
            </pre>
      <div class="table-responsive mt-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Dropdown Options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Directions</strong></td>
              <td><code>.drop{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.btn-group</code> to position your dropdown menu relative to the
                  dropdown button.
                </p>
                <p class="mb-0">direction: {up | right | left}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Active item in Dropdown Menu</strong></td>
              <td><code>.active</code></td>
              <td>Use this class along with <code>.dropdown-item</code> to show any active item in dropdown menu.</td>
            </tr>
            <tr>
              <td><strong>Disabled item in Dropdown Menu</strong></td>
              <td><code>.disabled</code></td>
              <td>Use this class along with <code>.dropdown-item</code> to show any disabled item in dropdown menu.</td>
            </tr>
            <tr>
              <td><strong>Right Aligned Dropdown Menu</strong></td>
              <td><code>.dropdown-menu-right</code></td>
              <td>Use this class to align the dropdown menu to the right side.</td>
            </tr>
            <tr>
              <td><strong>Header in Dropdown Menu</strong></td>
              <td><code>.dropdown-header</code></td>
              <td>Use this class to add a header inside the dropdown menu.</td>
            </tr>
            <tr>
              <td><strong>Divider in Dropdown Menu</strong></td>
              <td><code>.dropdown-divider</code></td>
              <td>Use this class to add a divider inside the dropdown menu.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/dropdowns/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/dropdowns/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-dropdowns.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-dropdowns.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Dropdown -->

<!-- List Group -->
<div class="card">
  <div class="card-header">
    <h4 id="list-group" class="card-title">List Group</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        List groups are flexible and powerful component for displaying not only simple lists of elements, but complex
        ones with custom content.
      </p>
      <p>
        The most basic list group is simply an unordered list with list items and the proper classes. Build upon it with
        the options that follow, or your own CSS as needed.
      </p>
      <p>
        Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/list-group/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <h6>Example Code:</h6>
      <pre class="language-HTML">
  <code class="language-HTML">
      &lt;ul class="list-group"&gt;
          &lt;li class="list-group-item"&gt;Cras justo odio&lt;/li&gt;
          &lt;li class="list-group-item"&gt;Dapibus ac facilisis in&lt;/li&gt;
          &lt;li class="list-group-item"&gt;Morbi leo risus&lt;/li&gt;
          &lt;li class="list-group-item"&gt;Porta ac consectetur ac&lt;/li&gt;
          &lt;li class="list-group-item"&gt;Vestibulum at eros&lt;/li&gt;
      &lt;/ul&gt;
  </code>
            </pre>
      <div class="table-responsive my-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>List Group Options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Active item</strong></td>
              <td><code>.active</code></td>
              <td>Use this class along with <code>.list-group-item</code> to show any active item.</td>
            </tr>
            <tr>
              <td><strong>Disabled item</strong></td>
              <td><code>.disabled</code></td>
              <td>Use this class along with <code>.list-group-item</code> to show any disabled item.</td>
            </tr>
            <tr>
              <td><strong>No Border around List Group</strong></td>
              <td><code>.list-group-flush</code></td>
              <td>Use this class along with <code>.list-group</code> to remove borders around the list group.</td>
            </tr>
            <tr>
              <td><strong>Horizontal List Group</strong></td>
              <td><code>.list-group-horizontal</code></td>
              <td>Use this class along with <code>.list-group</code> to show list group horizontally.</td>
            </tr>
            <tr>
              <td><strong>Contextual Classes</strong></td>
              <td><code>.list-group-item-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use contextual classes along with <code>.list-group-item</code> to style list items with a stateful
                  background and color.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/list-group/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/list-group/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-list-group.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-list-group.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ List Group -->

<!-- Media Objects -->
<div class="card">
  <div class="card-header">
    <h4 id="media-object" class="card-title">Media Object</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        The media object is an abstract element used as the basis for building more complex and repetitive components
        where some media is positioned alongside content that doesn’t wrap around said media.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/media-object/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p><strong>Example Code :</strong></p>
      <pre class="language-HTML">
<code class="language-HTML">
&lt;div class="media"&gt;
    &lt;div class="media-left"&gt;
        &lt;img src="..." alt="..."&gt;
    &lt;/div&gt;
    &lt;div class="media-body"&gt;
        &lt;h4 class="media-heading"&gt;Media heading&lt;/h4&gt;
        Media Text
    &lt;/div&gt;
&lt;/div&gt;
</code>
            </pre>
      <div class="table-responsive my-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Media Object Options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>List of Media Objects</strong></td>
              <td><code>.media-list</code></td>
              <td>
                Use this class as a wrapper of all <code>.media</code> classes for proper spacing between two media
                objects.
              </td>
            </tr>
            <tr>
              <td><strong>Media Image on left/right</strong></td>
              <td><code>.media-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class as a wrapper of <code>&lt;img&gt;</code> tag and as child of
                  <code>.media-list .media</code> to have proper spacing between media image and media text. Use
                  <code>.media-left</code> class before <code>.media-body</code> if you want image on left and use
                  <code>.media-right</code> class after <code>.media-body</code> if you want image on right
                </p>
                <p class="mb-0">direction: {left | right}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Bordered Media Object</strong></td>
              <td><code>.media-bordered</code></td>
              <td>
                Use this class as a wrapper of all <code>.media</code> classes along with <code>.media-list</code> class
                for borders between all media objects.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/media-object/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/media-object/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-media-objects.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-media-objects.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Media Objects -->

<!-- Modals -->
<div class="card">
  <div class="card-header">
    <h4 id="modal" class="card-title">Modal</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart
        defaults.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/modal/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <h6>Example Code:</h6>
      <pre class="language-HTML">
<code class="language-HTML">
&lt;div class="modal fade"&gt;
    &lt;div class="modal-dialog" role="document"&gt;
        &lt;div class="modal-content"&gt;
            &lt;div class="modal-header"&gt;
                &lt;h4 class="modal-title"&gt;Modal title&lt;/h4&gt;
                &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;
                    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class="modal-body"&gt;
                Modal Content
            &lt;/div&gt;
            &lt;div class="modal-footer"&gt;
                &lt;button type="button" class="btn btn-primary" data-dismiss="modal"&gt;Save changes&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
            </pre>
      <div class="table-responsive mt-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Modal options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Contextual Modals</strong></td>
              <td><code>.modal-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.modal</code> class for contextual modal header, close button and
                  button in modal footer.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Modal sizes</strong></td>
              <td><code>.modal-{size]</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.modal-dialog</code> for create modal with different sizes.
                </p>
                <p class="mb-0">size: {xs | sm | lg | xl}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Modal</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/modal/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/modal/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-modals.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-modals.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Modals -->

<!-- Navs -->
<div class="card">
  <div class="card-header">
    <h4 id="navs-component" class="card-title">Navs Component</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Roll your own navigation style by extending the base <code>.nav</code> component. All Bootstrap’s nav components
        are built on top of this by specifying additional styles. Includes styles for the disabled state, but
        <strong>not the active state</strong>.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/modal/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Navs options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Navs with Border</strong></td>
              <td><code>.wrap-border</code></td>
              <td>Use this class for border around nav component.</td>
            </tr>
            <tr>
              <td><strong>Navs with Square Border</strong></td>
              <td><code>.square-border</code></td>
              <td>Use this class along with <code>.wrap-border</code> for square border around nav component.</td>
            </tr>
            <tr>
              <td><strong>Alignment of Navs</strong></td>
              <td><code>.justify-content-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.nav</code> to align navs horizontally at start, center or end.
                </p>
                <p class="mb-0">direction: {start | center | end}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Vertical Navs</strong></td>
              <td><code>.flex-column</code></td>
              <td>Use this class along with <code>.nav</code> for vertical navs.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/navs/#base-nav" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/navs/#base-nav</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-navs-component.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-navs-component.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Navs -->

<!-- Pagination -->
<div class="card">
  <div class="card-header">
    <h4 id="pagination" class="card-title">Pagination</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Documentation and examples for showing pagination to indicate a series of related content exists across multiple
        pages.
      </p>
      <p>
        The pagination component should be wrapped in a <code>&lt;nav&gt;</code> element to identify it as a navigation
        section to screen readers and other assistive technologies. For example, if the pagination component is used to
        navigate between a set of search results, an appropriate label could be
        <code>aria-label="Page Navigation"</code>.
      </p>
      <p>
        Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/pagination/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Pagination options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Active Link</strong></td>
              <td><code>.active</code></td>
              <td>Use this class along with <code>.page-item</code> for active link in the pagination.</td>
            </tr>
            <tr>
              <td><strong>Separated Pagination</strong></td>
              <td><code>.prev-item</code> & <code>.next-item</code></td>
              <td>
                Use these classes along with <code>.page-item</code> to create separated pagination arrows for previous
                and next pagination items.
              </td>
            </tr>
            <tr>
              <td><strong>Pagination with arrows</strong></td>
              <td><code>.prev</code> & <code>.next</code></td>
              <td>
                Use these classes along with <code>.page-item</code> to create pagination with arrows for previous and
                next items.
              </td>
            </tr>
            <tr>
              <td><strong>Colored Pagination</strong></td>
              <td><code>.pagination-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.pagination</code> for colored pagination.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alignment of Pagination</strong></td>
              <td><code>.justify-content-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.pagination</code> to align pagination horizontally at start, center
                  or end.
                </p>
                <p class="mb-0">direction: {start | center | end}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Pagination Sizes</strong></td>
              <td><code>.pagination-{size}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.pagination</code> for different sizes of pagination.
                </p>
                <p class="mb-0">size: {sm | lg}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/pagination/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/pagination/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pagination.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pagination.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Pagination -->

<!-- Pill badges -->
<div class="card">
  <div class="card-header">
    <h4 id="pill-badges" class="card-title">Pill badges</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Use the <code>.badge-pill</code> modifier class with <code>.badge</code> class to make badges more rounded.<br />Read
        the official
        <a href="https://getbootstrap.com/docs/4.6/components/badge/#pill-badges" target="_blank"
          >Bootstrap Documentation</a
        >
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Pill badges options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic Colored Pill badges</strong></td>
              <td><code>.badge-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.badge.badge-pill</code> for colored pill badges.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Light Pill badges</strong></td>
              <td><code>.badge-light-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.badge.badge-pill</code> for light background colored pill badges.
                </p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Glowing Pill Badges</strong></td>
              <td><code>.badge-glow</code></td>
              <td>
                Use this class along with <code>.badge.badge-pill</code> to add glowing effect to the pill badges.
              </td>
            </tr>
            <tr>
              <td><strong>Pill Badges as Notification</strong></td>
              <td><code>.badge-up</code></td>
              <td>
                Use this class along with <code>.badge.badge-pill</code> to set pill badge to higher than other text so
                that it looks like notification count.
              </td>
            </tr>
            <tr>
              <td><strong>Block Pill Badges</strong></td>
              <td><code>.d-block</code></td>
              <td>Use this class along with <code>.badge.badge-pill</code> to make pill badge as a block element.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/badge/#pill-badges" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/badge/#pill-badges</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pill-badges.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pill-badges.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Pill badges -->

<!-- Pills -->
<div class="card">
  <div class="card-header">
    <h4 id="pills-component" class="card-title">Pills Component</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Navigation available in Bootstrap share general markup and styles, from the base <code>.nav</code> class to the
        active and disabled states. Swap modifier classes to switch between each style.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/navs/#pills" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Pills options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic Pills</strong></td>
              <td><code>.nav-pills</code></td>
              <td>
                Use this class along with <code>.nav</code> and add <code>.active</code> class along with
                <code>.nav-link</code> to style your active link in <code>.nav</code>.
              </td>
            </tr>
            <tr>
              <td><strong>Filled Pills</strong></td>
              <td><code>.nav-fill</code></td>
              <td>
                Use this class along with <code>.nav.nav-pills</code> to proportionately fill all available space with
                your <code>.nav-item</code>s
              </td>
            </tr>
            <tr>
              <td><strong>Justified Pills</strong></td>
              <td><code>.nav-justified</code></td>
              <td>Use this class along with <code>.nav.nav-pills</code> to force pills with equal width.</td>
            </tr>
            <tr>
              <td><strong>Vertical Pills</strong></td>
              <td><code>.flex-column</code></td>
              <td>Use this class along with <code>.nav.nav-pills</code> for vertical style of the pills.</td>
            </tr>
            <tr>
              <td><strong>Alignment of Pills</strong></td>
              <td><code>.justify-content-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.nav.nav-pills</code> to align nav pills horizontally at start, center
                  or end.
                </p>
                <p class="mb-0">direction: {start | center | end}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Pill Colors</strong></td>
              <td><code>.nav-pill-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.nav.nav-pills</code> for colored nav pills.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alignment of Text inside Pills</strong></td>
              <td><code>.nav-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.nav.nav-pills</code> to align texts left or right side inside the nav
                  pills.
                </p>
                <p class="mb-0">direction: {left | right}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/navs/#pills" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/navs/#pills</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pills-component.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-pills-component.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Pills -->

<!-- Popovers -->
<div class="card">
  <div class="card-header">
    <h4 id="popovers" class="card-title">Popovers</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>Add small overlay content, like those found in iOS, to any element.</p>
      <p>
        <strong>Popovers requires <code>data-toggle="popover"</code>.</strong> To add popover text, use
        <code>data-content="Popovers text"</code>.
      </p>
      <p>
        Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/popovers/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Popovers options</th>
              <th>Attribute</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Popovers Positions</strong></td>
              <td><code>data-placement="{position}"</code></td>
              <td>
                <p class="mb-0">Use this attribute to position the popover relative to your target element.</p>
                <p class="mb-0">position: {top | right | bottom | left} [Default position: right]</p>
              </td>
            </tr>
            <tr>
              <td><strong>Trigger Popover</strong></td>
              <td><code>data-trigger="{method}"</code></td>
              <td>
                <p class="mb-0">
                  Use this attribute for how the popover is triggered. You may pass multiple triggers; separate them
                  with a space.
                </p>
                <p class="mb-0">method: {click | hover | focus | manual} [Default method: 'click']</p>
              </td>
            </tr>
            <tr>
              <td><strong>Popover Animation</strong></td>
              <td><code>data-animation="{boolean}"</code></td>
              <td>
                <p class="mb-0">Use this attribute to show or do not show animation on trigger of popover.</p>
                <p class="mb-0">position: {true | false} [Default: true]</p>
              </td>
            </tr>
            <tr>
              <td><strong>Delay Show/Hide Popovers</strong></td>
              <td><code>data-delay="{number}"</code></td>
              <td>
                <p class="mb-0">
                  Use this attribute to delay showing and hiding of popover <code>(ms)</code> -
                  <strong>does not apply to manual trigger type.</strong>
                </p>
                <p class="mb-0">number: number of <code>ms</code> that popover should delay</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/popovers/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/popovers/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-popovers.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-popovers.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Popovers -->

<!-- Progress -->
<div class="card">
  <div class="card-header">
    <h4 id="progress" class="card-title">Progress</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Progress bars features support for stacked bars, animated backgrounds, and text labels.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/progress/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Progress options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic Progress</strong></td>
              <td><code>.progress</code> & <code>.progress-bar</code></td>
              <td>
                Use these classes to create progress bar. Use <code>.progress</code> as a wrapper of
                <code>.progress-bar</code>.
              </td>
            </tr>
            <tr>
              <td><strong>Colored Progress</strong></td>
              <td><code>.progress-bar-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.progress</code> for contextual progress bar.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Labeled Progress</strong></td>
              <td>N/A</td>
              <td>Add labels to your progress bars by placing text within the <code>.progress-bar</code>.</td>
            </tr>
            <tr>
              <td><strong>Multiple Bars</strong></td>
              <td>N/A</td>
              <td>Include multiple <code>.progress-bar</code> in <code>.progress</code>.</td>
            </tr>
            <tr>
              <td><strong>Striped Progress</strong></td>
              <td><code>.progress-bar-striped</code></td>
              <td>Use this class along with <code>.progress-bar</code> for stripped progress bar.</td>
            </tr>
            <tr>
              <td><strong>Animated Striped Progress</strong></td>
              <td><code>.progress-bar-animated</code></td>
              <td>
                Use this class along with <code>.progress-bar.progress-bar-striped</code> for animated stripped progress
                bar.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/progress/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/progress/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-progress.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-progress.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Progress -->

<!-- Spinners -->
<div class="card">
  <div class="card-header">
    <h4 id="spinners" class="card-title">Spinners</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Spinners can be used to show the loading state. For accessibility purposes, each loader here includes
        <code>role="status"</code> and a nested
        <code>&lt;span class="sr-only"&gt;Loading...&lt;/span&gt;</code>.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/spinners/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Use below mentioned code to create a basic spinner :</p>
      <pre class="language-markup">
    <code class="language-markup">
&lt;div class=&quot;spinner-border&quot; role=&quot;status&quot;&gt;
    &lt;span class=&quot;sr-only&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
    </code>
      </pre>
      <div class="table-responsive my-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Progress options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Border Spinner</strong></td>
              <td><code>.spinner-border</code></td>
              <td>Use this class for basic border spinner.</td>
            </tr>
            <tr>
              <td><strong>Colored Border Spinner</strong></td>
              <td><code>.text-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.spinner-border</code> for colored border spinner.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Growing Spinner</strong></td>
              <td><code>.spinner-grow</code></td>
              <td>Use this class for basic growing spinner.</td>
            </tr>
            <tr>
              <td><strong>Colored Growing Spinner</strong></td>
              <td><code>.text-{color}</code></td>
              <td>
                <p class="mb-0">Use this class along with <code>.spinner-grow</code> for colored growing spinner.</p>
                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alignment of Spinner</strong></td>
              <td><code>flex</code>, <code>.float-{float-side}</code> or <code>.text-{text-side}</code></td>
              <td>
                <p class="mb-0">
                  Use flexbox utilities, float utilities, or text alignment utilities to place spinners exactly where
                  you need them in any situation.
                </p>
                <p class="mb-0">float-side: {left | right | none}</p>
                <p class="mb-0">text-side: {left | center | right}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/spinners/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/spinners/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-spinner.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-spinner.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Spinners -->

<!-- Tabs -->
<div class="card">
  <div class="card-header">
    <h4 id="tabs-component" class="card-title">Tabs Component</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content" aria-expanded="true">
    <div class="card-body">
      <p>
        Takes the basic nav and add <code>.nav-tabs</code> class to generate a tabbed interface. Use them to create
        tabbable regions and to extend navigational tabs.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/navs/#tabs" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Tabs options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Basic Tabs</strong></td>
              <td><code>.nav-tabs</code></td>
              <td>
                Use this class along with <code>.nav</code> and add <code>.active</code> class along with
                <code>.nav-link</code> to style your active link in <code>.nav</code>.
              </td>
            </tr>
            <tr>
              <td><strong>Filled Tabs</strong></td>
              <td><code>.nav-fill</code></td>
              <td>
                Use this class along with <code>.nav.nav-tabs</code> to proportionately fill all available space with
                your <code>.nav-item</code>s
              </td>
            </tr>
            <tr>
              <td><strong>Justified Tabs</strong></td>
              <td><code>.nav-justified</code></td>
              <td>Use this class along with <code>.nav.nav-tabs</code> to force tabs with equal width.</td>
            </tr>
            <tr>
              <td><strong>Vertical Tabs</strong></td>
              <td><code>.nav-vertical</code> & <code>.nav-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use <code>.nav-vertical</code> class as wrapper of <code>.nav.nav-tabs</code> and
                  <code>.tab-content</code> to form vertical nav tabs. Use <code>.nav left</code> to align the vertical
                  nav tabs on left side of the tab contents and use <code>.nav right</code> to align the vertical nav
                  tabs on right side of the tab contents.
                </p>
                <p class="mb-0">direction: {left | right}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alignment of Tabs</strong></td>
              <td><code>.justify-content-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.nav.nav-tabs</code> to align nav tabs horizontally at start, center
                  or end.
                </p>
                <p class="mb-0">direction: {start | center | end}</p>
              </td>
            </tr>
            <tr>
              <td><strong>Alignment of Text inside Tabs</strong></td>
              <td><code>.nav-{direction}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.nav.nav-tabs</code> to align texts left or right side inside the nav
                  tabs.
                </p>
                <p class="mb-0">direction: {left | right}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/navs/#tabs" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/navs/#tabs</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-tabs-component.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-tabs-component.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Tabs -->

<!-- Timeline -->
<div class="card">
  <div class="card-header">
    <h4 id="timeline" class="card-title">Timeline</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content" aria-expanded="true">
    <div class="card-body">
      <p>
        Timeline is a list of important events arranged in the order in which they happened starting with the recent
        event.
      </p>
      <div class="alert alert-primary" role="alert">
        <div class="alert-body">This is Vuexy template's custom component.</div>
      </div>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Tabs options</th>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Timeline Wrapper</strong></td>
              <td><code>.timeline</code></td>
              <td>Use this class as a wrapper of all timeline items.</td>
            </tr>
            <tr>
              <td><strong>Timeline Item</strong></td>
              <td><code>.timeline-item</code></td>
              <td>Use this class to wrap all the content and timeline-point of one timeline item.</td>
            </tr>
            <tr>
              <td><strong>Timeline Point/Separator</strong></td>
              <td><code>.timeline-point</code></td>
              <td>
                Use this class inside <code>.timeline-item</code> to indicate separation between two timeline items.
              </td>
            </tr>
            <tr>
              <td><strong>Timeline Indicator</strong></td>
              <td><code>.timeline-point-indicator</code></td>
              <td>
                Use this class along with <code>.timeline-point</code> for smaller timeline point along with background
                color and shadow effect.
              </td>
            </tr>
            <tr>
              <td><strong>Colored Timeline Point</strong></td>
              <td><code>.timeline-point-{color}</code></td>
              <td>
                <p class="mb-0">
                  Use this class along with <code>.timeline-point.timeline-point-indicator</code> for contextual
                  timeline points.
                </p>
                <p class="mb-0">
                  color: {primary | secondary | success | danger | warning | info | dark} [Default color: primary]
                </p>
              </td>
            </tr>
            <tr>
              <td><strong>Timeline Point with Icon</strong></td>
              <td>N/A</td>
              <td>
                Add any icon inside <code>.timeline-point</code> class to have an icon inside the timeline point. If you
                give any color to a timeline point, the svg icon will automatically inherit the color.
              </td>
            </tr>
            <tr>
              <td><strong>Timeline Event</strong></td>
              <td><code>.timeline-event</code></td>
              <td>
                Use this class inside <code>.timeline-item</code> to write your content of one timeline item. You can
                use any element inside this class.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-timeline.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-timeline.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Timeline -->

<!-- Toast -->
<div class="card">
  <div class="card-header">
    <h4 id="toasts" class="card-title">Toast</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.<br />Read
        the official
        <a href="https://getbootstrap.com/docs/4.6/components/toasts/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>
        <strong>Note:</strong> Because proper JS is not provided by bootstrap we have modified toasts for proper
        functionality. You have to use below mentioned classes for toast to work.
      </p>
      <p>Use below mentioned code to create a basic toast :</p>
      <pre class="language-markup">
<code class="language-markup">
&lt;button class="btn btn-outline-primary toast-toggler"&gt;Toast&lt;/button&gt;
&lt;div class="toast toast-basic" role="alert" aria-live="assertive" aria-atomic="true"&gt;
    &lt;div class="toast-header"&gt;
        &lt;img src="..." class="rounded mr-2" alt="..."&gt;
        &lt;strong class="mr-auto"&gt;Bootstrap&lt;/strong&gt;
        &lt;small&gt;11 mins ago&lt;/small&gt;
        &lt;button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"&gt;
            &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="toast-body"&gt;
        Hello, world! This is a toast message.
    &lt;/div&gt;
&lt;/div&gt;
</code>
      </pre>
      <pre class="language-javascript mt-1">
<code class="language-javascript">
$('.toast-toggler').on('click', function () {
    $('.toast-basic').toast('show');
});
</code>
      </pre>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/toasts/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/toasts/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-bs-toast.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-bs-toast.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Toasts -->

<!-- Tooltips -->
<div class="card">
  <div class="card-header">
    <h4 id="tooltips" class="card-title">Tooltips</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Tooltips are an updated version, which don’t rely on images, use CSS3 for animations, and data-attributes for
        local title storage.<br />Read the official
        <a href="https://getbootstrap.com/docs/4.6/components/tooltips/" target="_blank">Bootstrap Documentation</a>
        for a full list of instructions and other options.
      </p>
      <p>
        <strong>Tooltip requires <code>data-toggle="tooltip"</code>.</strong> To add tooltip text, use
        <code>data-original-title="Tooltip title"</code>.
      </p>
      <p>Below are the options that you can use :</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Tooltip options</th>
              <th>Attribute</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Tooltip Positions</strong></td>
              <td><code>data-placement="{direction}"</code></td>
              <td>
                <p class="mb-0">Use this attribute to position your tooltip with relative to the target element.</p>
                <p class="mb-0">direction: {top | right | bottom | left} [Default position: top]</p>
              </td>
            </tr>
            <tr>
              <td><strong>Tooltip Triggers</strong></td>
              <td><code>data-trigger="{method}"</code></td>
              <td>
                <p class="mb-0">
                  Use this attribute for how the tooltip is triggered. You may pass multiple triggers; separate them
                  with a space.
                </p>
                <p class="mb-0">method: {click | hover | focus | manual} [Default method: 'hover focus']</p>
              </td>
            </tr>
            <tr>
              <td><strong>Tooltip Animation</strong></td>
              <td><code>data-animation="{boolean}"</code></td>
              <td>
                <p class="mb-0">Use this attribute to show or do not show animation on trigger of tooltip.</p>
                <p class="mb-0">position: {true | false} [Default: true]</p>
              </td>
            </tr>
            <tr>
              <td><strong>Delay Show/Hide Popovers</strong></td>
              <td><code>data-delay="{number}"</code></td>
              <td>
                <p class="mb-0">
                  Use this attribute to delay showing and hiding of tooltip <code>(ms)</code> -
                  <strong>does not apply to manual trigger type.</strong>
                </p>
                <p class="mb-0">number: number of <code>ms</code> that tooltip should delay</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-1"><strong>Referrals :</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap Page</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/tooltips/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/tooltips/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template Page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-tooltips.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-tooltips.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Tooltips -->
