<p>
  Prefer Bootstrap Utilities for all common utilities. Read the official
  <a href="https://getbootstrap.com/docs/4.6/utilities/borders/" target="_blank">Bootstrap Documentation</a> for a full
  list of utilities.<br />However we have created custom utility classes for this template which are display below.
</p>

<!-- Text -->
<div id="utility-text" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Text</h2>
    <p>Text utilities to quickly style the text of an element. Great to control size, color, weight, and more...</p>
    <!-- Font Size -->
    <div class="card">
      <div class="card-header">
        <h4 id="text-font-size" class="card-title">Font Size</h4>
      </div>
      <div class="card-body">
        <p>
          You can set a font size to any element by using the following classes. i.e.
          <code>.font-small-3</code>
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.font-small-{value}</code></td>
                <td>1 | 2 | 3</td>
              </tr>
              <tr>
                <td><code>.font-medium-{value}</code></td>
                <td>1 | 2 | 3 | 4 | 5</td>
              </tr>
              <tr>
                <td><code>.font-large-{value}</code></td>
                <td>1 | 2 | 3 | 4 | 5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Font Size -->

    <!-- SVG Size -->
    <!-- <div class="card">
      <div class="card-header">
        <h4 id="text-svg-size" class="card-title">SVG Size</h4>
      </div>
      <div class="card-body">
        <p>You can set svg size to any icon by using the following classes. i.e. <code>.font-small-3</code></p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.font-small-{value}</code></td>
                <td>1 | 2 | 3 | 4</td>
              </tr>
              <tr>
                <td><code>.font-medium-{value}</code></td>
                <td>1 | 2 | 3 | 4 | 5</td>
              </tr>
              <tr>
                <td><code>.font-large-{value}</code></td>
                <td>1 | 2 | 3 | 4 | 5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <!--/ SVG Size -->

    <!-- Line Height -->
    <div class="card">
      <div class="card-header">
        <h4 id="text-line-height" class="card-title">Line Height</h4>
      </div>
      <div class="card-body">
        <p>Set a line height quickly to any element by using the following classes.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.line-height-1</code></td>
                <td>To set 1 line height</td>
              </tr>
              <tr>
                <td><code>.line-height-condensed</code></td>
                <td>To set 1.3 line height</td>
              </tr>
              <tr>
                <td><code>.line-height-inherit</code></td>
                <td>To inherit line height</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Line Height -->

    <!-- Text Transform -->
    <div class="card">
      <div class="card-header">
        <h4 id="text-transform" class="card-title">Text Transform</h4>
      </div>
      <div class="card-body">
        <p>Set text transform like rotate to any element by using the following classes.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.rotate-{45 | 90 | 180}</code></td>
                <td>To rotate text clockwise, i.e <code>.rotate-45</code></td>
              </tr>
              <tr>
                <td><code>.rotate-{45 | 90 | 180}-inverse</code></td>
                <td>To rotate text anti-clockwise, i.e <code>.rotate-45-inverse</code></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Text Transform -->

    <!-- Heading Text Color -->
    <div class="card">
      <div class="card-header">
        <h4 id="text-heading-color" class="card-title">Heading Text Color</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.text-body-heading</code></td>
                <td>Sets text color to heading's (h1-h6) text color.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Heading Text Color -->
  </div>
</div>
<!--/ Text -->

<!-- Border -->
<div id="utility-border" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Border</h2>
    <p class="mb-0">
      Use additional border utilities to add or remove an element’s borders. Choose from all borders or one at a time.
    </p>
    <p>
      Refer default Bootstrap Border classes <a href="https://getbootstrap.com/docs/4.6/utilities/borders/">here</a>.
    </p>
    <!-- Border Width -->
    <div class="card">
      <div class="card-header">
        <h4 id="border-width" class="card-title">Border Width</h4>
      </div>
      <div class="card-body">
        <p>
          You can set border width of all sides or any particular side to 2px or 3px. i.e <code>.border-3</code> and
          <code>.border-right-2</code>.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.border-{value}</code></td>
                <td>
                  <p class="mb-0">Set all sides of an element with border width of {value}</p>
                  <p class="mb-0">value: {2 | 3} (in px)</p>
                </td>
              </tr>
              <tr>
                <td><code>.border-{direction}-{value}</code></td>
                <td>
                  <p class="mb-0">Set any one side of an element with border width of {value}</p>
                  <p class="mb-0">direction: {top | right | bottom | left}</p>
                  <p class="mb-0">value: {2 | 3} (in px)</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Border Width -->

    <!-- Border Radius -->
    <div class="card">
      <div class="card-header">
        <h4 id="border-radius" class="card-title">Border Radius</h4>
      </div>
      <div class="card-body">
        <p>Set border radius such that your element becomes either round or square.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.round</code></td>
                <td>Set border radius to 1.5rem</td>
              </tr>
              <tr>
                <td><code>.square</code></td>
                <td>Set border radius to 0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Border Radius -->
  </div>
</div>
<!--/ Border -->

<!-- Sizing -->
<div id="utility-sizing" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Sizing</h2>
    <p class="mb-0">Width and height utilities for custom sizing.</p>
    <p>
      Refer default Bootstrap Sizing classes <a href="https://getbootstrap.com/docs/4.6/utilities/sizing/">here</a>.
    </p>
    <!-- Height -->
    <div class="card">
      <div class="card-header">
        <h4 id="sizing-height" class="card-title">Height</h4>
      </div>
      <div class="card-body">
        <p>
          Set height in <strong>px</strong> or <strong>%</strong> to any element by using the following classes. i.e.
          <code>.height-250</code> and <code>.height-80-per</code>.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.height-{value}</code></td>
                <td>
                  <p class="mb-0">Set height to {value} px</p>
                  <p class="mb-0">
                    value: {50 | 100 | 150 | 200 | 250 | 300 | 350 | 400 | 450 | 500 | 550 | 600 | 650 | 700 | 750 |
                    800} (in px)
                  </p>
                </td>
              </tr>
              <tr>
                <td><code>.height-{value}-per</code></td>
                <td>
                  <p class="mb-0">Set height to {value} %</p>
                  <p class="mb-0">
                    value: {5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50 | 55 | 60 | 65 | 70 | 75 | 80 | 85 | 90 | 95}
                    (in %)
                  </p>
                </td>
              </tr>
              <tr>
                <td><code>.full-height</code></td>
                <td>Set height to 100%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Height -->

    <!-- Width -->
    <div class="card">
      <div class="card-header">
        <h4 id="sizing-width" class="card-title">Width</h4>
      </div>
      <div class="card-body">
        <p>
          Set width in <strong>px</strong> or <strong>%</strong> to any element by using the following classes. i.e.
          <code>.width-250</code> and <code>.width-80-per</code>.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.width-{value}</code></td>
                <td>
                  <p class="mb-0">Set width to {value} px</p>
                  <p class="mb-0">
                    value: {50 | 100 | 150 | 200 | 250 | 300 | 350 | 400 | 450 | 500 | 550 | 600 | 650 | 700 | 750 |
                    800} (in px)
                  </p>
                </td>
              </tr>
              <tr>
                <td><code>.width-{value}-per</code></td>
                <td>
                  <p class="mb-0">Set width to {value} %</p>
                  <p class="mb-0">
                    value: {5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50 | 55 | 60 | 65 | 70 | 75 | 80 | 85 | 90 | 95}
                    (in %)
                  </p>
                </td>
              </tr>
              <tr>
                <td><code>.fit</code></td>
                <td>Set max-width to 100%</td>
              </tr>
              <tr>
                <td><code>.half-width</code></td>
                <td>Set width to 50%</td>
              </tr>
              <tr>
                <td><code>.full-width</code></td>
                <td>Set width to 100%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Width -->
  </div>
</div>
<!--/ Sizing -->

<!-- Position -->
<div id="utility-position" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Position</h2>
    <p class="mb-0">
      Use these shorthand utilities for quickly configuring the position of an element. Quick positioning classes are
      available, though they are not responsive.
    </p>
    <p>
      Refer default Bootstrap Position classes <a href="https://getbootstrap.com/docs/4.6/utilities/position/">here</a>.
    </p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Position</h4>
      </div>
      <div class="card-body">
        <p>Set position of any particular direction to 0. i.e. <code>.position-right-0</code></p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Direction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.position-{direction}-0</code></td>
                <td>top | right | bottom | left</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Position -->

<!-- Overflow -->
<div id="utility-overflow" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Overflow</h2>
    <p class="mb-0">Use these shorthand utilities for quickly configuring how content overflows an element.</p>
    <p>
      Refer default Bootstrap Overflow classes <a href="https://getbootstrap.com/docs/4.6/utilities/overflow/">here</a>.
    </p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Overflow</h4>
      </div>
      <div class="card-body">
        <p>Set overflow to any element as per your needs. i.e. <code>.overflow-y-scroll</code>.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.overflow-visible</code></td>
                <td>Set overflow to visible</td>
              </tr>
              <tr>
                <td><code>.overflow-scroll</code></td>
                <td>Set overflow to scroll horizontally and vertically</td>
              </tr>
              <tr>
                <td><code>.overflow-{direction}-scroll</code></td>
                <td>
                  <p class="mb-0">Set overflow to scroll horizontally or vertically</p>
                  <p class="mb-0">direction: {x | y} (horizontal | vertical)</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Overflow -->

<!-- Cursor -->
<div id="utility-cursor" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Cursor</h2>
    <p>Use these shorthand utilities for different mouse cursors on an element.</p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Cursor</h4>
      </div>
      <div class="card-body">
        <p>Set cursor on any element as per your needs. i.e. <code>.cursor-not-allowed</code>.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.cursor-{value}</code></td>
                <td>pointer | move | default | progress | not-allowed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Cursor -->

<!-- Z-index -->
<div id="utility-zindex" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Z-index</h2>
    <p>Use these shorthand utilities for z-index between -4 and 4.</p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Z-index</h4>
      </div>
      <div class="card-body">
        <p>
          Set z-index on any element as per your needs. i.e. <code>.zindex-3</code> and <code>.zindex-minus-2</code>.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.zindex-{value}</code></td>
                <td>0 | 1 | 2 | 3 | 4</td>
              </tr>
              <tr>
                <td><code>.zindex-minus-{value}</code></td>
                <td>1 | 2 | 3 | 4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Z-index -->

<!-- Box Shadow -->
<div id="utility-box-shadow" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Box Shadow</h2>
    <p>Use these shorthand utilities for different box shadows.</p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Box Shadow</h4>
      </div>
      <div class="card-body">
        <p>Set box shadow on any element as per your needs. i.e. <code>.box-shadow-5</code>.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.box-shadow-{value}</code></td>
                <td>0 | 1 | 2 | 3 | 4 | 5 | 6 (Here 0 is box-shadow: none;)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Box Shadow -->

<!-- Outline -->
<div id="utility-outline" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Outline</h2>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Outline</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.outline-none</code></td>
                <td>Remove outline from any element</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Outline -->

<!-- List Styles -->
<div id="utility-lists" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Lists</h2>
    <p class="mb-0">Use these shorthand utilities for list styles.</p>
    <p>
      Refer default Bootstrap List classes <a href="https://getbootstrap.com/docs/4.6/utilities/overflow/">here</a>.
    </p>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">List Styles</h4>
      </div>
      <div class="card-body">
        <p>Use list styles as per your needs. i.e. <code>.list-style-circle</code>.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.list-style-{value}</code></td>
                <td>inside | circle | square</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ List Styles -->

<!-- Table -->
<div id="utility-table" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Table</h2>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Table</h4>
      </div>
      <div class="card-body">
        <p>The table below illustrates useful table classes.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.cell-fit</code></td>
                <td>Fit table cell width to content</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Table -->

<!-- Background Image -->
<div id="utility-bg-image" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Background Image</h2>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Background Image</h4>
      </div>
      <div class="card-body">
        <p>The table below illustrates useful background images classes.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.bg-cover</code></td>
                <td>
                  Scale the background image to be as large as possible so that the background area is completely
                  covered by the background image
                </td>
              </tr>
              <tr>
                <td><code>.background-repeat</code></td>
                <td>Sets background image on repeat</td>
              </tr>
              <tr>
                <td><code>.background-no-repeat</code></td>
                <td>Do not repeat the background image</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Background Image -->

<!-- Icon -->
<div id="utility-icon" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Icon</h2>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Icon</h4>
      </div>
      <div class="card-body">
        <p>The table below illustrates useful classes relating to icons.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.icon-bg-circle</code></td>
                <td>Sets border-radius to 50% (round), text color to white and gives proper padding</td>
              </tr>
              <tr>
                <td><code>.icon-left</code></td>
                <td>To give some margin on right side of the icon</td>
              </tr>
              <tr>
                <td><code>.icon-right</code></td>
                <td>To give some margin on left side of the icon</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Icon -->

<!-- Spinner -->
<div id="utility-spinner" class="row">
  <div class="col-12">
    <h2 class="mt-3 mb-1">Spinner</h2>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Spinner</h4>
      </div>
      <div class="card-body">
        <p>You can make any element rotate for infinite times in both directions.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Class</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>.spinner</code></td>
                <td>Make your element rotate in clockwise direction</td>
              </tr>
              <tr>
                <td><code>.spinner-reverse</code></td>
                <td>Make your element rotate in anti-clockwise direction</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Spinner -->
