<!-- Bootstrap Tables -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Bootstrap Tables</h4>
  </div>
  <div class="card-body">
    <p>
      Just add the base class <code>.table</code> to any <code>&lt;table&gt;</code> and extend with custom styles or
      various modifier classes. Using the most basic table markup, here’s how <code>.table</code>-based tables look in
      Bootstrap. <strong>All table styles are inherited</strong>, meaning any nested tables will be styled in the same
      manner as the parent.
    </p>
    <p>Following are the options that can be used with <code>table.table</code>.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Options</th>
            <th>Class</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Inverse table</strong></td>
            <td><code>.table-dark</code></td>
            <td>
              Use this class along with <code>table.table</code> to invert the colors — with light text on dark
              backgrounds.
            </td>
          </tr>
          <tr>
            <td><strong>Inverse table head</strong></td>
            <td><code>.thead-dark</code></td>
            <td>
              Use this class along with <code>table.table thead</code> to invert the colors in <code>thead</code> — with
              light text on dark backgrounds.
            </td>
          </tr>
          <tr>
            <td><strong>Striped Table</strong></td>
            <td><code>.table-striped</code></td>
            <td>
              Use this class along with <code>table.table</code> to add zebra-striping to any table row within
              <code>tbody</code>.
            </td>
          </tr>
          <tr>
            <td><strong>Striped with Inverse Table</strong></td>
            <td><code>.table-striped.table-dark</code></td>
            <td>
              Use these classes along with <code>table.table</code> to add zebra-striping to a table row within
              <code>tbody</code> along with inverted colors — with light text on dark backgrounds.
            </td>
          </tr>
          <tr>
            <td><strong>Bordered Table</strong></td>
            <td><code>.table-bordered</code></td>
            <td>Use this class for borders on all sides of the table and cells.</td>
          </tr>
          <tr>
            <td><strong>Borderless Table</strong></td>
            <td><code>.table-borderless</code></td>
            <td>Use this class to remove borders on all sides of the table and cells.</td>
          </tr>
          <tr>
            <td><strong>Hoverable rows</strong></td>
            <td><code>.table-hover</code></td>
            <td>
              Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.
            </td>
          </tr>
          <tr>
            <td><strong>Small Table</strong></td>
            <td><code>.table-sm</code></td>
            <td>Use this class to make tables more compact by cutting cell padding.</td>
          </tr>
          <tr>
            <td><strong>Contextual Classes</strong></td>
            <td><code>.table-{value}</code>, <code>.bg-{color}</code></td>
            <td>
              <p class="mb-0">
                Use contextual classes along with <code>&lt;tr&gt;</code> or <code>&lt;td&gt;</code> to color table rows
                or individual cells respectively.
              </p>
              <p class="mb-0">
                value: [active | primary | secondary | success | danger | warning | info | light | dark]
              </p>
              <p class="mb-0">color: [primary | secondary | success | danger | warning | info | dark]</p>
            </td>
          </tr>
          <tr>
            <td><strong>Responsive tables</strong></td>
            <td><code>.table-responsive</code> or <code>.table-responsive-{size}</code></td>
            <td>
              <p class="mb-0">
                Responsive tables allow tables to be scrolled horizontally with ease. Use this class as a wrapper of
                <code>table.table</code>.
              </p>
              <p class="mb-0">size: [sm | md | lg | xl]</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="mt-2">
      <strong>Refer following links for detailed documentation, configuration options, methods and examples:</strong>
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Plugin Link</strong></td>
            <td>
              <a href="https://getbootstrap.com/docs/4.6/content/tables/" target="_blank"
                >https://getbootstrap.com/docs/4.6/content/tables/</a
              >
            </td>
          </tr>
          <tr>
            <td><strong>Template Page</strong></td>
            <td>
              <a
                href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/table-bootstrap.html"
                target="_blank"
                >https://pixinvent.com/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/table-bootstrap.html</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Bootstrap Tables -->
