<!-- Source n Credit -->
<div class="card">
  <div class="card-header">
    <h4 id="plugins" class="card-title">Sources &amp; Credits</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <div class="card-text">
        <p>We've used the following images, icons or other plugins URL, License as listed.</p>
      </div>
      <h4>Plugins</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>License</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Bootstrap</strong></td>
              <td>
                <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>jQuery</strong></td>
              <td>
                <a href="https://jquery.com/" target="_blank">https://jquery.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Perfect Scrollbar</strong></td>
              <td>
                <a href="https://www.npmjs.com/package/perfect-scrollbar" target="_blank"
                  >https://www.npmjs.com/package/perfect-scrollbar</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Pace</strong></td>
              <td>
                <a href="https://www.npmjs.com/package/pace-js" target="_blank"
                  >https://www.npmjs.com/package/pace-js</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Hammer Js</strong></td>
              <td>
                <a href="https://hammerjs.github.io/" target="_blank">https://hammerjs.github.io/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Unison Js</strong></td>
              <td>
                <a href="https://bjork24.github.io/Unison/" target="_blank">https://bjork24.github.io/Unison/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Prism</strong></td>
              <td>
                <a href="http://prismjs.com/" target="_blank">http://prismjs.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Popper</strong></td>
              <td>
                <a href="https://popper.js.org/" target="_blank">https://popper.js.org/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Waves</strong></td>
              <td>
                <a href="http://fian.my.id/Waves/" target="_blank">http://fian.my.id/Waves/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>jQuery UI</strong></td>
              <td>
                <a href="https://jqueryui.com/" target="_blank">https://jqueryui.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>ES6 Promise</strong></td>
              <td>
                <a href="https://github.com/stefanpenner/es6-promise" target="_blank"
                  >https://github.com/stefanpenner/es6-promise</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>FullCalendar</strong></td>
              <td>
                <a href="https://fullcalendar.io/" target="_blank">https://fullcalendar.io/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>SweetAlert2</strong></td>
              <td>
                <a href="https://sweetalert2.github.io/" target="_blank">https://sweetalert2.github.io/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Animate.css</strong></td>
              <td>
                <a href="https://animate.style/" target="_blank">https://animate.style/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Block UI</strong></td>
              <td>
                <a href="http://jquery.malsup.com/block/" target="_blank">http://jquery.malsup.com/block/</a>
              </td>
              <td>MIT, GPL</td>
            </tr>
            <tr>
              <td><strong>Toastr</strong></td>
              <td>
                <a href="https://codeseven.github.io/toastr/" target="_blank">https://codeseven.github.io/toastr/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>noUiSlider</strong></td>
              <td>
                <a href="https://refreshless.com/nouislider/" target="_blank">https://refreshless.com/nouislider/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Dragula</strong></td>
              <td>
                <a href="https://bevacqua.github.io/dragula/" target="_blank">https://bevacqua.github.io/dragula/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Shepherd Tour</strong></td>
              <td>
                <a href="https://shepherdjs.dev/" target="_blank">https://shepherdjs.dev/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Plyr</strong></td>
              <td>
                <a href="https://plyr.io/" target="_blank">https://plyr.io/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Context Menu</strong></td>
              <td>
                <a href="https://swisnl.github.io/jQuery-contextMenu/" target="_blank"
                  >https://swisnl.github.io/jQuery-contextMenu/</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Swiper</strong></td>
              <td>
                <a href="https://swiperjs.com/" target="_blank">https://swiperjs.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>jsTree</strong></td>
              <td>
                <a href="https://www.jstree.com/" target="_blank">https://www.jstree.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>RateYo</strong></td>
              <td>
                <a href="https://rateyo.fundoocode.ninja/" target="_blank">https://rateyo.fundoocode.ninja/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>i18next</strong></td>
              <td>
                <a href="https://www.i18next.com/" target="_blank">https://www.i18next.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Cleave.js</strong></td>
              <td>
                <a href="https://nosir.github.io/cleave.js/" target="_blank">https://nosir.github.io/cleave.js/</a>
              </td>
              <td>Apache 2.0</td>
            </tr>
            <tr>
              <td><strong>Select2</strong></td>
              <td>
                <a href="https://select2.org/" target="_blank">https://select2.github.io/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Bootstrap TouchSpin</strong></td>
              <td>
                <a href="https://www.virtuosoft.eu/code/bootstrap-touchspin/" target="_blank"
                  >https://www.virtuosoft.eu/code/bootstrap-touchspin/</a
                >
              </td>
              <td>Apache 2.0</td>
            </tr>
            <tr>
              <td><strong>Dropzone</strong></td>
              <td>
                <a href="https://www.dropzonejs.com/" target="_blank">https://www.dropzonejs.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Quill</strong></td>
              <td>
                <a href="https://quilljs.com/" target="_blank">https://quilljs.com/</a>
              </td>
              <td>BSD-3-Clause</td>
            </tr>
            <tr>
              <td><strong>Flatpickr</strong></td>
              <td>
                <a href="https://flatpickr.js.org/" target="_blank">https://flatpickr.js.org/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>pickadate.js</strong></td>
              <td>
                <a href="https://amsul.ca/pickadate.js/" target="_blank">https://amsul.ca/pickadate.js/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>BS Stepper</strong></td>
              <td>
                <a href="https://johann-s.github.io/bs-stepper/" target="_blank"
                  >https://johann-s.github.io/bs-stepper/</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>jQuery Validation</strong></td>
              <td>
                <a href="https://jqueryvalidation.org/" target="_blank">https://jqueryvalidation.org/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>jQuery Repeater</strong></td>
              <td>
                <a href="https://github.com/DubFriend/jquery.repeater" target="_blank"
                  >https://github.com/DubFriend/jquery.repeater</a
                >
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>DataTables</strong></td>
              <td>
                <a href="https://datatables.net/" target="_blank">https://datatables.net/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>AgGrid</strong></td>
              <td>
                <a href="https://www.ag-grid.com/" target="_blank">https://www.ag-grid.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>ApexCharts</strong></td>
              <td>
                <a href="https://apexcharts.com/" target="_blank">https://apexcharts.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Chart.js</strong></td>
              <td>
                <a href="https://www.chartjs.org/" target="_blank">https://www.chartjs.org/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Leaflet</strong></td>
              <td>
                <a href="https://leafletjs.com/" target="_blank">https://leafletjs.com/</a>
              </td>
              <td>BSD-2-Clause</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 id="icons" class="mt-3">Icons</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>License</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Feather Icons</strong></td>
              <td>
                <a href="https://feathericons.com/" target="_blank">https://feathericons.com/</a>
              </td>
              <td>MIT</td>
            </tr>
            <tr>
              <td><strong>Font Awesome</strong></td>
              <td>
                <a href="https://fontawesome.com/" target="_blank">https://fontawesome.com/</a>
              </td>
              <td>MIT</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 id="images" class="mt-3">Images</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://unsplash.com/" target="_blank">https://unsplash.com/</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 id="illustrations" class="mt-3">Illustrations</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://ui8.net/pixelz-studio/products/coffinite-work--daily-activity-illustration-kit" target="_blank">https://ui8.net/pixelz-studio/products/coffinite-work--daily-activity-illustration-kit</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.freepik.com/" target="_blank">https://www.freepik.com/</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Source m Credit -->
