<!-- Basic Forms -->
<div class="card">
  <div class="card-header">
    <h4 id="vertical-form" class="card-title">Basic Forms</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p class="card-text">
        Basic form labels have inline block styling where form controls are below its label. This is the default
        bootstrap and most basic style for displaying forms.
      </p>
      <p class="card-text">
        You can always add more stuff like form sections, form control borders, tooltips, icons, round form controls,
        square form controls etc...
      </p>
      <p class="mt-2"><strong>Refer following links for usage:</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Plugin Link</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/forms/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/forms/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-layout.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-layout.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Basic Forms -->

<!-- Horizontal Forms -->
<div class="card">
  <div class="card-header">
    <h4 id="horizontal-form" class="card-title">Horizontal Forms</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p class="card-text">
        Create horizontal forms with the grid by adding the <code>.row</code> class to form groups and using the
        <code>.col-*</code> classes to specify the width of your labels and controls. Be sure to add
        <code>.col-form-label</code> to your <code>&lt;label&gt;</code>s as well so they’re vertically centered with
        their associated form controls.
      </p>
      <p class="card-text">
        To align labels to the right side, use <code>.form.form-horizontal .form-group .label-control</code>
      </p>
      <p class="card-text">
        You can always add more stuff like form sections, form control borders, tooltips, icons, round form controls,
        square form controls etc...
      </p>
      <p class="mt-2"><strong>Refer following links for usage:</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Plugin Link</strong></td>
              <td>
                <a href="https://getbootstrap.com/docs/4.6/components/forms/" target="_blank"
                  >https://getbootstrap.com/docs/4.6/components/forms/</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Template page</strong></td>
              <td>
                <a
                  href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-layout.html"
                  target="_blank"
                  >https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-layout.html</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ Horizontal Forms -->
