<!-- JetStream -->
<div id="jet-stream" class="card">
  <div class="card-header">
    <a href="#jet-stram"><h4 class="card-title">Where is Jetstream?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        As we all know, Laravel 8 comes with Jetstream for Authentication instead of Laravel UI. But it has few
        requirements to be met.
      </p>
      <ol>
        <li>Jetstream is designed using Tailwind CSS.</li>
        <li>Offers your choice of Livewire or Inertia scaffolding.</li>
      </ol>

      <p>
        We have opted for Laravel UI as our template is designed based on bootstrap CSS framework and Laravel UI
        supports bootstrap CSS. Also, we do not offer any scaffolding for Livewire or Inertia which is the base for
        using Jetstream.
      </p>

      <p>
        One can always install Jetstream and remove Laravel UI from their project but it will be custom work on their
        end. Follow <a href="https://jetstream.laravel.com/1.x/introduction.html">Jetstream</a> documentation to get
        started with it.
      </p>
    </div>
  </div>
</div>
<!--/ JetStream -->

<!-- Custom fonts -->
<div id="custom-fonts" class="card">
  <div class="card-header">
    <a href="#custom-fonts"><h4 class="card-title">How to use custom fonts?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>You can use custom svg icons as well as font icons with Vuexy HTML Admin Template.</p>
      <h5 class="py-1">To use other SVG Icons Library</h5>
      <p>Please follow below steps to add new library in your HTML:</p>
      <ol>
        <li>
          Include SVG font library in HTML file. You need to add JS and CSS file's CDN or download and add it to
          <code>resources/fonts/</code> folder and include path in Blade files. It's safe to use
          <code>resources/fonts</code> folder to migrate easily with new updates in future
        </li>
        <li>
          Update current svg icon structure with another library's structure. Like we are using
          <code>data-feather="feather feather-heart"</code> for feather SVG, you can update this with your new svg icon
          format
        </li>
        <li>You might need to update base size if you find any changes according to your updated SVG icons</li>
        <li>
          You can also add custom css inside <code>assets/scss/style.scss</code> to update/overwrite specific style of
          SVG icons.
        </li>
      </ol>
      <p>You are done!</p>

      <h5 class="py-1">To use Font Icons Library in place of SVG</h5>
      <p>Please follow below steps to add new font icon library in your HTML:</p>
      <ol>
        <li>
          Include CDN or download font icon library and add it to <code>resources/fonts/</code> folder and include it's
          JS and CSS file in HTML files. It's safe to use <code>resources/fonts/</code> folder to migrate easily with
          new updates in future
        </li>
        <li>
          Update current svg icon structure with font icons. For example we integrate font awesome. Update
          <code>&lt;i data-feather="heart"&gt;&lt;/i&gt;</code> feather SVG to
          <code>&lt;i class="fa fa-heart"&gt;&lt;/i&gt;</code> font awesome icon
        </li>
        <li>
          If you are removing feather SVG fonts then make sure you update all the feather SVG icons with your font icons
        </li>
        <li>You might need to update base size if you find any changes according to your updated SVG icons.</li>
      </ol>
      <p class="mb-0">You are done!</p>
    </div>
  </div>
</div>
<!--/ Custom fonts -->
