<section>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Upgrading To 8.0 From 7.x</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <h6>Please follow the below steps to upgrade the Laravel version in your exiting project.</h6>
        <ul>
          <li>
            <h6>PHP 7.3.0 Required</h6>
            <p>Likelihood Of Impact: Medium</p>
            <p>The new minimum PHP version is now 7.3.0.</p>
          </li>
          <li>
            <h6>Updating Dependencies</h6>
            <p>
              The following first-party packages have new major releases to support Laravel 8. If there are any, read
              through their individual upgrade guides before upgrading:
            </p>
            <pre class="language-php">
            <code class="language-php">
Horizon v5.0
Passport v10.0
Socialite v5.0
Telescope v4.0
            </code>
          </pre>
            <p>
              Finally, examine any other third-party packages consumed by your application and verify you are using the
              proper version for Laravel 8 support.
            </p>
            <p>You must have to update below mention packages in composer.json file.</p>
            <pre class="language-php">
            <code class="language-php">
"require": {
  "php": "^7.3|^8.0",
  "fideloper/proxy": "^4.4",
  "fruitcake/laravel-cors": "^2.0",
  "guzzlehttp/guzzle": "^7.0.1",
  "laravel/framework": "^8.0",
  "laravel/passport": "^10.0",
  "laravel/tinker": "^2.0",
  "spatie/laravel-permission": "^3.8",
  "laravel/ui": "^3.0"
},
"require-dev": {
  "facade/ignition": "^2.3.6",
  "beyondcode/laravel-dump-server": "^1.0",
  "filp/whoops": "^2.0",
  "fzaninotto/faker": "^1.9.1",
  "mockery/mockery": "^1.3.1",
  "nunomaduro/collision": "^5.0",
  "phpunit/phpunit": "^9.0"
},
            </code>
          </pre>
          </li>
          <li>
            <p>
              In addition, the Laravel installer has been updated to support <code>composer create-project</code> and
              Laravel Jetstream. Any installer older than 4.0 will cease to work after October 2020. You should upgrade
              your global installer to <code>^4.0</code> as soon as possible.
            </p>
            <h6>Authentication</h6>
            <p>
              All authentication scaffolding has been moved to the <code>laravel/ui</code> repository. If you are using
              Laravel's authentication scaffolding, you should install the <code>^3.0</code> release of this package and
              the package should be installed in all environments. If you were previously including this package in the
              <code>require-dev</code> portion of your application's <code>composer.json</code> file, you should move it
              to the <code>require</code> section:
            </p>
            <pre class="language-php">
          <code class="language-php">
            composer require laravel/ui "^3.0"
          </code>
        </pre>
          </li>
          <li>Now run the below command to upgrade.</li>
          <pre class="language-php">
            <code class="language-php">
              composer update
            </code>
          </pre>
          <li>After successfully executing of composer update command check the Laravel version</li>
          <pre class="language-php">
            <code class="language-php">
              php artisan --version
            </code>
          </pre>
          <li>After successfully updated Laravel version. Run below command to serve your project.</li>
          <pre class="language-php">
            <code class="language-php">
php artisan key: generate
yarn
yarn mix
php artisan serve
            </code>
          </pre>
        </ul>
      </div>
    </div>
  </div>
</section>
