<!-- Color Customization -->
<div id="color-customization" class="card">
  <div class="card-header">
    <a href="#color-customization"><h4 class="card-title">Updating Vuexy Admin</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Vuexy Admin provides separate core theme assets and folder <code>app-assets/</code> and user assets folder
        <code>assets/</code>. So you can easily update the theme.
      </p>
      <p>
        Like all HTML templates, you will need to manually handle all updates that we provide after purchase for free.
      </p>
      <p>Follow the below steps to update Vuexy:</p>
      <ol>
        <li>Backup all your files (Project/Template).</li>
        <li>Review Vuexy's changelog to understand the changes before updating.</li>
        <li>
          Unzip the latest version of Vuexy and open
          <code>vuexy-html-bootstrap-admin-template/</code>.
        </li>
        <li>
          Copy with replacing changed core folder & files:
          <ul>
            <li><code>app-assets/</code></li>
            <li><code>src/</code></li>
            <li><code>.csscomb.json</code></li>
            <li><code>config.json</code></li>
            <li><code>gulpfile.js</code></li>
            <li><code>package.json</code></li>
          </ul>
        </li>
        <li>
          Now you have all the core assets of the template. Use/Merge the latest HTML code of the element/component
          manually. You can also replace
          <code>html/</code>
          folder if you have not made any changes.
        </li>
        <li>Execute <code>gulp dist</code> command to generate css and js files in <code>app-assets/</code> folder.</li>
      </ol>
      <p>Bingo! You are done.</p>
      <p>If something goes wrong, you can revert your updates by reusing your backup files.</p>

      <div class="alert alert-success mb-0" role="alert">
        <h4 class="alert-heading">Tip</h4>
        <div class="alert-body">You can also use our GitLab repository to track all the commits and changes.</div>
      </div>
    </div>
  </div>
</div>
<!--/ Color Customization -->

<!-- Change Logo -->
<div id="change-logo" class="card">
  <div class="card-header">
    <a href="#change-logo"><h4 class="card-title">How change I change Logo/Branding?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        It's very easy to change Vuexy Theme branding. Vuexy Admin using SVG logo, you can use either SVG or image (i.e
        png, jpeg, etc...). You can easily change brand text too inside the <code>h2</code> tag with
        <code>.brand-text</code> class.
      </p>

      <p>Below is the sample code with Image logo example.</p>
      <pre class="language-markup my-1">
<code class="language-markup">
&lt;a class="navbar-brand" href="index.html"&gt;
  &lt;span class="brand-logo"&gt;
    &lt;!-- Image logo code --&gt;
    &lt;img src="images/logo/logo.png" class="img-fluid" alt="Brand logo"&gt;
    &lt;!--/ Image logo code --&gt;
  &lt;/span&gt;
  &lt;h2 class="brand-text mb-0"&gt;BRAND TEXT&lt;/h2&gt;
&lt;/a&gt;
</code>
        </pre>
      <p>Below is the sample code with SVG logo example</p>
      <pre class="language-markup mb-0">
<code class="language-markup">
&lt;a class="navbar-brand" href="index.html"&gt;
  &lt;span class="brand-logo"&gt;
    &lt;!-- SVG logo code --&gt;
    &lt;svg viewbox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24"&gt;
      &lt;defs&gt;
        &lt;lineargradient id="linearGradient-1" x1="100%" y1="10.5120544%" x2="50%" y2="89.4879456%"&gt;
          &lt;stop stop-color="#000000" offset="0%"&gt;&lt;/stop&gt;
          &lt;stop stop-color="#FFFFFF" offset="100%"&gt;&lt;/stop&gt;
        &lt;/lineargradient&gt;
        &lt;lineargradient id="linearGradient-2" x1="64.0437835%" y1="46.3276743%" x2="37.373316%" y2="100%"&gt;
          &lt;stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"&gt;&lt;/stop&gt;
          &lt;stop stop-color="#FFFFFF" offset="100%"&gt;&lt;/stop&gt;
        &lt;/lineargradient&gt;
      &lt;/defs&gt;
      &lt;g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
        &lt;g id="Artboard" transform="translate(-400.000000, -178.000000)"&gt;
          &lt;g id="Group" transform="translate(400.000000, 178.000000)"&gt;
            &lt;path class="text-primary" id="Path" d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z" style="fill:currentColor"&gt;&lt;/path&gt;
            &lt;path id="Path1" d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z" fill="url(#linearGradient-1)" opacity="0.2"&gt;&lt;/path&gt;
            &lt;polygon id="Path-2" fill="#000000" opacity="0.049999997" points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"&gt;&lt;/polygon&gt;
            &lt;polygon id="Path-21" fill="#000000" opacity="0.099999994" points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"&gt;&lt;/polygon&gt;
            &lt;polygon id="Path-3" fill="url(#linearGradient-2)" opacity="0.099999994" points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"&gt;&lt;/polygon&gt;
          &lt;/g&gt;
        &lt;/g&gt;
      &lt;/g&gt;
    &lt;/svg&gt;
    &lt;!--/ SVG logo code --&gt;
  &lt;/span&gt;
  &lt;h2 class="brand-text mb-0"&gt;BRAND TEXT&lt;/h2&gt;
&lt;/a&gt;
</code>
      </pre>
    </div>
  </div>
</div>
<!--/ Change Logo -->

<!-- SVG fonts usage -->
<div id="svg-fonts" class="card">
  <div class="card-header">
    <a href="#svg-fonts"><h4 class="card-title">How to use SVG icons?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        In Vuexy HTML Admin Template, You can use feather SVG icons using HTML or JS. Also check feather SVG Icon
        <a href="https://github.com/feathericons/feather#quick-start" target="_blank">documentation here</a>.
      </p>
      <h5 class="py-1">To add SVG icon in your HTML</h5>
      <p>To add feather SVG icon in HTML, you can use below structure:</p>
      <pre class="language-markup">
        <code class="language-markup">&lt;i data-feather="heart"&gt;&lt;/i&gt;</code></pre>

      <h5 class="py-1">To add SVG icon in JS files</h5>
      <p>To add feather SVG icon in JS, you can use below structure:</p>
      <pre class="language-javascript">
        <code class="language-javascript">feather.icons['heart'].toSvg()</code></pre>
      <p>
        Check more information about feather SVG icons structure
        <a href="https://github.com/feathericons/feather#feathericons" target="_blank">here</a>.
      </p>

      <h5 class="py-1">To remove feather SVG icon</h5>
      <p>
        Vuexy Admin provides <code>app-assets/vendor/</code> folder that contains <code>js/vendors.min.js</code> and
        <code>css/vendors.min.css</code> files for vendors js and css.
      </p>
      <p>Find <code>config.json</code> file in root folder and follow below steps to remove feather SVG icons:</p>
      <ol>
        <li>Remove included <code>feather-icons/feather-icons.min.js</code> from <code>vendors > js</code> array</li>
        <li>Remove included <code>feather-icons/feather-icons.min.css</code> from <code>vendors > css</code> array</li>
        <li>
          Execute <code>gulp dist-vendor-js</code> command to generate <code>vendors.min.js</code> file in
          <code>app-assets/vendors/js</code> folder
        </li>
        <li>
          Execute <code>gulp dist-vendor-css</code> command to generate <code>vendors.min.css</code> file in
          <code>app-assets/vendors/css</code> folder.
        </li>
      </ol>
      <p>This will remove feather SVG icons library.</p>

      <div class="alert alert-success mb-0" role="alert">
        <h4 class="alert-heading">Tip</h4>
        <div class="alert-body">
          If you are not using gulp commands, then remove feather SVG icon library manually from
          <code>app-assets/js/vendors.min.js</code> and <code>app-assets/css/vendors.min.css</code> files.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ SVG fonts usage -->

<!-- Custom fonts -->
<div id="custom-fonts" class="card">
  <div class="card-header">
    <a href="#custom-fonts"><h4 class="card-title">How to use custom fonts?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>You can use custom svg icons as well as font icons with Vuexy HTML Admin Template.</p>
      <h5 class="py-1">To use other SVG Icons Library</h5>
      <p>Please follow below steps to add new library in your HTML:</p>
      <ol>
        <li>
          Include SVG font library in HTML file. You need to add JS and CSS file's CDN or download and add it to
          <code>assets/fonts/</code> folder and include path in HTML files. It's safe to use <code>assets/</code> folder
          to migrate easily with new updates in future
        </li>
        <li>
          Update current svg icon structure with another library's structure. Like we are using
          <code>data-feather="feather feather-heart"</code> for feather SVG, you can update this with your new svg icon
          format
        </li>
        <li>You might need to update base size if you find any changes according to your updated SVG icons</li>
        <li>
          You can also add custom css inside <code>assets/css/style.css</code> to update/overwrite specific style of SVG
          icons.
        </li>
      </ol>
      <p>You are done!</p>

      <h5 class="py-1">To use Font Icons Library in place of SVG</h5>
      <p>Please follow below steps to add new font icon library in your HTML:</p>
      <ol>
        <li>
          Include CDN or download font icon library and add it to <code>assets/fonts/</code> folder and include it's JS
          and CSS file in HTML files. It's safe to use <code>assets/</code> folder to migrate easily with new updates in
          future
        </li>
        <li>
          Update current svg icon structure with font icons. For example we integrate font awesome. Update
          <code>&lt;i data-feather="heart"&gt;&lt;/i&gt;</code> feather SVG to
          <code>&lt;i class="fa fa-heart"&gt;&lt;/i&gt;</code> font awesome icon
        </li>
        <li>
          If you are removing feather SVG fonts then make sure you update all the feather SVG icons with your font icons
        </li>
        <li>You might need to update base size if you find any changes according to your updated SVG icons.</li>
      </ol>
      <p class="mb-0">You are done!</p>
    </div>
  </div>
</div>
<!--/ Custom fonts -->

<!-- Current Project -->
<div id="current-project" class="card">
  <div class="card-header">
    <a href="#current-project"><h4 class="card-title">How to integrate in to my exisiting project?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Since Vuexy is a template and a starter project, it’s built as the starting point of your project. It cannot be
        simply installed and used with an existing project like a third party library.
      </p>

      <p>
        Although using Vuexy with any existing project is still possible, it would require extra work to connect
        everything together. We strongly recommend you to either start your project with Vuexy, or move your project on
        top of it to have the best experience.
      </p>
    </div>
  </div>
</div>
<!--/ Current Project -->

<!-- update search & bookmark -->
<div id="search-bookmark" class="card">
  <div class="card-header">
    <a href="#search-bookmark"><h4 class="card-title">How to update search & bookmark list?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Vuexy Admin gives facility to search page and directly go to that page on click. This also provide bookmark
        feature, using that you can bookmark any page so that user can access that pages easily.
      </p>
      <p>
        We are using <code>search.json</code> file for both search and bookmark list. You can find this file inside
        <code>app-assets/data/</code> folder.
      </p>
      <p>
        Now, Let's have a look at how to update the array list of this file. You can update this file list as per your
        requirements. Below is the format of an item:
      </p>

      <pre class="language-json my-1">
<code class="language-json">{ "name": "eCommerce Dashboard", "url": "dashboard-ecommerce.html", "icon": "home" },</code>
      </pre>

      <p>Following is the details of all json list items:</p>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>name</td>
              <td>Using which name you want to search this page.</td>
            </tr>
            <tr>
              <td>url</td>
              <td>URL of the page</td>
            </tr>
            <tr>
              <td>icon</td>
              <td>
                Icon you want to show before the page name. We have used feather svg icons so using only icon name here.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/ update search & bookmark -->

<!-- Vendors Manage -->
<div id="manage-vendors" class="card">
  <div class="card-header">
    <a href="#manage-vendors"><h4 class="card-title">How to manage vendors?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>Vuexy Admin allows you to easily manage minimum required vendors for the template.</p>
      <p>
        You can manage vendors from <code>app-assets/vendors</code> folder which contain all the vendors CSS and JS
        files in <code>css/</code> and <code>js/</code> folder. It also contains minimum required vendors bundled CSS
        <code>vendors.min.css</code> and JS <code>vendors.min.js</code> file.
      </p>
      <p>
        To manage the vendors, Vuexy Admin Template uses <code>config.json</code> file which includes source &
        destination path, vendors array, etc. as below:
      </p>
      <pre class="language-markup my-1">
<code class="language-json">
"vendors": {
  "js": [
    "jquery/jquery.min.js",
    "popper/popper.min.js",
    "bootstrap/bootstrap.min.js",
    "perfectscrollbar/perfect-scrollbar.min.js",
    "hammer/hammer.min.js",
    "unison-js/unison-js.min.js",
    "blockui/blockui.min.js",
    "pace/pace.min.js",
    "waves/waves.min.js",
    "internationalization/i18n.min.js",
    "internationalization/i18n-xhr.min.js",
    "internationalization/lang-detector.min.js",
    "internationalization/i18n-jquery.min.js",
    "feather-icons/feather-icons.min.js",
    "forms/spinner/jquery.bootstrap-touchspin.js"
  ],
  "css": [
    "perfect-scrollbar/perfect-scrollbar.min.css",
    "pace/pace.min.css",
    "waves/waves.min.css",
    "flag-icons/flag-icons.min.css",
    "feather-icons/feather-icons.min.css",
    "forms/spinner/jquery.bootstrap-touchspin.css"
  ]
}
</code>
      </pre>
      <p>
        You can add/remove minimum required vendors for the template from this vendors array. To generate vendors bundle
        we have created the following gulp command which will bundle CSS and JS from the <code>config.json</code>'s
        vendors array.
      </p>
      <p>
        Gulp task <code>gulp dist-vendor-css</code> to generate combined vendor CSS file in
        <code>app-assets/vendors/css/vendors.min.css</code>. It includes all required CSS vendors for this template.
      </p>
      <p>
        Gulp task <code>gulp dist-vendor-js</code> to generate combined vendor js file in
        <code>app-assets/vendors/js/vendors.min.js</code>. It includes all required JS vendors for this template.
      </p>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Tip</h4>
        <div class="alert-body">
          You can also manage vendors by adding custom vendors in <code>assets/</code> folder. You can also add new
          assets to this folder (i.e images, libs, etc.) to update the template in the future easily.
        </div>
      </div>
      <div class="alert alert-warning mb-0" role="alert">
        <h4 class="alert-heading">Heads Up!</h4>
        <div class="alert-body">
          It is not recommended to remove minimum required vendors unless you're aware of it. i.e If you remove
          bootstrap or jquery, it will break the whole template as its part of core library.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Vendor Manage -->

<!-- Remove Pace Loader -->
<div id="remove-pace-loader" class="card">
  <div class="card-header">
    <a href="#remove-pace-loader"><h4 class="card-title">How to remove pace loader?</h4></a>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>
        Vuexy Admin provides <code>app-assets/vendor/</code> folder that contains <code>js/vendors.min.js</code> and
        <code>css/vendors.min.css</code> files for vendors js and css.
      </p>
      <p>Find <code>config.json</code> file in root folder. And Follow below steps to remove pace loader</p>
      <ol>
        <li>Remove included <code>pace/pace.min.js</code> from <code>vendors > js </code> array</li>
        <li>Remove included <code>pace/pace.min.css</code> from <code>vendors > css </code> array</li>
        <li>
          Execute <code>gulp dist-vendor-js</code> command to generate <code>vendors.min.js</code> file in
          <code>app-assets/vendors/js</code> folder.
        </li>
        <li>
          Execute <code>gulp dist-vendor-css</code> command to generate <code>vendors.min.css</code> file in
          <code>app-assets/vendors/css</code> folder.
        </li>
      </ol>
      <p>You are done!</p>

      <div class="alert alert-success mb-0" role="alert">
        <h4 class="alert-heading">Tip</h4>
        <div class="alert-body">
          If you are not using gulp commands, then remove pace loader manually from
          <code>app-assets/js/vendors.min.js</code> and <code>app-assets/css/vendors.min.css</code> files.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Remove Pace Loader -->
<!-- light/dark localstorage -->
<div id="light-dark-localstorage" class="card">
  <div class="card-header">
    <a href="#light-dark-localstorage"
      ><h4 c#lass="card-title">HTML+Laravel: How to sync dark/light mode with localStorage?</h4></a
    >
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>Vuexy admin provides built-in support to sync user-preferred dark/light mode with localStorage.</p>
      <p>
        <strong>Ex:</strong> If the user has selected dark mode and on refresh, he/she wants to keep that mode
        persistent.
      </p>
      <p>To enable this you just need to uncomment the below line from app-assets/js/core/app.js ~ line no 1005</p>
      <pre class="language-markup my-1">
        <code class="language-json">// Set layout on screen load
//? Uncomment it if you want to sync layout with local db
setLayout(currentLocalStorageLayout);
      </code></pre>

      <p>It will enable to store of the preferred user light/dark mode and make it persistent</p>

      <div class="alert alert-info mb-0" role="alert">
        <h4 class="alert-heading">Note</h4>
        <div class="alert-body">
          It is localStorage which will be stored on the user's local system and not stored on server side DB.
          Developers need to implement it for that.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ light/dark localstorage -->
<!-- collapse menu localstorage -->
<div id="collapse-localstorage" class="card">
  <div class="card-header">
    <a href="#collapse-localstorage"
      ><h4 c#lass="card-title">HTML+Laravel: How to sync collapsed menu with localStorage?</h4></a
    >
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p>Vuexy admin provides built-in support to sync user-preferred collapsed menu with localStorage.</p>
      <p><strong>Ex:</strong> If the user want to collapsed menu, he/she wants to keep that menu persistent.</p>
      <p>
        To enable this you just need to comment/uncomment the below line from app-assets/js/core/app.js ~ line no 55
      </p>
      <pre class="language-markup my-1">
        <code class="language-json">// if ($body.hasClass('menu-collapsed')) {
// ? replace above if condition with below one for menu collapsed localstorage
if ($body.hasClass('menu-collapsed') || localStorage.getItem('menuCollapsed') === 'true') {
  compactMenu = true;
}</code></pre>

      <p>Also, need to uncomment the below line from app-assets/js/core/app.js ~ line no 376</p>

      <pre class="language-markup my-1">
        <code class="language-json">// ? uncomment below code for menu collapsed localstorage
// Save menu collapsed status in localstorage
if ($body.hasClass('menu-expanded') || $body.hasClass('menu-open')) {
  localStorage.setItem('menuCollapsed', false);
} else {
  localStorage.setItem('menuCollapsed', true);
}</code></pre>

      <p>It will enable to store of the preferred collapsed/expanded menu and make it persistent</p>

      <div class="alert alert-info mb-0" role="alert">
        <h4 class="alert-heading">Note</h4>
        <div class="alert-body">
          It is localStorage which will be stored on the user's local system and not stored on server side DB.
          Developers need to implement it for that.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ collapse menu localstorage -->
