<!-- Installation Steps -->
<div class="card">
  <div class="card-header">
    <h4 id="installation" class="card-title">Installation</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li>
          <a data-action="collapse"><i data-feather="chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <div class="alert alert-danger">
        <h6 class="alert-heading">System Requirements</h6>
        <div class="alert-body">
          <p>Node: v14.15.5 or above</p>
          <p>PHP: 7.3v or Above</p>
          <p>Composer: 2.0.4v or Above</p>
          <p>Laravel: 8.0v or Above</p>
          <p>Laravel/UI: 3.0v or Above</p>
          <p>Laravel/Passport: 10.0v or Above</p>
        </div>
      </div>
      <div class="card-text">
        <p>
          Given below are the steps you need to follow, to install the vuexy-bootstrap-laravel-admin-template on your
          system:
        </p>
        <p>
          <strong>Step 1: </strong> Open the terminal in your root directory(vuexy-bootstrap-laravel-admin-template) &
          to install the composer packages run the following command:
        </p>
        <pre class="language-php">
          <code class="language-php">
              composer install
          </code>
      </pre>
        <p>
          <strong>Step 2: </strong> In the root directory, you will find a file named <code>.env.example</code>, rename
          the given file name to <code>.env</code> and run the following command to generate the key (and you can also
          edit your database credentials here).
        </p>
        <pre class="language-php">
            <code class="language-php">
                php artisan key:generate
            </code>
        </pre>
        <p>
          <strong>Step 3: </strong> By running the following command, you will be able to get all the dependencies in
          your node_modules folder:
        </p>
        <pre class="language-php">
          <code class="language-php">
              yarn
          </code>
      </pre>
        <p>
          <strong>Step 4: </strong> To run the project, you need to run following command in the project directory. It
          will compile the php files & all the other project files. If you are making any changes in any of the php file
          then you need to run the given command again.
        </p>
        <pre class="language-php">
        <code class="language-php">
        yarn mix
        </code>
    </pre>
        <p>
          <strong>Step 5: </strong> To serve the application you need to run the following command in the project
          directory. (This will give you an address with port number 8000.)
        </p>
        <p>Now navigate to the given address you will see your application is running.</p>
        <pre class="language-php">
      <code class="language-php">
      php artisan serve
      </code>
  </pre>
        <p>To change the port address, run the following command:</p>
        <pre class="language-php">
          <code class="language-php">
            php artisan serve --port=8080 // For port 8080
            sudo php artisan serve --port=80 // If you want to run it on port 80, you probably need to sudo.
          </code>
      </pre>

        <p>
          <code>Watching for changes: </code> If you want to watch all the changes you make in the application then run
          the following command in the root directory.
        </p>
        <pre class="language-php">
            <code class="language-php">
                yarn mix watch
            </code>
        </pre>

        <p>
          <code>Building for Production: </code> If you want to run the project and make the build in the production
          mode then run the following command in the root directory, otherwise the project will continue to run in the
          development mode.
        </p>
        <pre class="language-php">
          <code class="language-php">
            yarn mix --production
          </code>
      </pre>
        <h6>Required Permissions</h6>
        <p>
          If you are facing any issues regarding the permissions, then you need to run the following command in your
          project directory:
        </p>
        <pre class="language-php">
          <code class="language-php">
            sudo chmod -R o+rw bootstrap/cache
            sudo chmod -R o+rw storage
          </code>
      </pre>
      </div>
    </div>
  </div>
</div>
<!--/ Installation Steps -->
