<!-- intro -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Search</h4>
  </div>
  <div class="card-body">
    <p>We have two type of search.</p>
    <ul>
      <li>Main Search</li>
      <li>Bookmark Search</li>
    </ul>
    <p>
      We are using a JSON file to store all search list. You can find these JSON files in the <code>data/</code> folder.
      We are using same JSON file for both search.
    </p>
    <p>Here is the path: <code>resources/data/search.json </code></p>
  </div>
</div>

<!-- how to add new menu  -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">How to add New Search</h4>
  </div>
  <div class="card-body">
    <p>You'll need to add your page details in <code>JSON</code> files to appear on search.</p>
    <pre class="language-php">
    <code class="language-php">
    { "name": "Analytics Dashboard", "url": "dashboard/analytics", "icon": "home" },
    </code>
  </pre>
  </div>
</div>

<!-- rendering -->
<div class="card">
  <div class="card-header">
    <h6 class="card-title">Rendering Search</h6>
  </div>
  <div class="card-body">
    <p>We are rendering our search in the <code>navbar.blade.php</code> file.</p>

    <p class="mt-2">Main search</p>
    <pre class="language-php">
      <code class="language-php">
&lt;-------Main search-------&gt;

      &lt;li class="nav-item nav-search"&gt;
        &lt;a class="nav-link nav-link-search"&gt;
          &lt;i class="ficon" data-feather="search"&gt;&lt;/i&gt;
        &lt;/a&gt;
          &lt;div class="search-input"&gt;
            &lt;div class="search-input-icon"&gt;&lt;i data-feather="search"&gt;&lt;/i&gt;&lt;/div&gt;
            &lt;input class="form-control input" type="text" placeholder="Explore Vuexy..." tabindex="-1" data-search="search"&gt;
            &lt;div class="search-input-close">&lt;i data-feather="x"&gt;&lt;/i&gt;&lt;/div&gt;
            &lt;ul class="search-list search-list-main"&gt;&lt;/ul&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      </code>
    </pre>

    <p class="mt-2">Bookmark search</p>
    <pre class="language-php">
      <code class="language-php">
&lt;-------Bookmark search-------&gt;

&lt;li class="nav-item d-none d-lg-block"&gt;
  &lt;a class="nav-link bookmark-star"&gt;
    &lt;i class="ficon text-warning" data-feather="star"&gt;&lt;/i&gt;
  &lt;/a&gt;
  &lt;div class="bookmark-input search-input"&gt;
    &lt;div class="bookmark-input-icon"&gt;
      &lt;i data-feather="search">&lt;/i&gt;
    &lt;/div&gt;
    &lt;input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search"&gt;
    &lt;ul class="search-list search-list-bookmark"&gt;&lt;/ul&gt;
  &lt;/div&gt;
&lt;/li&gt;
      </code>
    </pre>
  </div>
</div>

<!-- methods and function -->
<div class="card">
  <div class="card-header">
    <h6 class="card-title">Search Methods</h6>
  </div>
  <div class="card-body">
    <p>You can find the search methods in <code>app.js</code> file.</p>

    <pre class="language-javascript">
      <code class="language-javascript">
  /********************* Bookmark & Search ***********************/
  // This variable is used for mouseenter and mouseleave events of search list
  var $filename = $('.search-input input').data('search'),
    bookmarkWrapper = $('.bookmark-wrapper'),
    bookmarkStar = $('.bookmark-wrapper .bookmark-star'),
    bookmarkInput = $('.bookmark-wrapper .bookmark-input'),
    navLinkSearch = $('.nav-link-search'),
    searchInput = $('.search-input'),
    searchInputInputfield = $('.search-input input'),
    searchList = $('.search-input .search-list'),
    appContent = $('.app-content'),
    bookmarkSearchList = $('.bookmark-input .search-list')

  // Bookmark icon click
  bookmarkStar.on('click', function(e) {
    e.stopPropagation()
    bookmarkInput.toggleClass('show')
    bookmarkInput.find('input').val('')
    bookmarkInput.find('input').blur()
    bookmarkInput.find('input').focus()
    bookmarkWrapper.find('.search-list').addClass('show')

    var arrList = $('ul.nav.navbar-nav.bookmark-icons li'),
      $arrList = '',
      $activeItemClass = ''

    $('ul.search-list li').remove()

    for (var i = 0; i < arrList.length; i++) {
      if (i === 0) {
        $activeItemClass = 'current_item'
      } else {
        $activeItemClass = ''
      }

      var iconName = '',
        className = ''
      if ($(arrList[i].firstChild.firstChild).hasClass('feather')) {
        var classString = arrList[i].firstChild.firstChild.getAttribute('class')
        iconName = classString.split('feather-')[1].split(' ')[0]
        className = classString.split('feather-')[1].split(' ')[1]
      }

      $arrList +=
        '&lt;li class="auto-suggestion ' +
        $activeItemClass +
        '"&gt;' +
        '&lt;a class="d-flex align-items-center justify-content-between w-100" href=' +
        arrList[i].firstChild.href +
        '&gt;' +
        '&lt;div class="d-flex justify-content-start align-items-center"&gt;' +
        feather.icons[iconName].toSvg({ class: 'mr-75 ' + className }) +
        '&lt;span&gt;' +
        arrList[i].firstChild.dataset.originalTitle +
        '&lt;/span&gt;' +
        '&lt;/div&gt;' +
        feather.icons['star'].toSvg({ class: 'text-warning bookmark-icon float-right' }) +
        '&lt;/a&gt;' +
        '&lt;/li&gt;'
    }
    $('ul.search-list').append($arrList)
  })

  // Navigation Search area Open
  navLinkSearch.on('click', function() {
    var $this = $(this)
    var searchInput = $(this)
      .parent('.nav-search')
      .find('.search-input')
    searchInput.addClass('open')
    searchInputInputfield.focus()
    searchList.find('li').remove()
    bookmarkInput.removeClass('show')
  })

  // Navigation Search area Close
  $('.search-input-close').on('click', function() {
    var $this = $(this),
      searchInput = $(this).closest('.search-input')
    if (searchInput.hasClass('open')) {
      searchInput.removeClass('open')
      searchInputInputfield.val('')
      searchInputInputfield.blur()
      searchList.removeClass('show')
      appContent.removeClass('show-overlay')
    }
  })

  // Filter
  if ($('.search-list-main').length) {
    var searchListMain = new PerfectScrollbar('.search-list-main', {
      wheelPropagation: false
    })
  }
  if ($('.search-list-bookmark').length) {
    var searchListBookmark = new PerfectScrollbar('.search-list-bookmark', {
      wheelPropagation: false
    })
  }
  // update Perfect Scrollbar on hover
  $('.search-list-main').mouseenter(function() {
    searchListMain.update()
  })

  searchInputInputfield.on('keyup', function(e) {
    $(this)
      .closest('.search-list')
      .addClass('show')
    if (e.keyCode !== 38 && e.keyCode !== 40 && e.keyCode !== 13) {
      if (e.keyCode == 27) {
        appContent.removeClass('show-overlay')
        bookmarkInput.find('input').val('')
        bookmarkInput.find('input').blur()
        searchInputInputfield.val('')
        searchInputInputfield.blur()
        searchInput.removeClass('open')
        if (searchInput.hasClass('show')) {
          $(this).removeClass('show')
          searchInput.removeClass('show')
        }
      }

      // Define variables
      var value = $(this)
          .val()
          .toLowerCase(), //get values of input on keyup
        activeClass = '',
        bookmark = false,
        liList = $('ul.search-list li') // get all the list items of the search
      liList.remove()
      // To check if current is bookmark input
      if (
        $(this)
          .parent()
          .hasClass('bookmark-input')
      ) {
        bookmark = true
      }

      // If input value is blank
      if (value != '') {
        appContent.addClass('show-overlay')

        // condition for bookmark and search input click
        if (bookmarkInput.focus()) {
          bookmarkSearchList.addClass('show')
        } else {
          searchList.addClass('show')
          bookmarkSearchList.removeClass('show')
        }
        if (bookmark === false) {
          searchList.addClass('show')
          bookmarkSearchList.removeClass('show')
        }

        var $startList = '',
          $otherList = '',
          $htmlList = '',
          $bookmarkhtmlList = '',
          $pageList =
            '&lt;li class="d-flex align-items-center"&gt;' +
            '&lt;a href="javascript:void(0)"&gt;' +
            '&lt;h6 class="section-label mt-75 mb-0"&gt;Pages&lt;/h6&gt;' +
            '&lt;/a&gt;' +
            '&lt;/li&gt;',
          $activeItemClass = '',
          $bookmarkIcon = '',
          $defaultList = '',
          a = 0

        // getting json data from file for search results
        $.getJSON(assetPath + 'data/' + $filename + '.json', function(data) {
          for (var i = 0; i < data.listItems.length; i++) {
            // if current is bookmark then give class to star icon
            if (bookmark === true) {
              activeClass = '' // resetting active bookmark class
              var arrList = $('ul.nav.navbar-nav.bookmark-icons li'),
                $arrList = ''
              // Loop to check if current seach value match with the bookmarks already there in navbar
              for (var j = 0; j < arrList.length; j++) {
                if (data.listItems[i].name === arrList[j].firstChild.dataset.originalTitle) {
                  activeClass = ' text-warning'
                  break
                } else {
                  activeClass = ''
                }
              }
              $bookmarkIcon = '&lt;i data-feather="star" class="float-right bookmark-icon ' + activeClass + '"&gt;&lt;/i&gt;'
            }
            // Search list item start with entered letters and create list
            if (data.listItems[i].name.toLowerCase().indexOf(value) == 0 && a < 5) {
              if (a === 0) {
                $activeItemClass = 'current_item'
              } else {
                $activeItemClass = ''
              }
              $startList +=
                '&lt;li class="auto-suggestion ' +
                $activeItemClass +
                '"&gt;' +
                '&lt;a class="d-flex align-items-center justify-content-between w-100" href=' +
                assetPath +
                data.listItems[i].url +
                '&gt;' +
                '&lt;div class="d-flex justify-content-start align-items-center"&gt;' +
                '&lt;i class="mr-75 ' +
                '" data-feather="' +
                data.listItems[i].icon +
                '"&gt;' +
                '&lt;/i&gt;' +
                '&lt;span&gt;' +
                data.listItems[i].name +
                '&lt;/span&gt;' +
                '&lt;/div&gt;' +
                $bookmarkIcon +
                '&lt;/a&gt;' +
                '&lt;/li&gt;'
              a++
            }
          }
          for (var i = 0; i < data.listItems.length; i++) {
            if (bookmark === true) {
              activeClass = '' // resetting active bookmark class
              var arrList = $('ul.nav.navbar-nav.bookmark-icons li'),
                $arrList = ''
              // Loop to check if current search value match with the bookmarks already there in navbar
              for (var j = 0; j < arrList.length; j++) {
                if (data.listItems[i].name === arrList[j].firstChild.dataset.originalTitle) {
                  activeClass = ' text-warning'
                } else {
                  activeClass = ''
                }
              }
              $bookmarkIcon = '&lt;i data-feather="star" class="float-right bookmark-icon ' + activeClass + '"&gt;&lt;/i&gt;'
            }
            // Search list item not start with letters and create list
            if (
              !(data.listItems[i].name.toLowerCase().indexOf(value) == 0) &&
              data.listItems[i].name.toLowerCase().indexOf(value) > -1 &&
              a < 5
            ) {
              if (a === 0) {
                $activeItemClass = 'current_item'
              } else {
                $activeItemClass = ''
              }
              $otherList +=
                '&lt;li class="auto-suggestion ' +
                $activeItemClass +
                '"&gt;' +
                '&lt;a class="d-flex align-items-center justify-content-between w-100" href=' +
                assetPath +
                data.listItems[i].url +
                '&gt;' +
                '&lt;div class="d-flex justify-content-start align-items-center"&gt;' +
                '&lt;i&gt; class="mr-75 ' +
                '" data-feather="' +
                data.listItems[i].icon +
                '"&gt;' +
                '&lt;/i&gt;' +
                '&lt;span&gt;' +
                data.listItems[i].name +
                '&lt;/span&gt;' +
                '&lt;/div&gt;' +
                $bookmarkIcon +
                '&lt;/a&gt;' +
                '&lt;/li&gt;'
              a++
            }
          }
          $defaultList = $('.main-search-list-defaultlist').html()
          if ($startList == '' && $otherList == '') {
            $otherList = $('.main-search-list-defaultlist-other-list').html()
          }
          // concatinating startlist, otherlist, defalutlist with pagelist
          $htmlList = $pageList.concat($startList, $otherList, $defaultList)
          $('ul.search-list').html($htmlList)
          // concatinating otherlist with startlist
          $bookmarkhtmlList = $startList.concat($otherList)
          $('ul.search-list-bookmark').html($bookmarkhtmlList)
          // Feather Icons
          if (feather) {
            featherSVG()
          }
        })
      } else {
        if (bookmark === true) {
          var arrList = $('ul.nav.navbar-nav.bookmark-icons li'),
            $arrList = ''
          for (var i = 0; i < arrList.length; i++) {
            if (i === 0) {
              $activeItemClass = 'current_item'
            } else {
              $activeItemClass = ''
            }
            $arrList +=
              '&lt;li class="auto-suggestion"&gt;' +
              '&lt;a class="d-flex align-items-center justify-content-between w-100" href=' +
              arrList[i].firstChild.href +
              '&gt;' +
              '&lt;div class="d-flex justify-content-start align-items-center"&gt;' +
              '&lt;i class="mr-75 ' +
              '" data-feather="' +
              arrList[i].firstChild.firstChild.className +
              '"&gt;' +
              '&lt;/i&gt;' +
              '&lt;span&gt;' +
              arrList[i].firstChild.dataset.originalTitle +
              '&lt;/span&gt;' +
              '&lt;/div&gt;' +
              feather.icons['star'].toSvg({ class: 'text-warning bookmark-icon float-right' }) +
              '&lt;/a&gt;' +
              '&lt;/li&gt;'
          }
          $('ul.search-list').append($arrList)
          // Feather Icons
          if (feather) {
            featherSVG()
          }
        } else {
          // if search input blank, hide overlay
          if (appContent.hasClass('show-overlay')) {
            appContent.removeClass('show-overlay')
          }
          // If filter box is empty
          if (searchList.hasClass('show')) {
            searchList.removeClass('show')
          }
        }
      }
    }
  })

  // Add class on hover of the list
  $(document).on('mouseenter', '.search-list li', function(e) {
    $(this)
      .siblings()
      .removeClass('current_item')
    $(this).addClass('current_item')
  })
  $(document).on('click', '.search-list li', function(e) {
    e.stopPropagation()
  })

  $('html').on('click', function($this) {
    if (!$($this.target).hasClass('bookmark-icon')) {
      if (bookmarkSearchList.hasClass('show')) {
        bookmarkSearchList.removeClass('show')
      }
      if (bookmarkInput.hasClass('show')) {
        bookmarkInput.removeClass('show')
      }
    }
  })

  // Prevent closing bookmark dropdown on input textbox click
  $(document).on('click', '.bookmark-input input', function(e) {
    bookmarkInput.addClass('show')
    bookmarkSearchList.addClass('show')
  })

  // Favorite star click
  $(document).on('click', '.bookmark-input .search-list .bookmark-icon', function(e) {
    e.stopPropagation()
    if ($(this).hasClass('text-warning')) {
      $(this).removeClass('text-warning')
      var arrList = $('ul.nav.navbar-nav.bookmark-icons li')
      for (var i = 0; i < arrList.length; i++) {
        if (arrList[i].firstChild.dataset.originalTitle == $(this).parent()[0].innerText) {
          arrList[i].remove()
        }
      }
      e.preventDefault()
    } else {
      var arrList = $('ul.nav.navbar-nav.bookmark-icons li')
      $(this).addClass('text-warning')
      e.preventDefault()
      var $url = $(this).parent()[0].href,
        $name = $(this).parent()[0].innerText,
        $listItem = '',
        $listItemDropdown = '',
        iconName = $(this).parent()[0].firstChild.firstChild.dataset.icon
      if ($($(this).parent()[0].firstChild.firstChild).hasClass('feather')) {
        var classString = $(this)
          .parent()[0]
          .firstChild.firstChild.getAttribute('class')
        iconName = classString.split('feather-')[1].split(' ')[0]
      }
      $listItem =
        '&lt;li class="nav-item d-none d-lg-block"&gt;' +
        '&lt;a class="nav-link" href="' +
        $url +
        '" data-toggle="tooltip" data-placement="top" title="" data-original-title="' +
        $name +
        '"&gt;' +
        feather.icons[iconName].toSvg({ class: 'ficon' }) +
        '&lt;/a&gt;' +
        '&lt;/li&gt;'
      $('ul.nav.bookmark-icons').append($listItem)
      $('[data-toggle="tooltip"]').tooltip()
    }
  })

  // If we use up key(38) Down key (40) or Enter key(13)
  $(window).on('keydown', function(e) {
    var $current = $('.search-list li.current_item'),
      $next,
      $prev
    if (e.keyCode === 40) {
      $next = $current.next()
      $current.removeClass('current_item')
      $current = $next.addClass('current_item')
    } else if (e.keyCode === 38) {
      $prev = $current.prev()
      $current.removeClass('current_item')
      $current = $prev.addClass('current_item')
    }

    if (e.keyCode === 13 && $('.search-list li.current_item').length > 0) {
      var selected_item = $('.search-list li.current_item a')
      window.location = selected_item.attr('href')
      $(selected_item).trigger('click')
    }
  })
      </code>
    </pre>
  </div>
</div>
