<!-- Overview -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Vuexy Admin Template Documentation</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Thank you 🙏 for purchasing Vuexy admin template.</p>
    <p><strong>Created By 🛠:</strong> PIXINVENT Team</p>

    <p class="card-text">
      Vuexy admin is a super flexible, powerful, clean & modern responsive bootstrap admin template with unlimited
      possibilities. It includes 5 pre-built templates with organized folder structure, clean & commented code, 100+
      pages, 70+ components, 50+ charts, 50+ advance cards (widgets) and many more.
    </p>
    <p>
      Vuexy admin provides searchable navigation, unique menu layouts, advance cards, and incredible support. Vuexy
      admin can be used for any type of web application: Project Management, eCommerce backends, CRM, Analytics,
      Fitness, or any custom admin panels.
    </p>
    <p>
      It comes with 2 niche dashboards. Vuexy admin template is powered with HTML 5, SASS & Twitter Bootstrap 4 which
      looks great on Desktops, Tablets, and Mobile Devices. Vuexy admin template comes with a starter kit which will
      help developers to get started quickly.
    </p>
    <p>
      If you have any queries that are beyond the scope of this help file, please feel free to create a support ticket
      on our support portal:
      <a href="https://pixinvent.ticksy.com/" target="_blank">https://pixinvent.ticksy.com/</a>
    </p>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Heads Up!</h4>
      <div class="alert-body">
        It is recommended to use any local server (i.e XAMPP, WAMP or Node, etc...) with a protocol "http://" to run
        this template as it uses AJAX technology as a part of its functionality. It may break some functionality if you
        opened directly from your HDD in a browser with a protocol “file:///...” (like
        “file:///C:/path/to/some_page.html”).
      </div>
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Tip</h4>
      <div class="alert-body">
        <p>
          Node.js and Gulp are optional to <strong>Use or Run</strong> Vuexy Admin HTML version. You can still use and
          customize easily the HTML version without knowledge of Node.js and Gulp.
        </p>
        <p class="mb-0">
          Please read our <a href="documentation-faq.html" class="alert-link">FAQs page</a> for common customization and
          usage related questions and their solutions.
        </p>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <div class="alert-body">
        This documentation covers HTML and Laravel both, please refer
        <a href="documentation-laravel-folder-structure.html" class="alert-link">Laravel documentation here</a>.
      </div>
    </div>
    <h6 class="mt-2">Major Dependencies</h6>
    <hr />
    <ul>
      <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4.6.0</a></li>
      <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
      <li><a href="http://gulpjs.com/" target="_blank">Gulp</a></li>
      <li><a href="https://jquery.com/" target="_blank">jQuery v3.6.0</a></li>
    </ul>

    <h6 class="mt-2">Browser Support</h6>
    <hr />
    <p>Vuexy HTML is built to work best in the latest desktop and mobile and tablet browsers,</p>
    <ul>
      <li>Chrome (latest)</li>
      <li>FireFox (latest)</li>
      <li>Safari (latest)</li>
      <li>Opera (latest)</li>
      <li>Microsoft Edge only</li>
    </ul>
  </div>
</div>
<!--/ Overview -->
