//- =========================================================================================
    File Name: app-user-view.pug
    Description: user view page.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "User View"
    - var pageSubTitle = "User View"
    - var description  = "user view page"
    - var activeMenu   = "app-user-view"

block page-header

//- Include chat content in page block
append content
    include ../contents/app-user-view.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/responsive.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/buttons.bootstrap4.min.css')


//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/app-invoice-list.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/app-user.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
    script(src=app_assets_path+'/vendors/js/extensions/moment.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/jquery.dataTables.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.bootstrap4.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/dataTables.responsive.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/responsive.bootstrap4.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.buttons.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/buttons.bootstrap4.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
    script(src=app_assets_path+'/js/scripts/pages/app-user-view.js')
