//- =========================================================================================
  File Name: dashboard-anayltics.pug
  Description: Analytics Dashboard
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================

extends template

block pageVars
  - var pageTitle   = "Dashboard analytics"
  - var activeMenu  = "dashboard-analytics"

block page-header

//- Include page content in page block
append content
  include ../contents/dashboard-analytics.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
  //- apex chart
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/apexcharts.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/extensions/toastr.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/responsive.bootstrap4.min.css')



//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/charts/chart-apex.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/extensions/ext-component-toastr.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/app-invoice-list.css')


//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
  //- apex charts
  script(src=app_assets_path+'/vendors/js/charts/apexcharts.min.js')
  script(src=app_assets_path + '/vendors/js/extensions/toastr.min.js')
  script(src=app_assets_path+'/vendors/js/extensions/moment.min.js')
  script(src=app_assets_path+'/vendors/js/tables/datatable/jquery.dataTables.min.js')
  script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.buttons.min.js')
  script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.bootstrap4.min.js')
  script(src=app_assets_path+'/vendors/js/tables/datatable/dataTables.responsive.min.js')
  script(src=app_assets_path+'/vendors/js/tables/datatable/responsive.bootstrap.min.js')


//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
  //- Dashboard custom js
  script(src=app_assets_path+'/js/scripts/pages/dashboard-analytics.js')
  script(src=app_assets_path+'/js/scripts/pages/app-invoice-list.js')
