//- =========================================================================================
    File Name: form-select.pug
    Description: Select2 using dragula js.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================

extends template

block pageVars
    - var pageTitle = "Select"
    - var pageSubTitle = "The jQuery replacement for select boxes"
    - var description  = "Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options."
    - var activeMenu = "form-select"

block breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Elements"}, {name:"Select"}])
append content
    include ../contents/form-select.html

append vendorcss
    //- Select2 CSS
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/forms/select/select2.min.css')

append vendorjs
    //- select2 min js
    script(src=app_assets_path+'/vendors/js/forms/select/select2.full.min.js')

append pagejs
    //- Template js
    script(src=app_assets_path+'/js/scripts/forms/form-select2.js')
