//- =========================================================================================
  File Name: layout-full.pug
  Description: Full Layout
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "Layout Full"
  - var pageSubTitle = "layout full"
  - var description  = "Layout full content"
  - var activeMenu   = "layout-full"
  - var isContainer  = false

block breadcrumbs
  +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Layouts"}, {name:"Layout Full"}])

//- Include page content in page block
append content
  .row
    .col-12
      .alert.alert-primary(role='alert')
        .alert-body
          strong Info:
          |  Please check the&nbsp;
          a.text-primary(href='https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/documentation-layout-full.html', target='_blank') Layout full documentation
          | &nbsp; for more details.
  include ../contents/dashboard-ecommerce.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
  //- apex chart
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/apexcharts.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/extensions/toastr.min.css')


//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/dashboard-ecommerce.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/charts/chart-apex.css')
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/extensions/ext-component-toastr.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
  //- apex charts
  script(src=app_assets_path+'/vendors/js/charts/apexcharts.min.js')
  script(src=app_assets_path + '/vendors/js/extensions/toastr.min.js')


//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
  //- Dashboard custom js
  script(src=app_assets_path+'/js/scripts/pages/dashboard-ecommerce.js')
