//- =========================================================================================
    File Name:table-datatable-basic.pug
    Description: Basic DataTables
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//
extends template

block pageVars
    - var pageTitle    = "DataTables"
    - var pageSubTitle = "Basic initialization of DataTables"
    - var description  = "DataTables is very simple to use as a jQuery plug-in with a huge range of customisable option. The examples in this section demonstrate basic initialisation of DataTables and how it can be easily customised by passing an object with the options you want."
    - var activeMenu   = "table-datatable-basic"

block breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"},{url:'#', name:'Datatable'},{name:"Basic"}])

//- Include page content in page block
append content
    include ../contents/table-datatable-basic.html

//- Page specific dependency
//------------------------------

//- Add vendor specific CSS
append vendorcss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/responsive.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/buttons.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/vendors/css/pickers/flatpickr/flatpickr.min.css')


//- Add vendor specific JS
append vendorjs
    script(src=app_assets_path+'/vendors/js/tables/datatable/jquery.dataTables.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.bootstrap4.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/dataTables.responsive.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/responsive.bootstrap4.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.checkboxes.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/datatables.buttons.min.js')
    //- script(src=app_assets_path+'/vendors/js/tables/datatable/buttons.bootstrap4.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/jszip.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/pdfmake.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/vfs_fonts.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/buttons.html5.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/buttons.print.min.js')
    script(src=app_assets_path+'/vendors/js/tables/datatable/dataTables.rowGroup.min.js')
    script(src=app_assets_path+'/vendors/js/pickers/flatpickr/flatpickr.min.js')

//- Add custom page specific JS
append pagejs
    script(src=app_assets_path+'/js/scripts/tables/table-datatables-basic.js')
