.navbar
  .logo
    max-width 2.3rem
  .site-name
    color $accentColor !important


// a.sidebar-link
//   position relative
//   &[href$="/guide/forms/form-wizard.html"]
//     &::before
//       content: '';
//       width: 8px;
//       height: 8px;
//       background: $accentColor;
//       position: absolute;
//       left: 16px;
//       top: 50%;
//       border-radius: 50%;
//       transform: translateY(-50%);
