<div class="card">
  <div class="card-header">
    <h4 class="card-title">Filter Pipe</h4>
  </div>
  <div class="card-body">
    <p>filter.pipe.ts</p>
    <markdown ngPreserveWhitespaces>
      ```typescript
      import &#123; Pipe, PipeTransform &#125; from '@angular/core';
      @Pipe(&#123;
        name: 'filter'
      &#125;)
      export class FilterPipe implements PipeTransform &#123;
        transform(items: any[], searchText: string, key: string): any[] &#123;
          if (!items) return [];
          if (!searchText) return items;

          searchText = searchText.toLowerCase();
          return items.filter((it) => &#123;
            return it[key].toLowerCase().includes(searchText);
          &#125;);
        &#125;
      &#125;
      ```
    </markdown>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Usage</h4>
  </div>
  <div class="card-body">
    <p>Filter pipe is used to filter realtime data on users input. </p>

    <markdown ngPreserveWhitespaces>
      ```html
      &lt;div *ngFor="let data of datas | filter : Arg1 : Arg2"&gt;&lt;/div&gt;
      ```
    </markdown>
    <p>
      <code>Arg1</code> : Text to filter.
    </p>
    <p>
      <code>Arg2</code> : If you have multiple key value pair then, you can pass which key you want to filter. Ex. heading, body-text, footer etc.  <strong>Note:</strong> This is option argument.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Example</h4>
  </div>
  <div class="card-body">
    <p>filter-example.component.html</p>

    <markdown ngPreserveWhitespaces>
      ```html
      &lt;input type="text" name="faqSearch" class="form-control form-control-lg" [(ngModel)]="searchText" id="searchbar" placeholder="Search"&gt;

      &lt;ngb-accordion [destroyOnHide]='false' [closeOthers]="true" activeIds="panelMargin1"&gt;
        &lt;ngb-panel *ngFor="let faqAccordion of faqAccordions | filter : searchText : 'heading'"
          id="&#123; &#123; faqAccordion.id&#125;&#125;" [cardClass]="'collapse-margin'"&gt;
          &lt;ng-template ngbPanelTitle&gt;
            &lt;span&gt;&#123; &#123; faqAccordion.heading &#125;&#125;&lt;/span&gt;
          &lt;/ng-template&gt;
          &lt;ng-template ngbPanelContent&gt;
            &#123; &#123;faqAccordion.disc &#125;&#125;
          &lt;/ng-template&gt;
        &lt;/ngb-panel&gt;
      &lt;/ngb-accordion&gt;
      ```
    </markdown>

    <p class="mt-2">filter-example.component.ts</p>
    <markdown ngPreserveWhitespaces>
      ```typescript
      faqAccordions = [
      &#123;
        id: 'panelMargin1',
        heading: 'What does royalty free mean?',
        disc: `Royalty free means you just need to pay for rights to use the item once per end product. You don't
      need to pay additional or ongoing fees for each person who sees or uses it. Please note that there may
      be some limits placed on uses under the different license types available on the marketplaces, such as
      our Photo and Music Licenses.`
      &#125;,
      &#123;
        id: 'panelMargin2',
        heading: 'What do you mean by item and end product?',
        disc: `
        The item is what you purchase from Envato Market. The end product is what you build with that item.
        Example: The item is a business card template; the end product is the finalized business card. The
        item is a button graphic; the end product is an app using the button graphic in the app's interface.
      `
      &#125;,
      &#123;
        id: 'panelMargin3',
        heading: 'Am I allowed to modify the item that I purchased?',
        disc: `
        Yes. You can customize our items to fit the needs of your end product. Example: You could change the
        colors, text, and layout of a flyer template or convert an HTML template into a WordPress theme for a
        single client.
      `
      &#125;,
      &#123;
        id: 'panelMargin4',
        heading: 'What does non-exclusive mean?',
        disc: `
        Non-exclusive means that you are not the only person with access to the item. Others will also be
        licensing and using the same item.
      `
      &#125;
    ];
      ```
    </markdown>

    <p class="mt-2">Output:</p>
    <img src="../../../assets/images/filter-pipe/filter-pipe-demo.gif" alt="filter-pipe-demo">
  </div>
</div>
