<a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/0-react-banner.jpg" alt="Vuexy Admin Template" /></a>

<table>
  <tr>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/1-vue-laravel-demo.jpg" alt="Vuexy VueJS Admin Template" /></a>
  </td>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/1.2-html-laravel-demo.jpg" alt="Vuexy HTML Admin Template" /></a>
  </td>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/1.3-react-demo.jpg" alt="Vuexy HTML Admin Template" /></a>
  </td>
  </tr>
  </table>

  <table>
  <tr>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/documentation/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.1-vue-documentation.jpg" alt="Vuexy VueJS Admin Template Documentation" /></a>
  </td>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.2-html-documentation.jpg" alt="Vuexy HTML Admin Template" /></a>
  </td>
  <td>
  <a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/documentation/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/2.3-react-documentation.jpg" alt="Vuexy HTML Admin Template" /></a>
  </td>
  </tr>
  </table>

  <a href="https://pixinvent.com/demo/vuexy-tree-view/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/3-package-contents.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/4-free-sketch-file.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/5-winner.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/6-covered-technologys.png" alt="Vuexy Admin Template" /></a>


  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/8-vuexy.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/9-featured.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/10-vue-frameworks-and-libraries.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/11-react-frameworks-and-libraries.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/12-swipe-out.gif" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/13-review.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/14-build-the-perfect-app.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/15-vuexy-layout-options.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/16-workable-applications.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/17-new-workable-applications.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/18-data-listing.png" alt="Vuexy Admin Template" /></a>


  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/19-advance-card.png" alt="Vuexy Admin Template" /></a>


  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/20-tools-you-need.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/7-new-update-features.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.ticksy.com/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/21-support.png" alt="Vuexy Admin Template" /></a>

  <a href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/landing/" rel="nofollow"><img src="https://www.pixinvent.com/demo/vuexy-html-bootstrap-admin-template/item-page/22-ratings.png" alt="Vuexy Admin Template" /></a>

  <h2>A powerful admin dashboard template built especially for developers</h2>
  <p>
     <strong>Vuexy - Vuejs + HTML Admin Dashboard Template</strong> - is the most developer friendly & highly customisable VueJS + HTML
     Admin Dashboard Template based on Vue CLI, Vuex & Vuexy component framework.
  </p>
  <p>
     If you’re a developer looking for an admin dashboard that was made with you in mind, look no further than Vuexy. A powerful admin dashboard template built on Vue.js, Vuexy is developer-friendly, rich with features and highly customizable. We’ve followed the highest industry standards to bring you the very best admin template that is not only fast and easy to use but highly scalable. Offering ultimate convenience and flexibility, you’ll be able to build whatever application you want with very little hassle.
  </p>

  <h2>Build premium quality applications with ease</h2>
  <p>
     When it comes to creating applications, it doesn’t get better than Vuexy. Our vue.js admin dashboard template is based on Vue CLI, Vuex and Vuexy component framework. We’ve made sure it’s easy to use and highly customizable so that bringing your vision to life is a piece of cake.
  </p>
  <p>
    Use our innovative admin template to create eye-catching, high quality and high performing single-page applications. Your apps will be completely responsive, ensuring they’ll look stunning and function flawlessly on desktops, tablets, and mobile devices.
  </p>
  <p>Incredibly versatile, the Vuexy admin dashboard allows you to build any type of web application. For instance, you can create:</p>

  <li>Project management apps</li>
  <li>Ecommerce backends</li>
  <li>CRM systems</li>
  <li>Analytics apps</li>
  <li>Banking apps</li>
  <li>Education apps</li>
  <li>Fitness apps</li>
  <li>& many more....</li>

  <h2>Get started quickly</h2>
  <p>Vuexy is user-friendly and straightforward, making it fast and simple to get started. It also comes equipped with ready-to-go templates including two niche dashboards and five workable apps:</p>

  <ul>
    <li>Email</li>
    <li>Chat</li>
    <li>To-do list</li>
    <li>Calendar </li>
    <li>eCommerce </li>
  </ul>
  <p>Plus, it’s well documented, making it even simpler for you to get started and continue using. </p>

  <h2>Make it your own</h2>
  <p>Vuexy offers easy and endless customization – including unlimited color options.</p>

  <h2>Make the most of our innovative features</h2>
  <p>Vuexy is equipped with invaluable features designed to help you create premium quality apps exactly as you imagine them. We’ve loaded the Vuexy admin template with unique and useful tools such as fuzzy search, bookmarks, floating nav bar, dark and semi-dark layout options, advance cards and charts. Other first-class features include:</p>
  <ul>
     <li>Laravel Starter Kit</li>
     <li>Pure Vue js, No Jquery Dependency</li>
     <li>Created with Vue CLI</li>
     <li>Utilizes Vuex, Vue Router, Webpack</li>
     <li>Code Splitting, Lazy loading</li>
     <li>Auth 0 Integration</li>
     <li>Firebase authentication + Social Logins</li>
     <li>E-Commerce App with shop, wishlist, checkout pages</li>
     <li>Algolia search and filter demo integrated with E-Commerce app</li>
     <li>Data List with firestore integration using axios</li>
     <li>List View</li>
     <li>Thumb List View</li>
     <li>App Tour</li>
     <li>Drag &amp; Drop Bookmarks to re-arrange</li>
     <li>Carousel (Image Slider)</li>
     <li>Clipboard (Copy to clipboard)</li>
     <li>Context Menu</li>
     <li>Scroll to top</li>
     <li>Not authorised Page</li>
     <li>Access Control (ACL)</li>
     <li>i18n Page</li>
     <li>Multi-lingual Support</li>
     <li>3 chart libraries</li>
     <li>2 Dashboard</li>
     <li>SASS Powered</li>
     <li>Feather Icons</li>
     <li>
        5 Workable Applications
        <ul>
           <li>Email</li>
           <li>Chat</li>
           <li>Todo</li>
           <li>Calendar</li>
           <li>E-Commerce</li>
        </ul>
     </li>
     <li>Unlimited Color Options</li>
     <li>Google Map</li>
     <li>Video Player</li>
     <li>Drag &amp; Drop</li>
     <li>Fully Responsive Layout</li>
     <li>Organized Folder Structure</li>
     <li>Clean &amp; Commented Code</li>
     <li>Well Documented</li>
     <li>FREE Lifetime Updates</li>
     <li>6 months of free support included</li>
  </ul>

  <h2>Enjoy first class support</h2>
  <p>We offer six months of free support to every customer. We also offer multilingual support.</p>

  <h2>Get free lifetime updates</h2>
  <p>Every purchase of the Vuexy admin template is entitled to free updates – for life. This means you’ll benefit from every enhancement, improvement and newly added feature indefinitely. </p>

  <h2>Bonus – Complimentary files included free</h2>
  <p>Every download of Vuexy includes free design files compatible with Sketch, Figma and Adobe XD. These are: </p>
  <ul>
     <li>vuexy-analytics-dashboard</li>
     <li>vuexy-ecommerce-dashboard</li>
     <li>vuexy-blank-page</li>
     <li>vuexy-chat-app</li>
     <li>vuexy-email-app</li>
     <li>vuexy-todo-app</li>
     <li>vuexy-ecommerce-page-grid</li>
     <li>vuexy-ecommerce-page-list</li>
     <li>vuexy-wishlist-page-grid</li>
     <li>vuexy-checkout-page</li>
     <li>vuexy-select-address-page</li>
     <li>vuexy-payment-page</li>
  </ul>

  <h3>Technical Specification (Credits )</h3>
  <p>Vuexy - Vuejs + HTML Admin Dashboard Template</p>
  <ul>
     <li>
        Powered by
        <a href="https://vuejs.org" target="_blank" rel="noopener noreferrer">Vue</a>
     </li>
     <li>
        <a href="https://cli.vuejs.org/" target="_blank" rel="noopener noreferrer">Vue CLI 3</a>
     </li>
     <li>
        <a href="https://lusaxweb.github.io/vuexy/" target="_blank" rel="noopener noreferrer">Vuexy</a>
        - Vuejs component Library
     </li>
     <li>
        <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">Tailwind</a>
     </li>
     <li>
        <a href="https://vuex.vuejs.org/" target="_blank" rel="noopener noreferrer">Vuex</a>
     </li>
     <li>
        <a href="https://router.vuejs.org/" target="_blank" rel="noopener noreferrer">Vue Router</a>
     </li>
     <li>
        <a href="https://github.com/axios/axios" target="_blank" rel="noopener noreferrer">Axios</a>
     </li>
     <li>SASS Powered</li>
     <li>
        Charts
        <ul>
           <li>
              <a href="https://apexcharts.com/vue-chart-demos/" target="_blank" rel="noopener noreferrer">Apex Charts</a>
           </li>
           <li>
              <a href="https://vue-chartjs.org/" target="_blank" rel="noopener noreferrer">Chartjs</a>
           </li>
           <li>
              <a href="https://ecomfe.github.io/vue-echarts/demo/" target="_blank" rel="noopener noreferrer">eCharts</a>
           </li>
        </ul>
     </li>
     <li>
        <a href="https://baianat.github.io/vee-validate/" target="_blank" rel="noopener noreferrer">VeeValidate</a>
     </li>
     <li>
        <a href="https://github.com/BinarCode/vue-form-wizard" target="_blank" rel="noopener noreferrer">Vue Form Wizard</a>
     </li>
     <li>
        <a href="https://github.com/Wanderxx/vue-fullcalendar" target="_blank" rel="noopener noreferrer">Vue Full Calendar</a>
     </li>
     <li>
        <a href="https://sagalbot.github.io/vue-select/" target="_blank" rel="noopener noreferrer">Vue Select</a>
     </li>
     <li>
        <a href="https://github.com/SortableJS/Vue.Draggable" target="_blank" rel="noopener noreferrer">Vue Draggable</a>
     </li>
     <li>
        <a href="https://github.com/surmon-china/vue-video-player" target="_blank" rel="noopener noreferrer"
           >Vue Video Player</a
        >
     </li>
     <li>
        <a href="https://github.com/egoist/vue-feather-icons" target="_blank" rel="noopener noreferrer">Vue Feather Icons</a>
     </li>
     <li>
        <a href="https://github.com/xkjyeah/vue-google-maps" target="_blank" rel="noopener noreferrer">Vue Google Maps</a>
     </li>
     <li>
        <a href="https://kazupon.github.io/vue-i18n/" target="_blank" rel="noopener noreferrer">Vue I18n</a>
     </li>
     <li>
        <a href="https://github.com/Degfy/vue-perfect-scrollbar" target="_blank" rel="noopener noreferrer"
           >Vue Perfect Scollbar</a
        >
     </li>
     <li>
        <a href="https://github.com/egoist/vue-prism-component" target="_blank" rel="noopener noreferrer"
           >Vue Prism Component</a
        >
     </li>
     <li>
        <a href="https://github.com/surmon-china/vue-quill-editor" target="_blank" rel="noopener noreferrer"
           >Vue Quill Editor</a
        >
     </li>
     <li>
        <a href="https://github.com/lusaxweb/vuecode" target="_blank" rel="noopener noreferrer">Vue Code</a>
     </li>
     <li>
        <a href="https://github.com/charliekassel/vuejs-datepicker" target="_blank" rel="noopener noreferrer"
           >Vue Datepicker</a
        >
     </li>
  </ul>

  <h4>Note</h4>

  <ul>
  <li><strong>HTML</strong> version use <strong>Bootstrap4</strong> framework and support <strong>IE11, Edge, Charome, Firefox, Safari & Opera</strong> browsers.</li>
  <li><strong>VueJS</strong> version use <strong>Vuesax</strong> framework and support <strong>Edge, Chrome, Firefox, Safari & Opera</strong> browsers.</li>
  </ul>



  <h3>Changelog</h3>

  v4.2 [06th Jan 2019]
  <pre>
  - Fixed: 
      - Fixed menu navigation issue on iOS update
      - Updated HTML - Laravel version base structure and configuration options
</pre>

  v4.1 [14th Nov 2019]
  <pre>

  Common Change for all version
  =============================

  #To maintain the consistancy, we have updated HTML and HTML - Laravel version to 4.1

  - Added :
    - RTL compatibility for all versions
    - User App
    - User List
    - User Add / Edit
    - User View
    - Account Settings Page
    - Product Detail Page
    - Statistics Cards

  - Updated :
    - Laravel core structure
    - Global Search UI include pages, files and contacts group filter
    - DataList UI Updates
    - Print Ready Invoice Page

  - Fixed :
   - Reported bugs and minor design fix

  HTML & HTML + Laravel
  =====================
  - Added:
   - Swiper Component
  </pre>

  v4.0 [03rd Oct 2019]
  <pre>

  - Vuesax is now Vuexy :)

  Vue Version
  =============

  Added:
  - Horizontal Menu with light & dark layout
  - JWT Authentication
  - API Ready
  - Import-Export
  - Full Laravel Version

  Fixed:
  - UI updates
  - Bug Fixes

  Updated:
  - DataList now support CRUD
  - Major structural changes, Please check migration guide (v3 - v4)


  HTML + Laravel Version
  ======================
  - Inital release


  HTML Version
  =============

  Added :
  - Horizontal Menu with light & dark layout
  - AG Grid
  - Media Player

  Updated :
  - Updated Vendors/Libs
  - Updated to Gulp4

  Fixed :
  - Minor Bugs


  Vue + Laravel Version
  ======================
  - Inital release

  </pre>

  v3.3 [18th July 2019]
  <pre>
  Vue Version
  --------------
  Added
  --------
  -  SSR table

  Fixed
  -------
  -  VxTooltip fix
  -  Sidebar active link fix

  Updated
  ----------
  -  Functional component for performance
  -  All Libraries updated to its latest
  -  UI improvements

  Removed
  -----------
  -  Deprecated calendar removed

  HTML Version
  -----------------
  Added
  --------
  -  User Settings Page
  -  Full Calender with Timegrid and custom buttons

  Fixed
  -------
  -  Email application - Form Reset on Compose Click
  -  Accordion Component - clickable on accordion heading section
  -  Set default badge color
  -  Custom Radio design fixed
  -  Main Menu Sub-item Icon Fixed

  Updated
  -----------
  -  Updated Documentation
  </pre>

  v3.2 [13th June 2019]
  <pre>
  Added
  --------
  Bootstrap laravel starter-kit
  VueJS cards actions events

  Fixed
  --------
  VueJS Table was not showing initial data using api
  Responsiveness issues
  </pre>


  v3.1 [4th June 2019]
  <pre>
  Added
  --------
  New Date Time picker
  New classes in tailwind v1.x

  Improved
  -----------
  vue-select component's UI improved
  Search list UI for navbar type improved
  Authentication and comning-soon pages' UI improved for small devices

  Fixed
  --------
  Fixed navbar-type and footer-type selection in customizer
  Fixed vxAutoSuggest bug
  Fixed: Chat app update about/status

  Removed
  -----------
  API table of component is removed from component demo pages
  </pre>

  v3.0 [27th May 2019]
  <pre>
  Addded
  -------
  - HTML added
  - Swipe out menu
  - agGrid table
  - Form Input Group
  - Button group
  - New calendar added
  - Auto-suggest
  - Tree component
  - Star ratings

  Updated
  -------
  - All packages updated to latest
  - Tailwind updated to latest v1.x
  - Dark layout enhanced
  - More customizable cards
  - UI improved

  Fixed
  -----
  - Firebase register bug fixed
  - Vulnerabilities in npm packages

  Removed
  -------
  - Old Calendar
  </pre>

  v2.1 [18th April 2020]
  <pre>
  Fixed
  -------
  - Bookmark Autosuggest Component Bug
  - E-Commerce Sidebar Filter Reset Bug
  - Laravel Starter Kit

  Updated
  -----------
  - Chats now start from bottom so one doesn't have to scroll all the way to the end of the chat
  </pre>

  v2.0 [9th April 2019]
  <pre>
  Added
  -------
  - Vuexy Laravel Starter Kit
  - Auth 0 Integration
  - Firebase authentication + Social Logins
  - E-Commerce App with shop, wishlist, checkout pages
  - Algolia search and filter demo integrated with E-Commerce app
  - Data List with firestore integration using axios
    - List View
    - Thumb List View
  - App Tour
  - Drag & Drop Bookmarks to re-arrange
  - Carousel (Image Slider)
  - Clipboard (Copy to clipboard)
  - Context Menu
  - Scroll to top
  - Not authorised Page
  - Access Control (ACL)
  - i18n Page

  Updated
  --------
  - Updated VueJS to latest version
  - Updated Vuexy component framework to latest version
  - Upadated all the npm dependencies to its latest version
  - Updated drag & drop plugin
  - Updated dark layout background color and text colors

  Improved
  ---------
  - Code Toggler to work well with light & dark both layouts

  Fixed
  -------
  - Fixed fuzzy search
  - Fixed email app bug
  - Large message in chat
  - z-index issues
  </pre>

  v1.1 [27th February 2019]
  <pre>
  Added
  ------------------------------
     - Added Semi Dark Layout
     - Added Starter Kit
     - Added App Loader
     - Added Sketch, Adobe XD & Figma files
     - Added 404 page for Unknown URLs

  Updated
  -------------------------------
     - Updated Folder Structure
     - Updated Store
     - Updated Documentation

  Fixed
  -------------------------------
     - Fixed Minor Bugs
  </pre>

  v1.0.1 [18th February 2019]
  <pre>
     - Customizer can be enabled / disabled from themeconfig
     - Fixed search list of navbar
     - Fixed public path in vue config
     - Fixed date alignment in chat app
     - Fixed Sidebar page sidebar style
     - Select component list font size increased
  </pre>

  v1.0 [16th February 2019]
  <pre>
     - Initial release
  </pre>
