<markdown>
  # Core Card Component
</markdown>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Core Card</h4>
  </div>
  <div class="card-body">
    <p>To use <code>core-card</code> component import <code>CoreCardModule</code> to the respective <code>NgModule</code>. </p>
    <p>module.ts :</p>
    <markdown ngPreserveWhitespaces lineHighlight [line]="'1, 10'">
      ```typescript
      import &#123; CoreCardModule &#125; from '@core/components/core-card/core-card.module';
      ...
      ...
      @NgModule(&#123;
        declarations: [
        ...
        ],
        imports: [
          ...
          CoreCardModule
        ],
        providers: []
      &#125;)
      ```
    </markdown>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;core-card [actions]="['collapse', 'expand', 'reload', 'close']"&gt;
        &lt;div class="core-card-title"&gt;Title&lt;/div&gt;
        &lt;div class="core-card-body"&gt;Body&lt;/div&gt;
      &lt;/core-card&gt;
      ```
    </markdown>
    <img src="../../../assets/images/core-card/core-card.gif" class="img-fluid mt-1" alt="core-card">
  </div>
</div>

<!-- Collapsible -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Collapsible</h4>
  </div>
  <div class="card-body">
    <p>You can create a collapsible content by by adding <code>[actions]="['collapse']"</code> along
      with <code> &lt;core-card&gt;&lt;core-card&gt; </code> component.</p>
    <p class="mt-1">component.html :</p>
    <markdown lineNumbers ngPreserveWhitespaces>
      ```html
      &lt;core-card [actions]="['collapse']"&gt;
        &lt;div class="core-card-title"&gt;Collapsible&lt;/div&gt;
        &lt;div class="core-card-body"&gt; Body
        &lt;/div&gt;
      &lt;/core-card&gt;
      ```
    </markdown>
    <img src="../../../assets/images/core-card/core-card-collapsible.gif" class="img-fluid mt-1" alt="core card collapsible gif">
  </div>
</div>
<!-- Collapsible -->

<!-- Refresh Content -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">Refresh Content</h4>
    </div>
    <div class="card-body">
        <p>
            To create a card with refresh action use <code>[actions]="['reload']"</code> along with
            <code> &lt;core-card&gt;&lt;core-card&gt;</code> component.
          </p>
      <p class="mt-1">component.html :</p>
      <markdown lineNumbers ngPreserveWhitespaces>
        ```html
        &lt;core-card [actions]="['reload']">
          &lt;div class="core-card-title">Refresh Content&lt;/div>
          &lt;div class="core-card-body"> Body
          &lt;/div>
        &lt;/core-card>
        ```
      </markdown>
    <img src="../../../assets/images/core-card/core-card-refresh.gif" class="img-fluid mt-1" alt="core card refresh gif">
    </div>
  </div>
  <!-- Refresh Content -->

  <!-- Remove Card -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">Remove Card</h4>
    </div>
    <div class="card-body">
        <p>
            You can create a closeable card by using <code>[actions]="['close']"</code> along with
            <code> &lt;core-card&gt;&lt;core-card&gt;</code> component.
          </p>
      <p>Code HTML Snippet:</p>
      <markdown lineNumbers ngPreserveWhitespaces>
        ```html
        &lt;core-card [actions]="['close']">
          &lt;div class="core-card-title">Remove Card&lt;/div>
          &lt;div class="core-card-body"> Body
          &lt;/div>
        &lt;/core-card>
        ```
      </markdown>
      <img src="../../../assets/images/core-card/core-card-remove.gif" class="img-fluid mt-1" alt="core card remove gif">

    </div>
  </div>
  <!-- Remove Card -->

  <!-- Expand Card -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">Expand Card</h4>
    </div>
    <div class="card-body">
        <p>
            You can maximize the card by using <code>[actions]="['expand']"</code> along with
            <code> &lt;core-card&gt;&lt;core-card&gt;</code> component.
          </p>
      <p class="mt-1">component.html :</p>
      <markdown lineNumbers ngPreserveWhitespaces>
        ```html
        &lt;core-card [actions]="['expand']">
          &lt;div class="core-card-title">Expand Card&lt;/div>
          &lt;div class="core-card-body"> Body
          &lt;/div>
        &lt;/core-card>
        ```
      </markdown>
    <img src="../../../assets/images/core-card/core-card-expand.gif" class="img-fluid mt-1" alt="core card expand gif">

    </div>
  </div>
  <!-- Expand Card -->

<!-- API -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">API</h4>
    </div>
    <div class="card-body">
      <p></p>
      <table class="table table-bordered">
        <thead>
          <th>Component</th>
          <th>Selector</th>
          <th>Input</th>
          <th width="50%">Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>CoreCardComponent</strong></td>
            <td><code>core-card</code></td>
            <td>
              <code>actions</code>
              <p>
                Type: String[]
              </p>
            </td>
            <td>Create <strong>collapsible | Refresh | Remove | Expand</strong> action card by passing <code>['collapse' | 'expand' | 'reload' | 'close']</code> to <code>actions</code> input property.</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <th>Property</th>
          <th>Class</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td><code>.core-card-title</code></td>
            <td>To add Title to the core-card component.</td>
          </tr>
          <tr>
            <td><strong>Body</strong></td>
            <td><code>.core-card-body</code></td>
            <td>To add Body to the core-card component.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- API -->
