.theme-container.custom-page-class {
  background: rgb(145, 158, 249) !important;
  color: rgb(20, 232, 195);
}

.vs-button.large
  font-size: 1.1em

.btn-group
  display: inline-flex
  button
    padding: 12px 14.25px !important;


  :not(:last-child)
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  :not(:first-child)
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

.btn-group-vertical

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  button
    padding: 12px 14.25px !important;
    width: 100%;

  :not(:first-child)
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  :not(:last-child)
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

.con-box
  ul
    list-style unset
    margin-left 0rem !important

.custom-block ul
  margin-left: 20px !important


  ol
    list-style-type decimal


// Vue code styles

.con-vuecode
  .con-demo
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    .header
      border-radius 7px !important

.con-code
  box-shadow none !important
  margin-bottom 0px
  margin-top 10px
  border-radius 0 !important

.content-vc
  pre
    border-radius 0 !important
